openapi: 3.2.0
info:
  title: GoFundMe Pro FAQ API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: FAQ
  description: 'An FAQ (short for Frequently Asked Question) is a means of answering common questions that donors or registrants may

    have when donating/registering for a campaign. These question/answer pairs will be publicly displayed on the checkout page for your campaign.'
paths:
  /campaigns/{campaign}/faqs:
    get:
      tags:
      - FAQ
      summary: ListCampaignFAQs
      description: List all FAQs for specified campaign
      operationId: ListCampaignFAQs
      parameters:
      - name: campaign
        in: path
        description: ID of desired Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FAQs
                      type: array
                      items:
                        $ref: '#/components/schemas/FAQ'
                    first_page_url:
                      example: '{host}/campaigns/227362/faqs?page=1'
                    last_page_url:
                      example: '{host}/campaigns/227362/faqs?page=1'
                    path:
                      example: '{host}/campaigns/227362/faqs'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - FAQ
      summary: createFAQ
      description: Create a FAQ for a campaign
      operationId: createFAQ
      parameters:
      - name: campaign
        in: path
        description: ID of desired Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FAQFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQ'
        '400':
          description: Malformed request made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /faqs/{faq}:
    get:
      tags:
      - FAQ
      summary: fetchFAQ
      description: Fetch specified FAQ
      operationId: fetchFAQ
      parameters:
      - name: faq
        in: path
        description: Primary identifier of FAQ
        required: true
        schema:
          type: integer
          example: 321
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQ'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: FAQ not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - FAQ
      summary: updateFAQ
      description: Update a FAQ
      operationId: updateFAQ
      parameters:
      - name: faq
        in: path
        description: Primary identifier of FAQ
        required: true
        schema:
          type: integer
          example: 321
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FAQFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQ'
        '400':
          description: Malformed request made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: FAQ not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    delete:
      tags:
      - FAQ
      summary: deleteFAQ
      description: Delete a FAQ
      operationId: deleteFAQ
      parameters:
      - name: faq
        in: path
        description: Primary identifier of FAQ
        required: true
        schema:
          type: integer
          example: 321
      responses:
        '200':
          description: Success
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: FAQ not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    FAQFillable:
      title: Fillable Frequently Asked Questions
      properties:
        answer:
          description: FAQ Answer Body
          type: string
          format: string
          maxLength: 500
          example: The answer to this question is 42
        question:
          description: FAQ Body
          type: string
          format: string
          maxLength: 100
          example: What is a question?
        tag:
          description: Tags assigned to the FAQ
          type:
          - string
          - 'null'
          enum:
          - tax
          - other
          example: other
        weight:
          description: Identify the importance of this Question when sorting
          type: integer
          maximum: 255
          minimum: 0
          example: 10
      type: object
    FAQ:
      title: Frequently Asked Questions
      properties:
        answer:
          description: FAQ Answer Body
          type: string
          format: string
          maxLength: 500
          example: The answer to this question is 42
        campaign_id:
          description: Primary identifier of the associated Campaign
          type: integer
          example: 227362
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 9384
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        question:
          description: FAQ Body
          type: string
          format: string
          maxLength: 100
          example: What is a question?
        tag:
          description: Tags assigned to the FAQ
          type:
          - string
          - 'null'
          enum:
          - tax
          - other
          example: other
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        weight:
          description: Identify the importance of this Question when sorting
          type: integer
          maximum: 255
          minimum: 0
          example: 10
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
