openapi: 3.2.0
info:
  title: GoFundMe Pro Source Tracking Codes API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Source Tracking Codes
  description: Some Organizations have multiple marketing channels to support their cause. Source Tracking Codes are internal codes GoFundMe Pro uses to identify which marketing channel a Supporter passed through.
paths:
  /campaigns/{campaign}/source-tracking-codes:
    get:
      tags:
      - Source Tracking Codes
      summary: listCampaignSourceTrackingCodes
      description: Lists all Source Tracking Codes which are managed by the specified Campaign.
      operationId: listCampaignSourceTrackingCodes
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - name: fundraisingTeams
        in: query
        description: Flag to fetch source codes associated to Fundraising Teams under the Campaign.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - name: fundraisingPages
        in: query
        description: Flag to fetch source codes associated to Fundraising Pages under the Campaign.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - name: transactions
        in: query
        description: Flag to fetch source codes associated to Transactions under the Campaign.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Source Tracking Codes
                      type: array
                      items:
                        $ref: '#/components/schemas/SourceTrackingCode'
                    first_page_url:
                      example: '{host}/campaigns/{campaign}/source-tracking-codes?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{campaign}/source-tracking-codes?page=1'
                    path:
                      example: '{host}/campaigns/{campaign_id}/source-tracking-codes'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/source-tracking-codes:
    get:
      tags:
      - Source Tracking Codes
      summary: listOrganizationSourceTrackingCodes
      description: Lists all Source Tracking Codes which are managed by the specified Organization.
      operationId: listOrganizationSourceTrackingCodes
      parameters:
      - name: organization
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      - name: fundraisingTeams
        in: query
        description: Flag to fetch source codes associated to Fundraising Teams under the Organization.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - name: fundraisingPages
        in: query
        description: Flag to fetch source codes associated to Fundraising Pages under the Organization.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - name: transactions
        in: query
        description: Flag to fetch source codes associated to Transactions under the Organization.
        required: false
        schema:
          type: boolean
          default: false
          example: true
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Source Tracking Codes
                      type: array
                      items:
                        $ref: '#/components/schemas/SourceTrackingCode'
                    first_page_url:
                      example: '{host}/organization/{organization}/source-tracking-codes?page=1'
                    last_page_url:
                      example: '{host}/organization/{organization}/source-tracking-codes?page=1'
                    path:
                      example: '{host}/organization/{organization}/source-tracking-codes'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    SourceTrackingCodeFillable:
      title: Source Tracking Code Fillable
      properties:
        c_src:
          description: Primary Source Tracking Code. At least one of c_src, c_src2, or a supported utm property is required.
          type: string
          example: Code123
        c_src2:
          description: Secondary Source Tracking Code. At least one of c_src, c_src2, or a supported utm property is required.
          type: string
          example: Code123
        referrer:
          description: Name of referrer for Source Tracking Code
          type:
          - string
          - 'null'
          maxLength: 2047
          example: www.gofundme.com
        utm:
          description: UTM tracking parameters for Source Tracking Code. Supported keys are utm_source, utm_medium, utm_campaign, utm_content, and utm_term. At least one of c_src, c_src2, or a supported utm property is required.
          properties:
            utm_source:
              type:
              - string
              - 'null'
              maxLength: 255
              example: google
            utm_medium:
              type:
              - string
              - 'null'
              maxLength: 255
              example: cpc
            utm_campaign:
              type:
              - string
              - 'null'
              maxLength: 255
              example: spring
            utm_content:
              type:
              - string
              - 'null'
              maxLength: 255
              example: banner
            utm_term:
              type:
              - string
              - 'null'
              maxLength: 255
              example: donate
          type:
          - object
          - 'null'
          example:
            utm_source: google
            utm_medium: cpc
            utm_campaign: spring
          additionalProperties: false
        event_type:
          description: Event type for Source Tracking Code
          type: string
          maxLength: 255
          example: landing_page.hit
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    SourceTrackingCode:
      title: Source Tracking Code
      type: object
      allOf:
      - $ref: '#/components/schemas/SourceTrackingCodeFillable'
      - properties:
          id:
            description: Primary identifier of Source Tracking Code
            type: integer
            example: 9597
          trackable_id:
            description: Primary identifier of associated trackable resource. This is required with trackable_type. Resource can be either Fundraising Page, Fundraising Team or Transaction.
            type:
            - integer
            - 'null'
            example: 8734
          trackable_type:
            description: The type of Resource. This is required with trackable_id
            type:
            - string
            - 'null'
            enum:
            - fundraising_page
            - fundraising_team
            - transaction
            example: transaction
          created_at:
            description: Date/time of initial Source Tracking Code creation
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
          updated_at:
            description: Date/time of Source Tracking Code last updated
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
        type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
