openapi: 3.2.0
info:
  title: GoFundMe Pro Recurring Donation Plan History API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Recurring Donation Plan History
  description: A Recurring Donation Plan History is a history record of Recurring Donation Plan.
paths:
  /recurring-donation-plans/{recurring_donation_plan}/history:
    get:
      tags:
      - Recurring Donation Plan History
      summary: listRecurringDonationPlanHistory
      description: List the history for a Recurring Donation Plan
      operationId: listRecurringDonationPlanHistory
      parameters:
      - name: recurring_donation_plan
        in: path
        description: Primary identifier of Recurring Donation Plan
        required: true
        schema:
          type: integer
          example: 85456
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Recurring Donation Plan History for specific Recurring Donation Plan
                      type: array
                      items:
                        $ref: '#/components/schemas/RecurringDonationPlanHistory'
                    first_page_url:
                      example: '{host}/recurring-donation-plans/{recurring_id}/history?page=1'
                    last_page_url:
                      example: '{host}/recurring-donation-plans/{recurring_id}/history?page=1'
                    path:
                      example: '{host}/recurring-donation-plans/{recurring_id}/history'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Recurring Donation Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/recurring-donation-history:
    get:
      tags:
      - Recurring Donation Plan History
      summary: listOrganizationRecurringDonationPlanHistory
      description: Retrieve a list of all the Recurring Donation Plan History for the given organization.
      operationId: listOrganizationRecurringDonationPlanHistory
      parameters:
      - name: organization
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Recurring Donation Plan History for specific Organization
                      type: array
                      items:
                        $ref: '#/components/schemas/RecurringDonationPlanHistory'
                    first_page_url:
                      example: '{host}/organizations/{organization}/recurring-donation-history?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organization}/recurring-donation-history?page=1'
                    path:
                      example: '{host}/organizations/{organization}/recurring-donation-history'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    RecurringDonationPlanHistoryFillable:
      title: Recurring Donation Plan History Fillable
      properties:
        error_msg:
          description: Error message for the Recurring Donation Plan History
          type:
          - string
          - 'null'
          maxLength: 100
          example: There was an error
        raw_currency_code:
          description: The currency code of the plan's transactions.
          type:
          - string
          - 'null'
          example: CAD
        raw_donation_amount:
          description: The value donated, in the raw currency
          type:
          - number
          - 'null'
          format: float
          minimum: 0
          example: 50
        type:
          description: Type of Recurring Donation Plan
          type: string
          enum:
          - created
          - payment_failed
          - updated_profile
          - payment
          - admin_canceled
          - member_canceled
          - reprocess_payment_failed
          - reprocess_payment
          - member_paused
          - admin_paused
          - member_resumed
          - admin_resumed
          - reactivated
          - system_reconciled
          example: created
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    RecurringDonationPlanHistory:
      title: Recurring Donation Plan History
      type: object
      allOf:
      - $ref: '#/components/schemas/RecurringDonationPlanHistoryFillable'
      - properties:
          id:
            description: Primary identifier of Recurring Donation Plan History
            type: integer
            example: 559879
          recurring_id:
            description: Primary identifier of Recurring Donation Plan
            type: integer
            example: 85456
          transaction_id:
            description: Primary identifier of Transaction
            type: integer
            example: 1427264
          currency_code:
            description: The currency code of associated RecurringDonationPlan - fall back to the Organization's default currency
            type: string
            example: USD
          donation_amount:
            description: Recurring Donation amount in the Organization's currency
            type: number
            format: float
            minimum: 0
            example: 50
          created_at:
            description: Date/time of initial Recurring Donation Plan History creation
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
        type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
