openapi: 3.2.0
info:
  title: GoFundMe Pro Organizations API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Organizations
  description: Organizations
paths:
  /organizations/{organization_id}/chariot-integration:
    get:
      tags:
      - Organizations
      summary: Get Chariot integration details
      description: Retrieve the Chariot integration details for a specific organization
      operationId: 596c5b8cfa0ea0d1c97a7070481275d6
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      responses:
        '200':
          description: Chariot integration details retrieved successfully
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    example: 1
                  organization_id:
                    type: integer
                    example: 123
                  chariot_organization_id:
                    type: string
                    example: org_123456
                  chariot_connect_id:
                    type: string
                    example: conn_789012
                  active:
                    type: boolean
                    example: true
                  metadata:
                    properties:
                      chariot_organization:
                        type: object
                      chariot_connect:
                        type: object
                      created_by:
                        type: integer
                        example: 456
                    type: object
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization or integration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Organizations
      summary: Create Chariot integration
      description: Create a new Chariot integration for the specified organization
      operationId: dcd0d2ca7a6d61ec1ff4362d73f6e699
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        description: Chariot integration configuration
        required: true
        content:
          application/json:
            schema:
              properties:
                ein:
                  description: Organization EIN (optional if organization already has EIN)
                  type: string
                  example: 12-3456789
                connect_name:
                  description: Name for the Chariot connect (optional)
                  type: string
                  example: My Organization Integration
                webhook_url:
                  description: Webhook URL for notifications (optional)
                  type: string
                  example: https://api.example.com/webhooks/chariot
              type: object
      responses:
        '201':
          description: Chariot integration created successfully
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    example: 1
                  organization_id:
                    type: integer
                    example: 123
                  chariot_organization_id:
                    type: string
                    example: org_123456
                  chariot_connect_id:
                    type: string
                    example: conn_789012
                  active:
                    type: boolean
                    example: true
                  metadata:
                    type: object
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                type: object
        '400':
          description: Bad request - validation errors or business logic errors
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration already exists for this organization
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '409':
          description: Conflict - integration already exists
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration already exists for this organization
                type: object
    delete:
      tags:
      - Organizations
      summary: Delete Chariot integration
      description: Remove the Chariot integration for the specified organization
      operationId: 57eca9dca1c2479d1e46b9313f271cfc
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      responses:
        '200':
          description: Chariot integration deleted successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                type: object
        '400':
          description: Bad request - integration not found or deletion failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration not found for this organization
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization_id}/gfm-npo-page/download-fundraisers-report:
    get:
      tags:
      - Organizations
      summary: Download Fundraisers Report
      description: Downloads the most recent fundraisers report CSV file for an organization
      operationId: downloadFundraisersReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-fund-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No fundraisers report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the fundraisers report download request
                type: object
  /organizations/{organization_id}/gfm-npo-page/download-donations-report:
    get:
      tags:
      - Organizations
      summary: Download Donations Report
      description: Downloads the most recent donations report CSV file for an organization
      operationId: downloadDonationsReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-donation-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No donations report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the donations report download request
                type: object
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
