openapi: 3.2.0
info:
  title: GoFundMe Pro Credit Adjustment API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Credit Adjustment
  description: 'A credit adjustment represents against a debit or credit fundraising entity''s fundraising total (aka total_raised).

    This adjustment represents credit specifically where funds are not captured. A simple example would be a fundraiser receiving credit against his or her goal for volunteer service instead of

    funds raised.'
paths:
  /campaigns/{campaign}/credit-adjustments:
    post:
      tags:
      - Credit Adjustment
      summary: createCampaignCreditAdjustment
      description: Create Credential Adjustment for specified Campaign
      operationId: createCampaignCreditAdjustment
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditAdjustmentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CreditAdjustment'
                - properties:
                    creditable_id:
                      description: Primary identifier of associated Creditable
                      type: integer
                      example: 227362
                    creditable_type:
                      description: Type of associated Creditable
                      type: string
                      enum:
                      - campaign
                      - fundraising_page
                      - fundraising_team
                      example: campaign
                  type: object
        '400':
          description: creditable_type and creditable_id do not correspond to a valid Creditable object
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: creditable_type and creditable_id do not correspond to a valid Creditable object
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-pages/{fundraising_page}/credit-adjustments:
    post:
      tags:
      - Credit Adjustment
      summary: createFundraisingPageCreditAdjustment
      description: Create Credential Adjustment for specified Fundraising Page
      operationId: createFundraisingPageCreditAdjustment
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditAdjustmentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditAdjustment'
        '400':
          description: creditable_type and creditable_id do not correspond to a valid Creditable object
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: creditable_type and creditable_id do not correspond to a valid creditable object
                    deprecated: true
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}/credit-adjustments:
    post:
      tags:
      - Credit Adjustment
      summary: createFundraisingTeamCreditAdjustment
      description: Create Credential Adjustment for specified Fundraising Team
      operationId: createFundraisingTeamCreditAdjustment
      parameters:
      - name: fundraising_team
        in: path
        description: The specified Fundraising Team ID
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditAdjustmentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CreditAdjustment'
                - properties:
                    creditable_id:
                      description: Primary identifier of associated Creditable
                      type: integer
                      example: 209745
                      deprecated: true
                    creditable_type:
                      description: Type of associated Creditable
                      type: string
                      enum:
                      - campaign
                      - fundraising_page
                      - fundraising_team
                      example: fundraising_team
                      deprecated: true
                  type: object
        '400':
          description: creditable_type and creditable_id do not correspond to a valid Creditable object
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: creditable_type and creditable_id do not correspond to a valid creditable object
                    deprecated: true
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    CreditAdjustment:
      title: Credit Adjustment
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 6743
        amount:
          description: The amount of the Credit Adjustment.  Positive values add credit to a Fundraising Entity.  Negative values remove credit
          type: integer
          format: float
          example: -40
        metadata:
          description: Arbitrary JSON metadata
          type: string
          example: '{''foo'':''bar''}'
        memo:
          description: An arbitrary memo about the Credit Adjustment.
          type: string
          maxLength: 255
          example: Credit applied from previous fundraising event.
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        creditable_id:
          description: Primary identifier of associated Creditable
          type: integer
          example: 2173528
        creditable_type:
          description: Type of associated Creditable
          type: string
          enum:
          - campaign
          - fundraising_page
          - fundraising_team
          example: fundraising_page
        amount_received:
          description: The amount of the Credit Adjustment received
          type: integer
          format: float
          example: -40
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          example: 227362
      type: object
    CreditAdjustmentFillable:
      title: Credit Adjustment Fillable
      properties:
        amount:
          description: The amount of the Credit Adjustment.  Positive values add credit to a Fundraising Entity.  Negative values remove credit
          type: integer
          format: float
          example: -40
        metadata:
          description: Arbitrary JSON metadata
          type: string
          example: '{''foo'':''bar''}'
        memo:
          description: An arbitrary memo about the Credit Adjustment.
          type: string
          maxLength: 255
          example: Credit applied from previous fundraising event.
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
