openapi: 3.2.0
info:
  title: GoFundMe Pro Like API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Like
  description: A like is a small show of approval for its associated 'likeable' entity. At the moment, the API allows Stories, Updates, FeedItems, and Comments to be 'likeable'.
paths:
  /feed-items/{feed_item}/likes:
    get:
      tags:
      - Like
      summary: listFeedItemLikes
      description: Retrieves a list of all Likes made for the specified Feed Item
      operationId: listFeedItemLikes
      parameters:
      - name: feed_item
        in: path
        description: Primary identifier of specified Feed Item
        required: true
        schema:
          type: integer
          example: 876
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Likes
                      type: array
                      items:
                        $ref: '#/components/schemas/Like'
                    first_page_url:
                      example: '{host}/feed-items/876/likes?page=1'
                    last_page_url:
                      description: '{host}/feed-items/876/likes?page=1'
                    path:
                      description: '{host}/feed-items/876/likes'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Like
      summary: createFeedItemLike
      description: Create a Like for the specified Feed Item
      operationId: createFeedItemLike
      parameters:
      - name: feed_item
        in: path
        description: Primary identifier of specified Feed Item
        required: true
        schema:
          type: integer
          example: 876
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikeFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Like'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /likes/{like}:
    delete:
      tags:
      - Like
      summary: deleteLike
      description: Delete a Like
      operationId: deleteLike
      parameters:
      - name: like
        in: path
        description: Primary identifier of Like
        required: true
        schema:
          type: integer
          example: 3397
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Like not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /stories/{story}/likes:
    get:
      tags:
      - Like
      summary: listStoryLikes
      description: Retrieves a list of all Likes made for the specified Story
      operationId: listStoryLikes
      parameters:
      - name: story
        in: path
        description: Primary identifier of specified Story
        required: true
        schema:
          type: integer
          example: 736
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Likes
                      type: array
                      items:
                        $ref: '#/components/schemas/LikeStory'
                    first_page_url:
                      example: '{host}/stories/736/likes?page=1'
                    last_page_url:
                      description: '{host}/stories/736/likes?page=1'
                    path:
                      description: '{host}/stories/736/likes'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Story not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Like
      summary: createStoryLike
      description: Create a Like for the specified Story
      operationId: createStoryLike
      parameters:
      - name: story
        in: path
        description: Primary identifier of specified Story
        required: true
        schema:
          type: integer
          example: 736
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikeFillableStory'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeStory'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Story not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /updates/{update}/likes:
    get:
      tags:
      - Like
      summary: listUpdateLikes
      description: Retrieves a list of all Likes made for the specified Update
      operationId: listUpdateLikes
      parameters:
      - name: update
        in: path
        description: Primary identifier of specified Update
        required: true
        schema:
          type: integer
          example: 72631
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Likes
                      type: array
                      items:
                        $ref: '#/components/schemas/LikeUpdate'
                      deprecated: true
                    first_page_url:
                      example: '{host}/updates/72631/likes?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/updates/72631/likes?page=1'
                      deprecated: true
                    path:
                      description: '{host}/updates/72631/likes'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Like
      summary: createUpdateLike
      description: Create a Like for the specified Update
      operationId: createUpdateLike
      parameters:
      - name: update
        in: path
        description: Primary identifier of specified Update
        required: true
        schema:
          type: integer
          example: 72631
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LikeFillableUpdate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeUpdate'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    LikeFillable:
      title: Like (Fillable)
      properties:
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        likeable_id:
          description: Primary identifier of the Entity for which the Like was created
          type:
          - integer
          - 'null'
          example: 876
        likeable_type:
          description: Type of the Entity for which the Like was created
          type:
          - string
          - 'null'
          example: feed_item
      type: object
    LikeFillableUpdate:
      title: Like (Fillable Update)
      type: object
      allOf:
      - $ref: '#/components/schemas/LikeFillable'
      - properties:
          likeable_id:
            type: integer
            example: 72631
          likeable_type:
            type: string
            example: update
        type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    LikeStory:
      title: Like (Story)
      type: object
      allOf:
      - $ref: '#/components/schemas/Like'
      - properties:
          likeable_id:
            type: integer
            example: 736
          likeable_type:
            type: string
            example: story
        type: object
    LikeUpdate:
      title: Like (Update)
      type: object
      allOf:
      - $ref: '#/components/schemas/Like'
      - properties:
          likeable_id:
            type: integer
            example: 72631
          likeable_type:
            type: string
            example: update
        type: object
    Like:
      title: Like
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 3397
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        liker_name:
          description: The full name of the Member who made the Like
          type: string
          example: John Doe
        likeable_id:
          description: Primary identifier of the Entity for which the Like was created
          type:
          - integer
          - 'null'
          example: 876
        likeable_type:
          description: Type of the Entity for which the Like was created
          type:
          - string
          - 'null'
          example: feed_item
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    LikeFillableStory:
      title: Like (Fillable Story)
      type: object
      allOf:
      - $ref: '#/components/schemas/LikeFillable'
      - properties:
          likeable_id:
            type: integer
            example: 736
          likeable_type:
            type: string
            example: story
        type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
