openapi: 3.2.0
info:
  title: GoFundMe Pro Update API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Update
  description: 'A type of post meant for display on a fundraising entity''s page. This allows and administrator for

    the fundraising entity to provide donors or registrants with information about the progress of the campaign and maintain

    a consistent level of engagement during the fundraising entity''s lifetime. There can be multiple published updates per

    fundraising entity.'
paths:
  /campaigns/{campaign}/updates:
    get:
      tags:
      - Update
      summary: listCampaignUpdates
      description: List Campaign Updates
      operationId: listCampaignUpdates
      parameters:
      - name: campaign
        in: path
        description: ID of desired Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Updates
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignUpdate'
                      deprecated: true
                    first_page_url:
                      example: '{host}/campaigns/227362/updates?page=1'
                      deprecated: true
                    last_page_url:
                      example: '{host}/campaigns/227362/updates?page=1'
                      deprecated: true
                    path:
                      example: '{host}/campaigns/227362/updates'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
  /fundraising-pages/{fundraising_page}/updates:
    get:
      tags:
      - Update
      summary: listFundraisingPageUpdates
      description: Lists a fundraising page's progress updates. Used by the fundraiser dashboard Updates tab (search/filter).
      operationId: listFundraisingPageUpdates
      parameters:
      - name: fundraising_page
        in: path
        description: ID of desired Fundraising Page
        required: true
        schema:
          type: integer
          example: 2173528
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Updates
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingPageUpdate'
                    first_page_url:
                      example: '{host}/fundraising-pages/2173528/updates?page=1'
                    last_page_url:
                      example: '{host}/fundraising-pages/2173528/updates?page=1'
                    path:
                      example: '{host}/fundraising-pages/2173528/updates'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Update
      summary: createFundraisingPageUpdate
      description: Creates a progress update on a fundraising page. Used by the fundraiser dashboard Updates tab to post an update to family and friends.
      operationId: createFundraisingPageUpdate
      parameters:
      - name: fundraising_page
        in: path
        description: ID of desired Fundraising Page
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              properties:
                body:
                  description: Main content of Update
                  type: string
                  example: The main reason that I am raising funds for this organization is to...
                status:
                  description: Indication whether Post is a draft or has been published
                  type: string
                  enum:
                  - draft
                  - published
                  example: draft
                title:
                  description: Title of Post
                  type:
                  - string
                  - 'null'
                visibility:
                  description: Visibility of Update (private Updates can only be seen by the Member associated with record)
                  type: string
                  enum:
                  - private
                  - public
                  example: public
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingPageUpdate'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}/updates:
    get:
      tags:
      - Update
      summary: listFundraisingTeamUpdates
      description: Lists a fundraising team's progress updates. Used by the team dashboard Updates tab (search/filter).
      operationId: listFundraisingTeamUpdates
      parameters:
      - name: fundraising_team
        in: path
        description: ID of desired Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Updates
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeamUpdate'
                    first_team_url:
                      example: '{host}/fundraising-teams/209745/updates?page=1'
                    last_team_url:
                      example: '{host}/fundraising-teams/209745/updates?page=1'
                    path:
                      example: '{host}/fundraising-teams/209745/updates'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Update
      summary: createFundraisingTeamUpdate
      description: Creates a progress update on a fundraising team. Used by the team dashboard Updates tab to post an update to family and friends.
      operationId: createFundraisingTeamUpdate
      parameters:
      - name: fundraising_team
        in: path
        description: ID of desired Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              properties:
                body:
                  description: Main content of Update
                  type: string
                  example: The main reason that I am raising funds for this organization is to...
                status:
                  description: Indication whether post is a draft or has been published
                  type: string
                  enum:
                  - draft
                  - published
                  example: draft
                title:
                  description: Title of Post
                  type:
                  - string
                  - 'null'
                visibility:
                  description: "Visibility of Update (private Updates can only be seen by the Member associated\n    with record)"
                  type: string
                  enum:
                  - private
                  - public
                  example: public
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeamUpdate'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /updates/{update}:
    get:
      tags:
      - Update
      summary: fetchUpdate
      description: Fetch Update
      operationId: fetchUpdate
      parameters:
      - name: update
        in: path
        description: Primary identifier of Update
        required: true
        schema:
          type: integer
          example: 72631
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignUpdate'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Update
      summary: updateUpdate
      description: Update Update
      operationId: updateUpdate
      parameters:
      - name: update
        in: path
        description: Primary identifier of Update
        required: true
        schema:
          type: integer
          example: 72631
      requestBody:
        content:
          application/json:
            schema:
              properties:
                body:
                  description: Main content of Update
                  type: string
                  example: The main reason that I am raising funds for this organization is to...
                  deprecated: true
                status:
                  description: Indication whether Post is a draft or has been published
                  type: string
                  enum:
                  - draft
                  - published
                  example: draft
                  deprecated: true
                title:
                  description: Title of Post
                  type:
                  - string
                  - 'null'
                  deprecated: true
                visibility:
                  description: "Visibility of Update (private Updates can only be seen by the Member associated\n    with record)"
                  type: string
                  enum:
                  - private
                  - public
                  example: public
                  deprecated: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignUpdate'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Update
      summary: deleteUpdate
      description: Delete Update
      operationId: deleteUpdate
      parameters:
      - name: update
        in: path
        description: Primary identifier of Update
        required: true
        schema:
          type: integer
          example: 72631
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    Update:
      title: Update
      type: object
      allOf:
      - $ref: '#/components/schemas/Post'
      - properties:
          asset_id:
            description: ID of associated Asset
            type:
            - integer
            - 'null'
            example: 4521
          asset_url:
            description: CDN URL of associated Asset
            type:
            - string
            - 'null'
            example: https://cdn.example.com/assets/4521.jpg
          body:
            description: Main content of Update
            type: string
            example: Thank you everyone for the progress we've made so far! We have five days until...
          id:
            description: Primary identifier of record
            type: integer
            example: 72631
          latest_comments:
            description: Array of latest Comments made in response to Update (limit 2 items)
            type: array
            items:
              $ref: '#/components/schemas/UpdateComment'
          visibility:
            description: Visibility of Update (private updates can only be seen by the Member associated with record)
            type: string
            enum:
            - private
            - public
            example: public
        type: object
      - $ref: '#/components/schemas/FundraisingTeamPost'
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    Post:
      title: Post
      properties:
        body:
          description: Main content of Post
          type: string
        comments_count:
          description: Cached count of the number of Comments made in response to Post
          type: integer
          example: 3
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        latest_comments:
          description: Array of latest Comments made in response to Post (limit 2 items)
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        likes_count:
          description: Cached count of the number of Likes that Post has received
          type: integer
          example: 14
        member_id:
          description: Primary identifier of Member who created Post (i.e. the poster)
          type: integer
          example: 2012
        postable_id:
          description: Primary identifier of Fundraising Entity for which the Post was made
          type: integer
        postable_type:
          description: String describing type of Fundraising Entity for which the Post was made
          type: string
        poster_name:
          description: Full name of Post's creator
          type:
          - string
          - 'null'
          example: Buster McTest
        shares_count:
          description: Cached count of the number of times Post has been shared
          type: integer
          example: 8
        status:
          description: Indication whether Post is a draft or has been published
          type: string
          enum:
          - draft
          - published
          example: published
        title:
          description: Title of Post
          type:
          - string
          - 'null'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        views_count:
          description: Cached count of the number of times Post has been viewed
          type: integer
          example: 46
      type: object
    CampaignUpdate:
      title: Update (Campaign)
      type: object
      allOf:
      - $ref: '#/components/schemas/Update'
      - properties:
          postable_id:
            description: Primary identifier of Fundraising Entity for which the Post was made
            type: integer
            example: 2012
          postable_type:
            description: String describing type of Fundraising Entity for which the Post was made
            type: string
            example: campaign
        type: object
      - $ref: '#/components/schemas/FundraisingTeamPost'
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    UpdateComment:
      title: Comment (Update)
      type: object
      allOf:
      - $ref: '#/components/schemas/Comment'
      - properties:
          commentable_id:
            type: integer
            example: 736
          commentable_type:
            type: string
            example: update
        type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Comment:
      title: Comment
      properties:
        body:
          description: The content of the Comment
          type: string
          example: Example Comment
        commentable_id:
          description: Primary identifier of associated Commentable Entity
          type: integer
          example: 876
        commentable_type:
          description: Type of associated Commentable Entity
          type: string
          enum:
          - feed_item
          - update
          - story
          example: feed_item
        commenter_name:
          description: The full name of the creator of the Comment. CFA semantics apply only to comments embedded in a parent FeedItem's `latest_comments` (the FeedItem-level `getLatestCommentsAttribute` override drives the privacy pass). For comments returned by the standalone Post / Story / Update comment endpoints, the legacy shape is preserved regardless of the org's Contact-First Architecture flag — those surfaces are tracked for migration under PRO-4055. When CFA applies (FeedItem-embedded path) and the flag is on (npo_apiv2_ff_contact_first_architecture), this returns the supporter-derived display name (or empty string when no Supporter is found) instead of the member's name. Prefer the new `author_display_name` field for new consumers — `commenter_name` is preserved for back-compat with existing apps and will be cleaned up per-app under PRO-2280.
          type: string
          example: GoFundMe Pro Commenter
        author_display_name:
          description: 'Supporter-derived display name for the comment author. Populated only on FeedItem-embedded comments (`latest_comments`) — the standalone Post / Story / Update comment endpoints do not include this property; that gap is tracked for migration under PRO-4055. On the FeedItem-embedded path: populated when the owning Organization has Contact-First Architecture enabled (npo_apiv2_ff_contact_first_architecture); also populated (often null) on the fail-closed path when the owning Organization cannot be resolved for the parent FeedItem on a supporter-bearing feedable type. Null when no Supporter record matches the commenter for that org. New consumers should prefer this field over `commenter_name`.'
          type:
          - string
          - 'null'
          example: Pat Supporter
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 47281
        likes_count:
          description: Amount of likes a Comment has received
          type: integer
          example: 5
        member_id:
          description: The ID of the Member that created of the Comment
          type: integer
          example: 2012
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
      type: object
    FundraisingPageUpdate:
      title: Update (Fundraising Page)
      type: object
      allOf:
      - $ref: '#/components/schemas/Update'
      - properties:
          postable_id:
            description: Primary identifier of Fundraising Entity for which the Post was made
            type: integer
            example: 2173528
          postable_type:
            description: String describing type of Fundraising Entity for which the Post was made
            type: string
            example: fundraising_page
        type: object
      - $ref: '#/components/schemas/FundraisingTeamPost'
    FundraisingTeamPost:
      title: Post (Fundraising Team)
      type: object
      allOf:
      - $ref: '#/components/schemas/Post'
      - properties:
          postable_id:
            description: Primary identifier of Fundraising Entity for which the Post was made
            type: integer
            example: 209745
          postable_type:
            description: String describing type of Fundraising Entity for which the Post was made
            type: string
            example: fundraising_team
        type: object
    FundraisingTeamUpdate:
      title: Update (Fundraising Team)
      type: object
      allOf:
      - $ref: '#/components/schemas/Update'
      - properties:
          postable_id:
            description: Primary identifier of Fundraising Entity for which the Post was made
            type: integer
            example: 209745
          postable_type:
            description: String describing type of Fundraising Entity for which the Post was made
            type: string
            example: fundraising_team
        type: object
      - $ref: '#/components/schemas/FundraisingTeamPost'
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
