openapi: 3.2.0
info:
  title: GoFundMe Pro Hard Credit Transfer API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Hard Credit Transfer
  description: A hard credit transfer is a means of transferring a hard credit (i.e. transaction) between fundraising entities associated with the same organization.
paths:
  /transactions/{transaction}/hard-credit-transfers:
    post:
      tags:
      - Hard Credit Transfer
      summary: createHardCreditTransfer
      description: Creates a Hard Credit Transfer for the specified Transaction, thereby re-attributing it to the new Fundraising Entity
      operationId: createHardCreditTransfer
      parameters:
      - name: transaction
        in: path
        description: Primary identifier of specified Transaction
        required: true
        schema:
          type: integer
          example: 8734
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HardCreditTransferFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardCreditTransfer'
        '400':
          description: '''to'' is not a valid creditable type'
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: '''to'' is not a valid creditable type'
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    HardCreditTransfer:
      title: Hard Credit Transfer
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 6579
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        transaction_id:
          description: Primary identifier of associated Transaction
          type: integer
          example: 1427264
        from_creditable_type:
          description: Type of Fundraising Entity from which the Transaction was transferred
          type: string
          enum:
          - campaign
          - fundraising_page
          - fundraising_team
          example: fundraising_page
        from_creditable_id:
          description: Primary identifier of associated Fundraising Entity
          type: integer
          example: 2173528
        to_creditable_type:
          description: Type of Fundraising Entity to which the Transaction was transferred
          type: string
          enum:
          - campaign
          - fundraising_page
          - fundraising_team
          example: fundraising_team
        to_creditable_id:
          description: Primary identifier of associated Fundraising Entity
          type: integer
          example: 209745
        note:
          description: Memo describing details of / reason for Transfer
          type: string
          maxLength: 255
          example: Fixed an error
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    HardCreditTransferFillable:
      title: Hard Credit Transfer Fillable
      properties:
        note:
          description: Memo describing details of / reason for Transfer
          type: string
          maxLength: 255
          example: Fixed an error
        to:
          properties:
            type:
              description: Type of page
              type: string
              enum:
              - campaign
              - fundraising_page
              - fundraising_team
              example: campaign
            id:
              description: ID of the page
              type: integer
              example: 227362
          type: object
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
