openapi: 3.2.0
info:
  title: GoFundMe Pro Fundraising Team Policy API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Fundraising Team Policy
  description: 'The Fundraising Team Policy represents a settings policy that can be applied to a Fundraising Team (parent, or sub-team). Fundraising Team Policy

    attributes will effect the behavior of the Team and allow or restrict certain actions such as sub-team or Fundraising Page creation. Fundraising Teams and

    Fundraising Team Policies share a 1:1 relationship and Fundraising Team Policy attributes are set when creating a Fundraising Team.'
paths:
  /fundraising-team-policies/{fundraising_team_policy}:
    get:
      tags:
      - Fundraising Team Policy
      summary: fetchFundraisingTeamPolicy
      description: Fetch specified Fundraising Team Policy
      operationId: fetchFundraisingTeamPolicy
      parameters:
      - name: fundraising_team_policy
        in: path
        description: Primary identifier of Fundraising Team Policy
        required: true
        schema:
          type: integer
          example: 2354
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeamPolicy'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    put:
      tags:
      - Fundraising Team Policy
      summary: updateFundraisingTeamPolicy
      description: Update specified Fundraising Team Policy
      operationId: updateFundraisingTeamPolicy
      parameters:
      - name: fundraising_team_policy
        in: path
        description: Primary identifier of Fundraising Team Policy
        required: true
        schema:
          type: integer
          example: 2354
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraisingTeamPolicyFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeamPolicy'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team Policy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization}/fundraising-team-policies:
    get:
      tags:
      - Fundraising Team Policy
      summary: listOrganizationFundraisingTeamPolicies
      description: Retrieves a list of all Fundraising Team Policies for the specified Orgnaization
      operationId: listOrganizationFundraisingTeamPolicies
      parameters:
      - name: organization
        in: path
        description: Primary identifier for specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Team Policies
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeamPolicy'
                    first_page_url:
                      example: '{host}/organizations/82364/fundraising-team-policies?page=1'
                    last_page_url:
                      description: '{host}/organizations/82364/fundraising-team-policies?page=1'
                    path:
                      description: '{host}/organizations/82364/fundraising-team-policies'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    FundraisingTeamPolicy:
      title: Fundraising Team Policy
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 2354
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        allow_subteams:
          description: Indicates whether subteams are allowed under this Team
          type: boolean
          example: false
        allow_fundraising_pages:
          description: Indicates whether Fundraising Pages are allowed under this Team
          type: boolean
          example: true
        allow_transactions:
          description: Indicates whether Transactions are allowed under this Team
          type: boolean
          example: true
        allow_cross_campaign_fundraisers:
          description: Indicates whether Fundraisers from other Campaigns are allowed to join this Team
          type: boolean
          example: true
        allocation_method:
          description: Allocation method for this Team
          type: string
          enum:
          - manual
          - automatic-even-split
          example: manual
        fundraising_team_id:
          description: Primary identifier of associated Fundraising Team
          type: integer
          example: 209745
        min_members:
          description: Minimum Members required before the Team is considered active
          type: integer
          example: 1
        max_members:
          description: Maximum Members allowed for this Team
          type: integer
          example: 10
        fundraiser_registration_policy:
          description: Fundraiser and Sub-team Registration Policy for this Team
          type: string
          enum:
          - public
          - private-confirmation-required
          - private-invite-only
          - private-password
          - admin-only
          example: public
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    FundraisingTeamPolicyFillable:
      title: Fundraising Team Policy Fillable
      properties:
        allow_subteams:
          description: Indicates whether SubTeams are allowed under this Team
          type: boolean
          example: false
        allow_fundraising_pages:
          description: Indicates whether Fundraising Pages are allowed under this Team
          type: boolean
          example: true
        allow_transactions:
          description: Indicates whether Transactions are allowed under this Team
          type: boolean
          example: true
        allow_cross_campaign_fundraisers:
          description: Indicates whether Fundraisers from other Campaigns are allowed to join this Team
          type: boolean
          example: true
        allocation_method:
          description: Allocation method for this Team
          type: string
          enum:
          - manual
          - automatic-even-split
          example: manual
        min_members:
          description: Minimum Members required before the Team is considered active
          type: integer
          example: 1
        max_members:
          description: Maximum Members allowed for this Team
          type: integer
          example: 10
        fundraiser_registration_policy:
          description: Fundraiser and Sub-team Registration Policy for this Team
          type: string
          enum:
          - public
          - private-confirmation-required
          - private-invite-only
          - private-password
          - admin-only
          example: public
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
