openapi: 3.2.0
info:
  title: GoFundMe Pro Acknowledgement API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Acknowledgement
  description: 'An acknowledgement is a means of indicating that the member who made a transaction has been formally thanked. Every acknowledgement is made by the associated member, optionally on behalf of another fundraising entity.

    Acknowledgements should be created after a donator has been contacted via email, comment, etc.'
paths:
  /transactions/{transaction}/acknowledgements:
    get:
      tags:
      - Acknowledgement
      summary: listAcknowledgements
      description: Retrieves a list of all Acknowledgements made for the specified Transaction
      operationId: listAcknowledgements
      parameters:
      - name: transaction
        in: path
        description: The specified Transaction ID
        required: true
        schema:
          type: integer
          example: 1427264
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Acknowledgements
                      type: array
                      items:
                        $ref: '#/components/schemas/Acknowledgement'
                    first_page_url:
                      example: '{host}/transaction/1427264/acknowledgements?page=1'
                    last_page_url:
                      description: '{host}/transaction/1427264/acknowledgements?page=1'
                    path:
                      description: '{host}/transaction/1427264/acknowledgements'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Acknowledgement
      summary: createAcknowledgement
      description: Create Acknowledgement for specified Transaction
      operationId: createAcknowledgement
      parameters:
      - name: transaction
        in: path
        description: The specified Transaction ID
        required: true
        schema:
          type: integer
          example: 1427264
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgementFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Acknowledgement:
      title: Acknowledgement
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 427
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        transaction_id:
          description: Primary identifier of associated Transaction
          type: integer
          example: 1427264
        fundraising_entity_id:
          description: Primary identifier of associated Fundraising Entity
          type:
          - integer
          - 'null'
          example: 444
        fundraising_entity_type:
          description: Type of associated Fundraising Entity
          type:
          - string
          - 'null'
          enum:
          - organization
          - campaign
          - fundraisingPage
          - fundraisingTeam
          example: organization
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    AcknowledgementFillable:
      title: AcknowledgementFillable
      properties:
        fundraising_entity_id:
          description: Primary identifier of associated Fundraising Entity
          type:
          - integer
          - 'null'
          example: 444
        fundraising_entity_type:
          description: Type of associated Fundraising Entity
          type:
          - string
          - 'null'
          enum:
          - organization
          - campaign
          - fundraisingPage
          - fundraisingTeam
          example: organization
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
