openapi: 3.2.0
info:
  title: GoFundMe Pro Reports API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Reports
  description: Reports
paths:
  /organizations/{organization_id}/gfm-npo-page/download-fundraisers-report:
    get:
      tags:
      - Reports
      summary: Download Fundraisers Report
      description: Downloads the most recent fundraisers report CSV file for an organization
      operationId: downloadFundraisersReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-fund-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No fundraisers report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the fundraisers report download request
                type: object
  /organizations/{organization_id}/gfm-npo-page/download-donations-report:
    get:
      tags:
      - Reports
      summary: Download Donations Report
      description: Downloads the most recent donations report CSV file for an organization
      operationId: downloadDonationsReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-donation-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No donations report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the donations report download request
                type: object
components:
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
