openapi: 3.2.0
info:
  title: GoFundMe Pro Donation Matching Plan API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Donation Matching Plan
  description: 'Donation matching occurs when a Sponsor - company or individual - agrees to match your campaign donations for a

    specific time period and/or up to a certain limit.'
paths:
  /campaigns/{campaign}/donation-matching-plans:
    get:
      tags:
      - Donation Matching Plan
      summary: listCampaignDonationMatchingPlans
      description: Retrieves a list of all Donation Matching Plans for specified Campaign
      operationId: listCampaignDonationMatchingPlans
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of Donation Matching Plan
        required: true
        schema:
          type: integer
          example: 227362
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Donation Matching Plans
                      type: array
                      items:
                        $ref: '#/components/schemas/DonationMatchingPlan'
                    first_page_url:
                      example: '{host}/campaigns/227362/donation-matching-plans?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/donation-matching-plans?page=1'
                    path:
                      description: '{host}/campaigns/227362/donation-matching-plans'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Donation Matching Plan
      summary: createDonationMatchingPlan
      description: Create a Donation Matching Plan for specified Campaign
      operationId: createDonationMatchingPlan
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of Donation Matching Plan
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationMatchingPlan'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationMatchingPlan'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /donation-matching-plans/{donation_matching_plan}:
    get:
      tags:
      - Donation Matching Plan
      summary: fetchDonationMatchingPlan
      description: Fetch specified Donation Matching Plan
      operationId: fetchDonationMatchingPlan
      parameters:
      - name: donation_matching_plan
        in: path
        description: Primary identifier of Donation Matching Plan
        required: true
        schema:
          type: integer
          example: 23847
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationMatchingPlan'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Donation Matching Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    put:
      tags:
      - Donation Matching Plan
      summary: updateDonationMatchingPlan
      description: Update a Donation Matching Plan
      operationId: updateDonationMatchingPlan
      parameters:
      - name: donation_matching_plan
        in: path
        description: Primary identifier of Donation Matching Plan
        required: true
        schema:
          type: integer
          example: 23847
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationMatchingPlan'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationMatchingPlan'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Donation Matching Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    DonationMatchingPlan:
      title: Donation Matching Plan
      required:
      - business_name
      - started_at
      - timezone_identifier
      properties:
        id:
          description: Primary identifier of record
          type: integer
          readOnly: true
          example: 23847
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          readOnly: true
          example: 227362
        currency_code:
          description: Currency in which the Donation Matching Plan matches donations. The currency cannot be modified after the DonationMatchingPlan is created.
          type: string
          example: USD
        matching_limit_amount:
          description: Total amount in the Donation Matching Plan currency the sponsor is willing to match. 0 means unlimited.
          type:
          - number
          - 'null'
          minimum: 0
          example: 5000
        started_at:
          description: Date/time of the beginning of the sponsor's matching period
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        ended_at:
          description: Date/time of the end of the sponsor's matching period. The value must be after the `started_at` value.
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-24T10:25:03Z'
        business_name:
          description: Name of the sponsor. Will be displayed in feed items when matching donations
          type: string
          example: Sponsor Name
        timezone_identifier:
          description: Sponsor timezone
          type: string
          example: Europe/Paris
        matched_amount:
          description: Total amount the sponsor has currently matched, in the currency of the Donation Matching Plan
          type: integer
          minimum: 0
          readOnly: true
          example: 4200
        asset_id:
          description: Primary identifier of sponsor thumbnail Asset which will be displayed in Feed Items
          type:
          - integer
          - 'null'
          example: 1145
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          readOnly: true
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          readOnly: true
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
