openapi: 3.2.0
info:
  title: GoFundMe Pro Campaign Series Iteration API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Campaign Series Iteration
  description: A Campaign Series Iteration is one time span in a Campaign Series, e.g. '2024'
paths:
  /campaign-series-iterations/{campaign_series_iteration}:
    put:
      tags:
      - Campaign Series Iteration
      summary: updateCampaignSeriesIteration
      description: Update a Campaign Series iteration
      operationId: updateCampaignSeriesIteration
      parameters:
      - name: campaign_series_iteration
        in: path
        description: The specified Campaign Series iteration ID
        required: true
        schema:
          type: integer
          example: 73626
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSeriesIterationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSeriesIteration'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign series iteration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Campaign Series Iteration
      summary: deleteCampaignSeriesIteration
      description: Delete a Campaign Series iteration
      operationId: deleteCampaignSeriesIteration
      parameters:
      - name: campaign_series_iteration
        in: path
        description: The specified Campaign Series iteration ID
        required: true
        schema:
          type: integer
          example: 73626
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign series iteration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /campaign-series-iterations/{campaign_series_iteration}/campaigns/{campaign_id}/move-campaign:
    put:
      tags:
      - Campaign Series Iteration
      summary: moveCampaignToCampaignSeriesIteration
      description: This request moves a campaign from an existing campaign series iteration to a new campaign series iteration
      operationId: moveCampaignToCampaignSeriesIteration
      parameters:
      - name: campaign_series_iteration
        in: path
        description: The specified Campaign Series iteration ID
        required: true
        schema:
          type: integer
          example: 123456
      - name: campaign_id
        in: path
        description: The Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dest_iteration_id:
                  description: Destination Campaign Series iteration id
                  type: integer
                  example: 145956
                  deprecated: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign series iteration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    CampaignCollectionFillable:
      title: Campaign Collection Fillable
      properties:
        name:
          description: Public name for the campaign series
          type: string
          example: Test Campaign Series
        description:
          description: Description of the campaign series
          type: string
          example: Annual 5k to raise funds for our mission
      type: object
    CampaignSeriesIterationFillable:
      title: Fillable Campaign Series Iteration
      properties:
        end_date:
          description: Date on which the Campaign Series Iteration ends
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        num_donors_goal:
          description: Donors goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: integer
          example: 1000
        num_fundraisers_goal:
          description: Fundraiser goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: integer
          example: 1000
        num_recurring_donors_goal:
          description: Recurring goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: integer
          example: 1000
        num_teams_goal:
          description: Team goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: integer
          example: 1000
        total_fundraising_goal:
          description: Total fundraising goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: float
          example: 1000
        total_online_fundraising_goal:
          description: Total online fundraising goal for Campaign Series Iteration
          type:
          - integer
          - 'null'
          format: float
          example: 1000
        start_date:
          description: Date on which the Campaign Series Iteration starts
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        previous_iteration_id:
          description: The parent reference iteration representing the 'previous iteration'
          type:
          - integer
          - 'null'
          format: integer
          example: 145987
        campaign_template_id:
          description: The template used when creating new campaigns in this iteration
          type:
          - integer
          - 'null'
          format: integer
          example: 245798
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    CampaignSeriesIteration:
      title: Campaign Series Iteration
      type: object
      allOf:
      - $ref: '#/components/schemas/CampaignSeriesIterationFillable'
      - $ref: '#/components/schemas/CampaignCollectionFillable'
      - properties:
          created_by:
            description: Created By Member Id
            type:
            - integer
            - 'null'
            example: 2012
          id:
            description: Campaign Series Iteration Entity Id
            type:
            - integer
            - 'null'
            example: 45621
          created_at:
            description: Date/time of initial record creation
            type: string
            format: date-time
            readOnly: true
            example: '2021-04-23T08:23:21Z'
          updated_at:
            description: Date/time of record last updated
            type: string
            format: date-time
            readOnly: true
            example: '2021-04-23T08:23:21Z'
        type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
