openapi: 3.2.0
info:
  title: GoFundMe Pro Fundraising Page Transfer API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Fundraising Page Transfer
  description: Transfer Fundraising Page to another Member, Campaign or Fundraising Team.
paths:
  /fundraising-pages/{fundraising_page}/transfers:
    post:
      tags:
      - Fundraising Page Transfer
      summary: createFundraisingPageTransfer
      description: Transfer specified Fundraising Page
      operationId: createFundraisingPageTransfer
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraisingPageTransferFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingPageTransfer'
        '400':
          description: validation errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: A fundraising team is required for the specified campaign's fundraising pages.
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    FundraisingPageTransfer:
      title: Fundraising Page Transfer
      properties:
        id:
          description: Primary identifier of the Fundraising Page Transfer
          type: integer
          example: 7483746
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        destination_campaign_id:
          description: Primary identifier of destination Campaign
          type:
          - integer
          - 'null'
          example: 227362
        destination_fundraising_team_id:
          description: Primary identifier of destination Fundraising Team
          type:
          - integer
          - 'null'
          example: 209745
        destination_member_id:
          description: Primary identifier of destination Member
          type:
          - integer
          - 'null'
          example: 2012
        fundraising_page_id:
          description: Primary identifier of Fundraising Page being transferred
          type: integer
          example: 2173528
        source_campaign_id:
          description: Primary identifier of original Campaign
          type:
          - integer
          - 'null'
          example: 227362
        source_fundraising_team_id:
          description: Primary identifier of original Fundraising Team
          type:
          - integer
          - 'null'
          example: 209745
        source_member_id:
          description: Primary identifier of original Member
          type:
          - integer
          - 'null'
          example: 2012
        transferring_member_id:
          description: Primary identifier of transferring Member
          type: integer
          example: 2012
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    FundraisingPageTransferFillable:
      title: FundraisingPageTransfer Fillable
      properties:
        destination_campaign_id:
          description: Primary identifier of destination Campaign
          type:
          - integer
          - 'null'
          example: 227362
        destination_fundraising_team_id:
          description: Primary identifier of destination Fundraising Team
          type:
          - integer
          - 'null'
          example: 209745
        destination_member_id:
          description: Primary identifier of destination Member
          type:
          - integer
          - 'null'
          example: 2012
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
