openapi: 3.2.0
info:
  title: GoFundMe Pro Soft Credit API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: SoftCredit
  description: Soft credits serve to allocate credit from part or all of the funds raised for a fundraising entity to any of its associated entities. For example, a transaction made against a fundraising team can be allocated to its fundraising pages by creating and associating soft credits in specified amounts that will be considered when calculating each page's progress towards its fundraising goal.
paths:
  /campaigns/{campaign}/soft-credits:
    get:
      tags:
      - SoftCredit
      summary: listCampaignSoftCredits
      description: List Campaign Soft Credits
      operationId: listCampaignSoftCredits
      parameters:
      - name: campaign
        in: path
        description: ID of Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Soft Credits
                      type: array
                      items:
                        $ref: '#/components/schemas/SoftCredit'
                    first_page_url:
                      example: '{host}/campaigns/227362/soft-credits?page=1'
                    last_page_url:
                      example: '{host}/campaigns/227362/soft-credits?page=1'
                    path:
                      example: '{host}/campaigns/227362/soft-credits'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /fundraising-pages/{fundraising_page}/soft-credits:
    get:
      tags:
      - SoftCredit
      summary: listFundraisingPageSoftCredits
      description: List Fundraising Page Soft Credits
      operationId: listFundraisingPageSoftCredits
      parameters:
      - name: fundraising_page
        in: path
        description: ID of Fundraising Page
        required: true
        schema:
          type: integer
          example: 2173528
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Soft Credits
                      type: array
                      items:
                        $ref: '#/components/schemas/SoftCredit'
                    first_page_url:
                      example: '{host}/fundraising-pages/2173528/soft-credits?page=1'
                    last_page_url:
                      example: '{host}/fundraising-pages/2173528/soft-credits?page=1'
                    path:
                      example: '{host}/fundraising-pages/2173528/soft-credits'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /fundraising-teams/{fundraising_team}/soft-credits:
    get:
      tags:
      - SoftCredit
      summary: listFundraisingTeamSoftCredits
      description: List Fundraising Team Soft Credits
      operationId: listFundraisingTeamSoftCredits
      parameters:
      - name: fundraising_team
        in: path
        description: ID of Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Soft Credits
                      type: array
                      items:
                        $ref: '#/components/schemas/SoftCredit'
                    first_page_url:
                      example: '{host}/fundraising-teams/209745/soft-credits?page=1'
                    last_page_url:
                      example: '{host}/fundraising-teams/209745/soft-credits?page=1'
                    path:
                      example: '{host}/fundraising-teams/209745/soft-credits'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    SoftCredit:
      title: SoftCredit
      properties:
        amount:
          description: Amount of the Soft Credit
          type: number
          format: float
          example: 5243.12
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        creditable_id:
          description: ID of associated Fundraising entity
          type: integer
          example: 72634
        creditable_type:
          description: Type of associated Fundraising entity
          type: string
          example: fundraising_page
        id:
          description: ID of the Soft Credit
          type: integer
          example: 285
        memo:
          description: A memo describing the circumstances of the Soft Credit's creation
          type: string
          example: test
        metadata:
          description: Arbitrary JSON metadata
          type: string
          example: '{''foo'':''bar''}'
        soft_credit_transfer_id:
          description: ID of Soft Credit Transfer in which this Soft Credit was created
          type:
          - integer
          - 'null'
          example: 6798
        type:
          description: The Soft Credit's type
          type: string
          enum:
          - transaction
          - refund
          - chargeback
          - allocation
          example: allocation
        campaign_progress_bar_amount:
          description: Campaign Progress Bar Amount
          type:
          - number
          - 'null'
          format: float
          example: 5243.12
        fundraising_team_progress_bar_amount:
          description: Fundraising Team Progress Bar Amount
          type:
          - number
          - 'null'
          format: float
          example: 5243.12
        fundraising_page_progress_bar_amount:
          description: Fundraising Page Progress Bar Amount
          type:
          - number
          - 'null'
          format: float
          example: 5243.12
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
