openapi: 3.2.0
info:
  title: GoFundMe Pro GFM NPO Page API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: GFM NPO Page
  description: GFM NPO Page
paths:
  /organizations/{organization_id}/gfm-npo-page:
    put:
      tags:
      - GFM NPO Page
      summary: Update NPO page profile information
      description: Updates the GoFundMe NPO page profile information for an organization
      operationId: updateNpoPage
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                displayName:
                  description: Display name of the charity
                  type: string
                  maxLength: 255
                  example: Updated Charity Name
                establishedYear:
                  description: Year the charity was established
                  type: integer
                  minimum: 1800
                  example: 2020
                addressLine1:
                  description: Primary address line
                  type: string
                  maxLength: 255
                  example: 123 Main St
                city:
                  description: City name
                  type: string
                  maxLength: 255
                  example: San Francisco
                stateCode:
                  description: Two-letter state code
                  type: string
                  maxLength: 2
                  minLength: 2
                  example: CA
                zipCode:
                  description: ZIP or postal code
                  type: string
                  maxLength: 10
                  example: '12345'
                logoUrl:
                  description: URL to charity logo
                  type: string
                  format: url
                  maxLength: 500
                  example: https://example.com/logo.png
                causeCategories:
                  description: Categories that describe the charity's cause
                  type: array
                  items:
                    type: string
                    maxLength: 100
                  example:
                  - Education
                  - Health
                  - Environment
                mission:
                  description: Mission statement
                  type: string
                  maxLength: 1000
                  example: Our mission is to help people in need through education and healthcare initiatives
                showAddress:
                  description: Whether to display the address publicly
                  type: boolean
                  example: true
                showLinks:
                  description: Whether to display social links publicly
                  type: boolean
                  example: true
                showLogo:
                  description: Whether to display the logo publicly
                  type: boolean
                  example: true
                showMission:
                  description: Whether to display the mission publicly
                  type: boolean
                  example: true
                updatedSlug:
                  description: New slug for the charity page URL
                  type: string
                  maxLength: 255
                  example: new-charity-slug
                social:
                  description: Social media links and configuration
                  properties:
                    facebook:
                      description: Facebook page URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://facebook.com/charity
                    instagram:
                      description: Instagram profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://instagram.com/charity
                    linkedin:
                      description: LinkedIn company page URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://linkedin.com/company/charity
                    twitter:
                      description: Twitter profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://twitter.com/charity
                    youtube:
                      description: YouTube channel URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://youtube.com/charity
                    website:
                      description: Official website URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://charity.org
                    tiktok:
                      description: TikTok profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://tiktok.com/@charity
                    candid:
                      description: Candid profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://candid.org/charity
                    charityNavigator:
                      description: Charity Navigator profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://charitynavigator.org/charity
                    blueSky:
                      description: BlueSky profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://bsky.app/charity
                    twitch:
                      description: Twitch channel URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://twitch.tv/charity
                    discord:
                      description: Discord server URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://discord.gg/charity
                    threads:
                      description: Threads profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://threads.net/@charity
                    custom:
                      description: Custom platform URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://custom-platform.com/charity
                    x:
                      description: X (formerly Twitter) profile URL
                      type: string
                      format: url
                      maxLength: 500
                      example: https://x.com/charity
                  type: object
              type: object
      responses:
        '200':
          description: NPO page updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    description: Response from GoFundMe GraphQL API
                    type: object
                type: object
        '400':
          description: Bad request - validation failed or missing mapping
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Organization does not have a consumer charity mapping
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    description: Validation error details
                    type: object
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Failed to update NPO: Error message'
                type: object
  /organizations/{organization_id}/gfm-npo-page/settings:
    put:
      tags:
      - GFM NPO Page
      summary: Update charity settings
      description: Updates the GoFundMe charity settings for an organization
      operationId: updateCharitySettings
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: At least one field must be provided
              properties:
                status:
                  description: Charity Community status
                  type: string
                  enum:
                  - ACTIVE
                  - INACTIVE
                  - HIDDEN
                  - BANNED
                  - UNKNOWN
                  example: ACTIVE
                isSeoIndexable:
                  description: Whether the charity should be indexed by search engines
                  type: boolean
                  example: true
                allowsFundraiserCreation:
                  description: Whether the charity consents to fundraiser creation on its behalf
                  type: boolean
                  example: true
                includeInRecommendations:
                  description: Whether to include the charity in recommendations
                  type: boolean
                  example: true
                marketplaceDiscoveryOptIn:
                  description: Whether the charity opts into marketplace discovery across GoFundMe surfaces; translates to Consumer updateCharityPlacementOptInsAll bulk mutation (II-1807)
                  type: boolean
                  example: true
                donationCadenceMandate:
                  description: Donation cadence mandate applied to campaigns benefiting the NPO; persisted in Consumer charities_meta (PRO-3407/PRO-4338)
                  type: string
                  enum:
                  - ONE_TIME_ONLY
                  - MONTHLY_ONLY
                  - SMART_DEFAULT
                  example: SMART_DEFAULT
              type: object
      responses:
        '200':
          description: Charity settings updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      updateCharitySettings:
                        properties:
                          success:
                            type: boolean
                            example: true
                          charity_updated:
                            description: ID of updated charity (if charity fields were updated)
                            type: integer
                            example: 123
                          recommendations_updated:
                            description: Success status of recommendations update (if includeInRecommendations was updated)
                            type: boolean
                            example: true
                          marketplace_discovery_updated:
                            description: Success status of marketplace discovery opt-in update (if marketplaceDiscoveryOptIn was updated)
                            type: boolean
                            example: true
                          donation_cadence_updated:
                            description: Persisted cadence mandate (if donationCadenceMandate was updated)
                            type: string
                            enum:
                            - ONE_TIME_ONLY
                            - MONTHLY_ONLY
                            - SMART_DEFAULT
                            example: SMART_DEFAULT
                          updated_fields:
                            description: List of fields that were updated
                            type: array
                            items:
                              type: string
                            example:
                            - status
                            - isSeoIndexable
                            - includeInRecommendations
                            - marketplaceDiscoveryOptIn
                            - donationCadenceMandate
                        type: object
                    type: object
                type: object
        '400':
          description: Bad request - validation failed or missing mapping
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Organization does not have a consumer charity mapping
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    description: Validation error details
                    type: object
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An unexpected error occurred while updating charity settings
                type: object
  /organizations/{organization_id}/gfm-npo-page/include-default-photos:
    put:
      tags:
      - GFM NPO Page
      summary: Update charity include default photos setting
      description: Updates whether the charity includes default photos
      operationId: updateCharityIncludeDefaultPhotos
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - includeDefaultPhotos
              properties:
                includeDefaultPhotos:
                  description: Whether to include default photos
                  type: boolean
                  example: true
              type: object
      responses:
        '200':
          description: Default photos setting updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      updateCharityIncludeDefaultPhotos:
                        properties:
                          success:
                            type: boolean
                            example: true
                          includeDefaultPhotos:
                            type: boolean
                            example: true
                        type: object
                    type: object
                type: object
        '400':
          description: Bad request - validation failed or missing mapping
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Organization does not have a consumer charity mapping
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    description: Validation error details
                    type: object
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An unexpected error occurred while updating default photos setting
                type: object
  /organizations/{organization_id}/gfm-npo-page/npo-profile-opt-in:
    put:
      tags:
      - GFM NPO Page
      summary: Update charity NPO Profile opt-in
      description: Sets whether the charity has opted into the redesigned NPO profile experience.
      operationId: updateCharityNpoProfileOptIn
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - npoProfileOptIn
              properties:
                npoProfileOptIn:
                  description: Whether to opt into the redesigned NPO profile experience
                  type: boolean
                  example: true
              type: object
      responses:
        '200':
          description: Opt-in setting updated
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      updateCharityNpoProfileOptIn:
                        properties:
                          success:
                            type: boolean
                            example: true
                        type: object
                    type: object
                type: object
        '400':
          description: Missing consumer charity mapping or GraphQL errors
        '403':
          description: Forbidden
        '404':
          description: Organization not found
        '422':
          description: Validation failed
        '500':
          description: Internal server error
  /organizations/{organization_id}/gfm-npo-page/pro-status:
    put:
      tags:
      - GFM NPO Page
      summary: Update GFM Pro account status
      description: Updates the GoFundMe Pro status for the organization's NPO account.
      operationId: updateGfmProStatus
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - status
              properties:
                status:
                  description: GFM Pro account status
                  type: string
                  enum:
                  - CREATED
                  - ACTIVE
                  - FAILED
                  example: ACTIVE
              type: object
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      updateGfmProStatus:
                        type: boolean
                        example: true
                    type: object
                type: object
        '400':
          description: Bad request - missing mapping or GraphQL error from GFM
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to update GFM Pro status (GraphQL error)
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An unexpected error occurred while updating GFM Pro status
                type: object
  /organizations/{organization_id}/gfm-npo-page/photo-status:
    put:
      tags:
      - GFM NPO Page
      summary: Update charity fundraiser photo status
      description: Updates the status of a charity fundraiser photo
      operationId: updateCharityFundraiserPhotoStatus
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - npoPhotoId
              - status
              properties:
                npoPhotoId:
                  description: The NPO photo ID
                  type: string
                  example: '4'
                status:
                  description: The photo status
                  type: string
                  example: ACTIVE
                comments:
                  description: Optional comments about the status change
                  type: string
                  example: Photo approved
              type: object
      responses:
        '200':
          description: Photo status updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      updateCharityFundraiserPhotoStatus:
                        properties:
                          success:
                            type: boolean
                            example: true
                          npoPhotoId:
                            type: string
                            example: '4'
                          status:
                            type: string
                            example: ACTIVE
                          comments:
                            type: string
                            example: Photo approved
                        type: object
                    type: object
                type: object
        '400':
          description: Bad request - validation failed or missing mapping
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Organization does not have a consumer charity mapping
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    description: Validation error details
                    type: object
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An unexpected error occurred while updating photo status
                type: object
  /organizations/{organization_id}/gfm-npo-page/upload-image:
    post:
      tags:
      - GFM NPO Page
      summary: Upload image to GFM NPO page
      description: Creates a presigned URL, uploads the file to S3, and finalizes the image in the GFM brand kit.
      operationId: uploadGfmNpoImage
      parameters:
      - name: organization_id
        in: path
        description: The organization ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
              - photoType
              - file
              properties:
                photoType:
                  description: Type of photo being uploaded
                  type: string
                  enum:
                  - CHARITY_LOGO
                  - CHARITY_FUNDRAISER_COVER_PHOTO
                  - PROFILE_BACKGROUND_IMAGE
                  example: CHARITY_LOGO
                file:
                  description: Image file to upload
                  type: string
                  format: binary
              type: object
      responses:
        '200':
          description: Image uploaded and finalized successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    properties:
                      photoType:
                        type: string
                        example: CHARITY_LOGO
                      url:
                        type: string
                        format: url
                        example: https://cdn.example.com/logo.png
                      final_object_key:
                        type: string
                        example: assets/charity/logos/admin/uuid/my_logo.png
                    type: object
                type: object
        '400':
          description: Bad request - validation failed or missing mapping
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Organization does not have a consumer charity mapping
                type: object
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 123'
                type: object
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    type: object
                type: object
        '500':
          description: Unexpected error during upload
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to upload image
                type: object
  /organizations/{organization_id}/gfm-npo-page/download-fundraisers-report:
    get:
      tags:
      - GFM NPO Page
      summary: Download Fundraisers Report
      description: Downloads the most recent fundraisers report CSV file for an organization
      operationId: downloadFundraisersReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-fund-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No fundraisers report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: fundraisers
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the fundraisers report download request
                type: object
  /organizations/{organization_id}/gfm-npo-page/download-donations-report:
    get:
      tags:
      - GFM NPO Page
      summary: Download Donations Report
      description: Downloads the most recent donations report CSV file for an organization
      operationId: downloadDonationsReport
      parameters:
      - name: organization_id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
      - name: environment
        in: query
        description: Environment to download from
        required: false
        schema:
          type: string
          default: prod
          enum:
          - prod
          - test
      responses:
        '200':
          description: Success - Returns download URL
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  download_url:
                    type: string
                    example: https://s3.amazonaws.com/bucket/path?signed-params
                  filename:
                    type: string
                    example: humane-society-of-manatee-county-donation-1727778600.csv
                  expires_at:
                    type: string
                    format: date-time
                    example: '2024-09-22T10:30:00Z'
                  file_size:
                    type: integer
                    example: 12345
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Unauthorized access to organization reports
                type: object
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: No donations report available for organization 1169661
                  organization_id:
                    type: integer
                    example: 1169661
                  type:
                    type: string
                    example: donations
                type: object
        '500':
          description: Server error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: An error occurred while processing the donations report download request
                type: object
components:
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
