openapi: 3.2.0
info:
  title: GoFundMe Pro Appeal Set API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Appeal Set
  description: 'An appeal set is a group of campaign specific appeals for social media. The current appeals that are supported include

    Facebook, Twitter, SMS, and Email. There is one set of appeals per campaign, and a campaign does not necessarily have an

    associated appeal set.'
paths:
  /campaigns/{campaign}/appeal-set:
    get:
      tags:
      - Appeal Set
      summary: fetchCampaignAppealSet
      description: Retrieves an Appeal Set for the specified Campaign.
      operationId: fetchCampaignAppealSet
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealSet'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Appeal Set
      summary: createCampaignAppealSet
      description: Create Appeal Set for specified Campaign
      operationId: createCampaignAppealSet
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AppealSetFillable'
              - properties:
                  facebook_asset_id:
                    description: Primary identifier of associated Facebook Asset
                    type: integer
                    example: 56792
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealSet'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /appeal-set/{appeal_set}:
    get:
      tags:
      - Appeal Set
      summary: fetchAppealSet
      description: Retrieves an Appeal Set from the ID.
      operationId: fetchAppealSet
      parameters:
      - name: appeal_set
        in: path
        description: The record's ID
        required: true
        schema:
          type: integer
          example: 9082
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealSet'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Appeal Set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Appeal Set
      summary: updateAppealSet
      description: Update Appeal Set
      operationId: updateAppealSet
      parameters:
      - name: appeal_set
        in: path
        description: The record's ID
        required: true
        schema:
          type: integer
          example: 9082
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AppealSetFillable'
              - properties:
                  facebook_asset_id:
                    description: Primary identifier of associated Facebook Asset
                    type: integer
                    example: 56792
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealSet'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Appeal Set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    AppealSet:
      title: Appeal Set
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 9082
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          example: 227362
        facebook_asset_id:
          description: Primary identifier of associated facebook Asset
          type:
          - integer
          - 'null'
          example: 56792
        facebook_image_url:
          description: Facebook image URL
          type:
          - string
          - 'null'
          example: https://gofundme-cdn-url.com/your-facebook-image.jpg
        facebook_video_url:
          description: Facebook video URL
          type:
          - string
          - 'null'
          example: https://www.youtube.com/watch?v=LpInp3kEzdk
        facebook_text:
          description: Facebook body text
          type:
          - string
          - 'null'
          example: Share this campaign
        twitter_text:
          description: Twitter body text
          type:
          - string
          - 'null'
          maxLength: 280
          example: Tweet this campaign to your friends!
        sms_text:
          description: SMS body text
          type:
          - string
          - 'null'
          maxLength: 255
          example: Example SMS text
        email_subject:
          description: Email subject
          type:
          - string
          - 'null'
          maxLength: 255
          example: Check out this campaign!
        email_body:
          description: Email body
          type:
          - string
          - 'null'
          example: Please donate to our campaign.
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    AppealSetFillable:
      title: Appeal Set Fillable
      properties:
        facebook_video_url:
          description: Facebook video URL
          type:
          - string
          - 'null'
          example: https://www.youtube.com/watch?v=LpInp3kEzdk
        facebook_text:
          description: Facebook body text
          type:
          - string
          - 'null'
          example: Share this campaign
        twitter_text:
          description: Twitter body text
          type:
          - string
          - 'null'
          maxLength: 280
          example: Tweet this campaign to your friends!
        sms_text:
          description: SMS body text
          type:
          - string
          - 'null'
          maxLength: 255
          example: Example SMS text
        email_subject:
          description: Email subject
          type:
          - string
          - 'null'
          maxLength: 255
          example: Check out this campaign!
        email_body:
          description: Email body
          type:
          - string
          - 'null'
          example: Please donate to our campaign.
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
