openapi: 3.2.0
info:
  title: GoFundMe Pro Designation API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Designation
  description: 'A Designation refers to a specific cause the organization campaigns under. Multiple campaigns can

    benefit the designated project. Designations allow me to assign Campaigns that champion the same cause to one Designation. GoFundMe Pro can also retrieve donation metrics for

    Designations as an aggregation of all Campaigns within a Designation.'
paths:
  /designations/{designation}:
    get:
      tags:
      - Designation
      summary: fetchDesignation
      description: Fetch specified Designation
      operationId: fetchDesignation
      parameters:
      - name: designation
        in: path
        description: Primary identifier of Designation
        required: true
        schema:
          type: integer
          example: 34672
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designation'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Designation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Designation
      summary: updateDesignation
      description: Update specified Designation
      operationId: updateDesignation
      parameters:
      - name: designation
        in: path
        description: Primary identifier of Designation
        required: true
        schema:
          type: integer
          example: 34672
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designation'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Designation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Designation
      summary: deleteDesignation
      description: Delete a specified Designation
      operationId: deleteDesignation
      parameters:
      - name: designation
        in: path
        description: Primary identifier of Designation
        required: true
        schema:
          type: integer
          example: 34672
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Designation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization}/designations:
    get:
      tags:
      - Designation
      summary: listOrganizationDesignations
      description: Retrieves a list of all Designations related to the specified Organization
      operationId: listOrganizationDesignations
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        required: false
        schema:
          type: string
          enum:
          - city
          - created_at
          - description
          - end_time
          - external_reference_id
          - goal
          - id
          - is_active
          - is_complete
          - is_default
          - name
          - organization_id
          - postal_code
          - start_time
          - state
          - updated_at
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Designations
                      type: array
                      items:
                        $ref: '#/components/schemas/Designation'
                    first_page_url:
                      example: '{host}/organizations/82364/designations?page=1'
                    last_page_url:
                      example: '{host}/organizations/82364/designations?page=1'
                    path:
                      example: '{host}/organizations/82364/designations'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Designation
      summary: createOrganizationDesignation
      description: Create Designation for specified Organization
      operationId: createOrganizationDesignation
      parameters:
      - name: organization
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesignationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designation'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    DesignationFillable:
      title: Designation Fillable
      properties:
        city:
          description: The name of the city associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 100
          example: San Diego
        description:
          description: A brief description of the Designation
          type:
          - string
          - 'null'
          example: My Designation Description
        end_date:
          description: Date that record ends
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        end_time:
          description: Time that record ends
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        external_reference_id:
          description: Primary identifier of associated Member
          type:
          - string
          - 'null'
          maxLength: 100
          example: my_unique_identifier
        goal:
          description: The Fundraising Goal for the Designation
          type:
          - string
          - 'null'
          format: float
          minimum: 1
          example: '1000.0'
        is_active:
          description: Indicates whether Designation is active
          type: boolean
          default: false
          example: true
        is_complete:
          description: Indicates whether Designation is complete
          type: boolean
          default: false
          example: false
        is_default:
          description: Indicates whether this is the default Designation for the Organization. Only one Designation per Organization can have this be true
          type: boolean
          default: false
          example: false
        name:
          description: Name of the Designation, unique to this Organization
          type: string
          maxLength: 127
          example: My Designation Name
        postal_code:
          description: Postal code associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 50
          example: '90210'
        start_date:
          description: Date that record starts
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        start_time:
          description: Time that record starts
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        state:
          description: Two-letter abbreviation of the state associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 2
          minLength: 2
          example: CA
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    Designation:
      title: Designation
      properties:
        city:
          description: The name of the city associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 100
          example: San Diego
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        description:
          description: A brief description of the Designation
          type:
          - string
          - 'null'
          maxLength: 4095
          example: My Designation Description
        end_time:
          description: Date/time that record ends
          type:
          - string
          - 'null'
          example: '2021-04-23 08:23:21'
        external_reference_id:
          description: Primary identifier of associated Member
          type:
          - string
          - 'null'
          maxLength: 100
          example: my_unique_identifier
        goal:
          description: The fundraising goal for the Designation
          type:
          - string
          - 'null'
          format: float
          minimum: 0
          example: '1000.0'
        id:
          description: Primary identifier of record
          type: integer
          example: 34672
        is_active:
          description: Indicates whether Designation is active
          type: boolean
          example: true
        is_complete:
          description: Indicates whether Designation is complete
          type: boolean
          example: false
        is_default:
          description: Indicates whether this is the default Designation for the organization. Only one Designation per Organization can have this be true
          type: boolean
          example: false
        name:
          description: Name of the Designation, unique to this Organization
          type:
          - string
          - 'null'
          maxLength: 127
          example: My Designation Name
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        postal_code:
          description: Postal code associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 10
          example: '90210'
        start_time:
          description: Date/time that record starts
          type:
          - string
          - 'null'
          example: '2021-04-23 08:23:21'
        state:
          description: Two-letter abbreviation of the state associated with the Designation
          type:
          - string
          - 'null'
          maxLength: 2
          minLength: 2
          example: CA
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
