openapi: 3.2.0
info:
  title: GoFundMe Pro Brandkit API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Brandkit
  description: Brandkit
paths:
  /organizations/{organization_id}/api-inference/brandkit/images:
    get:
      tags:
      - Brandkit
      summary: List paginated brandkit images
      description: Retrieves paginated brandkit images for an organization
      operationId: listBrandkitImages
      parameters:
      - name: organization_id
        in: path
        description: The Organization ID
        required: true
        schema:
          type: integer
          example: 12345
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - name: sort
        in: query
        description: 'Comma-separated field:direction pairs. Supported fields: updated_at, name, created_at, size. Supported directions: asc, desc. The first entry whose field AND direction are both valid is applied; any earlier entries with unknown fields or invalid directions are skipped. If no entry matches, upstream default ordering is used — the endpoint never returns 400 for a malformed sort.'
        required: false
        schema:
          type: string
          example: updated_at:desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/BrandkitImage'
                  type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandkitForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 12345'
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to list images. Please try again later.
                type: object
      security:
      - OAuth2Member: []
  /organizations/{organization_id}/api-inference/brandkit/image:
    post:
      tags:
      - Brandkit
      summary: Upload image to brandkit
      description: Upload an image or array of images to the organization's brandkit
      operationId: uploadBrandkitImage
      parameters:
      - name: organization_id
        in: path
        description: The Organization ID
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        description: Single image object or array of image objects
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - description: Single image object
                required:
                - asset_id
                - cdn_url
                - content_type
                - name
                - size
                properties:
                  asset_id:
                    type: integer
                    example: 532581
                  cdn_url:
                    type: string
                    format: uri
                    example: https://staging-assets.classy-test.org/4343427/6dd13812-db5d-11f0-98fe-0abd03faa7c7.jpg
                  content_type:
                    type: string
                    example: image/jpeg
                  name:
                    type: string
                    example: e028fde2-17bd-11ef-9aee-028e7b828b5d.jpg
                  size:
                    type: integer
                    example: 796968
                type: object
              - description: Array of image objects
                type: array
                items:
                  required:
                  - asset_id
                  - cdn_url
                  - content_type
                  - name
                  - size
                  properties:
                    asset_id:
                      type: integer
                      example: 532581
                    cdn_url:
                      type: string
                      format: uri
                      example: https://staging-assets.classy-test.org/4343427/6dd13812-db5d-11f0-98fe-0abd03faa7c7.jpg
                    content_type:
                      type: string
                      example: image/jpeg
                    name:
                      type: string
                      example: e028fde2-17bd-11ef-9aee-028e7b828b5d.jpg
                    size:
                      type: integer
                      example: 796968
                  type: object
      responses:
        '200':
          description: Image(s) uploaded successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Images uploaded successfully
                  data:
                    description: Updated brandkit data
                    type: object
                type: object
        '400':
          description: Bad Request - Invalid image data
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Missing required field 'asset_id' in image at index 0
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 12345'
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to upload image. Please try again later.
                type: object
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Brandkit
      summary: Delete images from brandkit
      description: Delete one or more images from the organization's brandkit
      operationId: deleteBrandkitImage
      parameters:
      - name: organization_id
        in: path
        description: The Organization ID
        required: true
        schema:
          type: integer
          example: 12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - image_ids
              properties:
                image_ids:
                  description: Array of image IDs to delete (max 50)
                  type: array
                  items:
                    type: integer
                  example:
                  - 123
                  - 456
                  - 789
              type: object
      responses:
        '200':
          description: Images deleted successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Images deleted successfully
                  deleted_count:
                    type: integer
                    example: 3
                type: object
        '400':
          description: Bad Request - Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                type: object
        '403':
          description: Forbidden - No permission or organization not enabled
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to delete images for this organization
                type: object
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Organization not found with ID: 12345'
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to delete images. Please try again later.
                type: object
      security:
      - OAuth2Member: []
  /organizations/{organization_id}/api-inference/brandkit/image/{bk_id}:
    put:
      tags:
      - Brandkit
      summary: Update brandkit image properties
      description: Update properties of an existing image in the organization's brandkit (database only)
      operationId: updateBrandkitImage
      parameters:
      - name: organization_id
        in: path
        description: The Organization ID
        required: true
        schema:
          type: integer
          example: 12345
      - name: bk_id
        in: path
        description: The Brandkit Image ID
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Image properties to update (bk_id is read-only and should not be included)
              properties:
                asset_id:
                  description: Asset ID
                  type: integer
                  example: 456
                name:
                  description: Image name
                  type: string
                  example: Updated Logo
                cdn_url:
                  description: CDN URL
                  type: string
                  format: url
                  example: https://cdn.example.com/image.png
                content_type:
                  description: Content type
                  type: string
                  example: image/png
                type:
                  description: Image type
                  type: string
                  example: image
                parent_id:
                  description: Parent image ID
                  type:
                  - integer
                  - 'null'
                  example: 789
                size:
                  description: File size in bytes
                  type: integer
                  example: 1024
                state:
                  description: Image state
                  type: string
                  example: active
                created_by:
                  description: Creator ID
                  type:
                  - integer
                  - 'null'
                  example: 456
              type: object
      responses:
        '200':
          description: Image updated successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Image updated successfully
                  bk_id:
                    type: integer
                    example: 123
                type: object
        '400':
          description: Bad Request - Validation failed
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                type: object
        '403':
          description: Forbidden - No permission or organization not enabled
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: You do not have permission to update images for this organization
                type: object
        '404':
          description: Organization or image not found
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Image not found with ID: 123'
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Failed to update image. Please try again later.
                type: object
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    BrandkitForbiddenResponse:
      title: Brandkit Forbidden Response
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: You do not have permission to access this resource
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    BrandkitImage:
      title: Brandkit Image
      properties:
        bk_id:
          description: Brandkit ID (read-only)
          type: integer
        asset_id:
          description: Asset ID
          type: integer
        name:
          description: Image name or title
          type: string
        cdn_url:
          type: string
          format: uri
        content_type:
          type: string
        type:
          type: string
        parent_id:
          type:
          - integer
          - 'null'
        size:
          type: integer
        state:
          type: string
        created_by:
          type:
          - integer
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
