openapi: 3.2.0
info:
  title: GoFundMe Pro Matched Transaction API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Matched Transaction
  description: A matched transaction can be created when a normal transaction may be matched with a future transaction.
paths:
  /matched-transactions/{matched_transaction}:
    get:
      tags:
      - Matched Transaction
      summary: fetchMatchedTransaction
      description: Fetch specified Matched Transaction
      operationId: fetchMatchedTransaction
      parameters:
      - name: matched_transaction
        in: path
        description: Primary identifier of Matched Transaction
        required: true
        schema:
          type: integer
          example: 6621
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchedTransaction'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Matched Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    MatchedTransaction:
      title: Matched Transaction
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 6621
        source_transaction_id:
          description: Primary identifier of source Transaction
          type: integer
          example: 1427264
        status:
          description: Status of Matched Transaction
          type: string
          enum:
          - confirmed
          - unconfirmed
          - rejected
          - closed
          example: confirmed
        matched_name:
          description: The entity that is expected to perform the matching transaction payment
          type: string
          maxLength: 255
          example: ABC Widget Inc.
        amount:
          description: The amount that should be matched against this Transaction.  Does not have to equal the amount of the original Transaction
          type: integer
          example: 500
        metadata:
          description: Arbitrary JSON metadata
          type: string
          example: '{foo:bar}'
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          example: 227362
        type:
          description: Type of Matched Transaction
          type: string
          enum:
          - campaign
          - fundraisingPage
          - fundraisingTeam
          example: campaign
        amount_received:
          description: The amount received for this Matched Transaction
          type: integer
          example: 500
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
