openapi: 3.2.0
info:
  title: GoFundMe Pro Registration API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Registration
  description: Registration records show information pertaining to event attendance, either through a ticket purchase or basic registration.
paths:
  /campaigns/{campaign}/registrations:
    get:
      tags:
      - Registration
      summary: listCampaignRegistrations
      description: Retrieves a list of all Registrations for a specific Campaign
      operationId: listCampaignRegistrations
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Registrations
                      type: array
                      items:
                        $ref: '#/components/schemas/Registration'
                    first_page_url:
                      example: '{host}/campaigns/{campaign}/registrations?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{campaign}/registrations?page=1'
                    path:
                      example: '{host}/campaigns/{campaign}/registrations'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/registrations:
    get:
      tags:
      - Registration
      summary: listOrganizationRegistrations
      description: Retrieves a list of all Registrations for a specific Organization
      operationId: listOrganizationRegistrations
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Registrations
                      type: array
                      items:
                        $ref: '#/components/schemas/Registration'
                    first_page_url:
                      example: '{host}/organizations/{organization}/registrations?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organization}/registrations?page=1'
                    path:
                      example: '{host}/organizations/{organization}/registrations'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /registrations/{registration}:
    get:
      tags:
      - Registration
      summary: getRegistrationById
      description: Retrieves Registrations from ID
      operationId: fetchRegistration
      parameters:
      - name: registration
        in: path
        description: The specified Registration ID
        required: true
        schema:
          type: integer
          example: 78345
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Registration
      summary: updateRegistration
      description: Updates an existing Registration
      operationId: updateRegistration
      parameters:
      - name: registration
        in: path
        description: The specified Registration ID
        required: true
        schema:
          type: integer
          example: 78345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /transactions/{transaction}/registrations:
    get:
      tags:
      - Registration
      summary: listTransactionsRegistrations
      description: Retrieves a list of all Registrations for a specific Transaction
      operationId: listTransactionsRegistrations
      parameters:
      - name: transaction
        in: path
        description: The specified Transaction ID
        required: true
        schema:
          type: integer
          example: 8734
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Registrations
                      type: array
                      items:
                        $ref: '#/components/schemas/Registration'
                    first_page_url:
                      example: '{host}/transactions/{transaction_id}/registrations?page=1'
                    last_page_url:
                      example: '{host}/transactions/{transaction_id}/registrations?page=1'
                    path:
                      example: '{host}/transactions/{transaction_id}/registrations'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    Registration:
      title: Registration
      properties:
        address1:
          description: Line one of Registration address
          type:
          - string
          - 'null'
          example: 8554 Capricorn Way
        address2:
          description: Line two of Registration address
          type:
          - string
          - 'null'
          example: N/A
        attendee_id:
          description: Unique ID for Attendee for an organization
          type:
          - integer
          - 'null'
          example: 248911
        blog:
          description: Registration blog field
          type:
          - string
          - 'null'
          example: blog.test.com
        campaign_id:
          description: ID of Campaign registered for
          type: integer
          example: 227362
        cell:
          description: Phone Cell number
          type:
          - string
          - 'null'
          example: 619-322-5056
        city:
          description: City field of Registration
          type:
          - string
          - 'null'
          example: San Diego
        commitment_id:
          description: Minimum fundraising goal ID
          type:
          - integer
          - 'null'
          example: 98374
        company:
          description: Name of the company
          type:
          - string
          - 'null'
          example: PayPal
        country:
          description: Country field of Registration
          type:
          - string
          - 'null'
          example: US
        created_at:
          description: Date/time of last record created
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        date_of_birth:
          description: Date/time of birth of who is registering
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T10:25:03Z'
        email:
          description: Email address of who is registering
          type: string
          example: test@gofundme.com
        first_name:
          description: First name of who is registering
          type: string
          example: Kevin
        fundraising_page_id:
          description: Identifier of the fundraising page
          type:
          - integer
          - 'null'
          example: 2173528
        gender:
          description: First letter of the gender
          type:
          - string
          - 'null'
          example: m
        id:
          description: Primary identifier of the Registration
          type: integer
          example: 78345
        last_name:
          description: Last name of who is registering
          type: string
          example: Cheek
        member_id:
          description: Member identifier
          type:
          - integer
          - 'null'
          example: 2012
        phone:
          description: Phone of who is registering
          type:
          - string
          - 'null'
          example: 619-322-5056
        postal_code:
          description: Postal code of who is registering
          type:
          - string
          - 'null'
          example: '92126'
        product_name:
          description: Name of the product
          type:
          - string
          - 'null'
          example: General Admission
        state:
          description: State field of Registration
          type:
          - string
          - 'null'
          example: LA
        status:
          description: Attending status
          type: string
          enum:
          - attending
          - not_attending
          - archived
          example: attending
        supporter_id:
          description: Identifier of Supporter
          type:
          - integer
          - 'null'
          example: 53
        transaction_id:
          description: Identifier of Transaction
          type:
          - integer
          - 'null'
          example: 62376
        transaction_item_id:
          description: Identifier of the Item of the transaction
          type:
          - integer
          - 'null'
          example: 17020
        transaction_last_four:
          description: Card last four in case of a CC payment while registration
          type:
          - integer
          - 'null'
          example: 1111
        transaction_payment_type:
          description: Type of payment used in the transaction
          type:
          - string
          - 'null'
          example: Credit Card
        tshirt_size:
          description: Size of tshirt
          type:
          - string
          - 'null'
          example: ML
        updated_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        website:
          description: Website of registrant
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    RegistrationFillable:
      title: RegistrationFillable
      properties:
        first_name:
          description: First name of who is registering
          type: string
          example: Kevin
        last_name:
          description: Last name of who is registering
          type: string
          example: Cheek
        email:
          description: Email address of who is registering
          type: string
          example: test@gofundme.com
        phone:
          description: Phone of who is registering
          type: string
          example: 619-322-5056
        cell:
          description: Phone Cell number
          type:
          - string
          - 'null'
          example: 619-322-5056
        address1:
          description: First address of Registration
          type:
          - string
          - 'null'
          example: 8554 Capricorn Way
        address2:
          description: Second address of Registration
          type:
          - string
          - 'null'
          example: N/A
        city:
          description: City field of Registration
          type: string
          example: San Diego
        state:
          description: State field of Registration
          type: string
          example: LA
        status:
          description: Attending status
          type: string
          enum:
          - attending
          - not_attending
          - archived
          example: attending
        postal_code:
          description: Postal code of who is registering
          type: string
          example: '92126'
        country:
          description: Country field of Registration
          type: string
          example: US
        company:
          description: Name of the company
          type:
          - string
          - 'null'
          example: PayPal
        website:
          description: Website of registrant
          type: string
          example: https://pro.gofundme.com
        blog:
          description: Blog of registrant
          type: string
          example: https://pro.gofundme.com
        gender:
          description: First letter of the gender
          type: string
          example: m
        date_of_birth:
          description: Date/time of birth of who is registering
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T10:25:03Z'
        tshirt_size:
          description: Size of tshirt
          type: string
          example: ML
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
