openapi: 3.2.0
info:
  title: GoFundMe Pro Promo Code Configuration API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Promo Code Configuration
  description: A promo code configuration record indicates that its associated promo code can be applied to purchases of the associated ticket type.
paths:
  /promo-codes/{promo_code}/promo-code-configurations:
    get:
      tags:
      - Promo Code Configuration
      summary: listPromoCodeConfigurations
      description: Retrieves a list of all Promo Code Configurations for the specified Promo Code
      operationId: listPromoCodeConfigurations
      parameters:
      - name: promo_code
        in: path
        description: The specified Promo Code ID
        required: true
        schema:
          type: integer
          example: 8273
      - name: with
        in: query
        description: Request specific relationships to be returned with the PromoCodeConfiguration
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ticket_type
            example: ticket_type
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Promo Code Configurations
                      type: array
                      items:
                        $ref: '#/components/schemas/PromoCodeConfiguration'
                    first_page_url:
                      example: '{host}/promo-codes/8273/promo-code-configurations?page=1'
                    last_page_url:
                      description: '{host}/promo-codes/8273/promo-code-configurations?page=1'
                    path:
                      description: '{host}/promo-codes/8273/promo-code-configurations'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Promo Code not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /promo-code-configurations:
    post:
      tags:
      - Promo Code Configuration
      summary: createPromoCodeConfiguration
      description: Create Promo Code Configuration
      operationId: createPromoCodeConfiguration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeConfigurationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCodeConfiguration'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
      security:
      - OAuth2Member: []
  /promo-code-configurations/{promo_code_configuration}:
    delete:
      tags:
      - Promo Code Configuration
      summary: deletePromoCodeConfiguration
      description: Delete Promo Code Configuration
      operationId: deletePromoCodeConfiguration
      parameters:
      - name: promo_code_configuration
        in: path
        description: Primary identifier of Promo Code Configuration
        required: true
        schema:
          type: integer
          example: 6054
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Promo Code Configuration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /ticket-types/{ticket_type}/promo-code-configurations:
    get:
      tags:
      - Promo Code Configuration
      summary: listTicketTypePromoCodeConfigurations
      description: Retrieves a list of all Promo Code Configurations for the specified Ticket Type
      operationId: listTicketTypePromoCodeConfigurations
      parameters:
      - name: ticket_type
        in: path
        description: The specified Tiket Type ID
        required: true
        schema:
          type: integer
          example: 9978
      - name: with
        in: query
        description: Request specific relationships to be returned with the PromoCodeConfiguration
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - promo_code
            example: promo_code
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Promo Code Configurations
                      type: array
                      items:
                        $ref: '#/components/schemas/PromoCodeConfiguration'
                      deprecated: true
                    first_page_url:
                      example: '{host}/ticket-types/9978/promo-code-configurations?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/ticket-types/9978/promo-code-configurations?page=1'
                      deprecated: true
                    path:
                      description: '{host}/ticket-types/9978/promo-code-configurations'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Ticket Type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PromoCodeConfiguration:
      title: Promo Code Configuration
      properties:
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 6054
        promo_code_id:
          description: Primary identifier of associated Promo Code
          type: integer
          example: 8273
        ticket_type_id:
          description: Primary identifier of associated Ticket Type
          type: integer
          example: 9978
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    PromoCodeConfigurationFillable:
      title: Promo Code Configuration Fillable
      properties:
        promo_code_id:
          description: Primary identifier of associated Promo Code
          type: integer
          example: 8273
        ticket_type_id:
          description: Primary identifier of associated Ticket Type
          type: integer
          example: 9978
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
