openapi: 3.2.0
info:
  title: GoFundMe Pro Answer API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Answer
  description: 'Answer objects represent an answer to a Question that is associated with an answerable_type (referenced by answerable_id and answerable_type),

    supported types include: fundraising_page, fundraising_team, transaction or registration.'
paths:
  /fundraising-pages/{fundraising_page}/answers:
    get:
      tags:
      - Answer
      summary: listFundraisingPageAnswers
      description: Retrieves list of all Answers related to specified Fundraising Page
      operationId: listFundraisingPageAnswers
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_page_url:
                      example: '{host}/fundraising-pages/2173528/answer?page=1'
                    last_page_url:
                      example: '{host}/fundraising-pages/2173528/answer?page=1'
                    path:
                      example: '{host}/fundraising-pages/2173528/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Answer
      summary: createFundraisingPageAnswer
      description: Create an Answer for a Fundraising Page
      operationId: createFundraisingPageAnswer
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              required:
              - question_id
              allOf:
              - $ref: '#/components/schemas/AnswerFillable'
              - properties:
                  question_id:
                    description: Primary identifier of associated Question
                    type: integer
                    example: 45678
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}/answers:
    get:
      tags:
      - Answer
      summary: listFundraisingTeamAnswers
      description: Retrieves list of all Answers related to specified Fundraising Team
      operationId: listFundraisingTeamAnswers
      parameters:
      - name: fundraising_team
        in: path
        description: The specified Fundraising Team ID
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_team_url:
                      example: '{host}/fundraising-teams/209745/answer?page=1'
                    last_team_url:
                      example: '{host}/fundraising-teams/209745/answer?page=1'
                    path:
                      example: '{host}/fundraising-teams/209745/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Answer
      summary: createFundraisingTeamAnswer
      description: Create an Answer for a Fundraising Team
      operationId: createFundraisingTeamAnswer
      parameters:
      - name: fundraising_team
        in: path
        description: The specified Fundraising Team ID
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              required:
              - question_id
              allOf:
              - $ref: '#/components/schemas/AnswerFillable'
              - properties:
                  question_id:
                    description: Primary identifier of associated Question
                    type: integer
                    example: 45678
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/answers:
    get:
      tags:
      - Answer
      summary: listOrganizationAnswers
      description: Retrieves list of all Answers related to specified Organization
      operationId: listOrganizationAnswers
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_page_url:
                      example: '{host}/organization/82364/answer?page=1'
                    last_page_url:
                      example: '{host}/organization/82364/answer?page=1'
                    path:
                      example: '{host}/organization/82364/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /questions/{question}/answers:
    get:
      tags:
      - Answer
      summary: listQuestionAnswers
      description: Retrieves list of all Answers related to specified Question
      operationId: listQuestionAnswers
      parameters:
      - name: question
        in: path
        description: The specified Question ID
        required: true
        schema:
          type: integer
          example: 45678
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        schema:
          type: string
          enum:
          - answer
          - answerable_id
          - answerable_type
          - campaign_id
          - created_at
          - id
          - member_id
          - question_id
          - updated_at
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_page_url:
                      example: '{host}/question/45678/answer?page=1'
                    last_page_url:
                      example: '{host}/question/45678/answer?page=1'
                    path:
                      example: '{host}/question/45678/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /registrations/{registration}/answers:
    get:
      tags:
      - Answer
      summary: listRegistrationAnswers
      description: Retrieves list of all Answers related to specified Registration
      operationId: listRegistrationAnswers
      parameters:
      - name: registration
        in: path
        description: The specified Registration ID
        required: true
        schema:
          type: integer
          example: 78345
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        schema:
          type: string
          enum:
          - answer
          - answerable_id
          - answerable_type
          - campaign_id
          - created_at
          - id
          - member_id
          - question_id
          - updated_at
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_page_url:
                      example: '{host}/registration/78345/answer?page=1'
                    last_page_url:
                      example: '{host}/registration/78345/answer?page=1'
                    path:
                      example: '{host}/registration/78345/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Answer
      summary: createRegistrationAnswer
      description: Create an Answer for a Registration
      operationId: createRegistrationAnswer
      parameters:
      - name: registration
        in: path
        description: The specified Registration ID
        required: true
        schema:
          type: integer
          example: 78345
      requestBody:
        content:
          application/json:
            schema:
              required:
              - question_id
              allOf:
              - $ref: '#/components/schemas/AnswerFillable'
              - properties:
                  question_id:
                    description: Primary identifier of associated Question
                    type: integer
                    example: 45678
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /transactions/{transaction}/answers:
    get:
      tags:
      - Answer
      summary: listTransactionAnswers
      description: Retrieves list of all Answers related to specified Transaction
      operationId: listTransactionAnswers
      parameters:
      - name: transaction
        in: path
        description: The specified Transaction ID
        required: true
        schema:
          type: integer
          example: 1427264
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        schema:
          type: string
          enum:
          - answer
          - answerable_id
          - answerable_type
          - campaign_id
          - created_at
          - id
          - member_id
          - question_id
          - updated_at
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Answers
                      type: array
                      items:
                        $ref: '#/components/schemas/Answer'
                    first_page_url:
                      example: '{host}/transaction/1427264/answer?page=1'
                    last_page_url:
                      example: '{host}/transaction/1427264/answer?page=1'
                    path:
                      example: '{host}/transaction/1427264/answer'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    AnswerFillable:
      title: Answer Fillable
      properties:
        answer:
          description: Answer content
          type: string
          example: Example answer test
      type: object
    Answer:
      title: Answer
      properties:
        answer:
          description: Answer content
          type: string
          maxLength: 255
          example: Example answer test
        answerable_id:
          description: Primary identifier of associated Fundraising Entity object. Required with answerable_type
          type:
          - integer
          - 'null'
          example: 3245
        answerable_type:
          description: Type of associated Fundraising Entity. Required with answerable_id
          type:
          - string
          - 'null'
          enum:
          - fundraising_team
          - fundraising_page
          - transaction
          - campaign_registration
          example: fundraising_team
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          example: 227362
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 32459
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        question_id:
          description: Primary identifier of associated Question
          type: integer
          example: 45678
        updated_at:
          description: Date/time of last record update
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
