openapi: 3.2.0
info:
  title: GoFundMe Pro Campaign Channel API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Campaign Channel
  description: Campaign Channel is an Integration channel association available for specific Campaign. Integration channels will be like Facebook, Double the Donation. Campign Channel have channel specific flags and statuses
paths:
  /campaigns/{campaign}/channels:
    get:
      tags:
      - Campaign Channel
      summary: listCampaignChannels
      description: Retrieves a list of all Channels for the specified Campaign
      operationId: listCampaignChannels
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Campaign Channels
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignChannel'
                    first_page_url:
                      example: '{host}/campaigns/227362/channels?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/channels?page=1'
                    path:
                      description: '{host}/campaigns/227362/channels'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Campaign Channel
      summary: createCampaignChannel
      description: Create Channel for specified Campaign
      operationId: createCampaignChannel
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignChannel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignChannel'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /campaign-channels/{campaign_channel}:
    put:
      tags:
      - Campaign Channel
      summary: updateCampaignChannel
      description: Update campaign channel
      operationId: updateCampaignChannel
      parameters:
      - name: campaign_channel
        in: path
        description: The specified Campaign Channel ID
        required: true
        schema:
          type: integer
          example: 73625
      requestBody:
        content:
          application/json:
            schema:
              properties:
                status:
                  description: Status of Campaign Channel
                  type: boolean
                  example: true
                metadata:
                  description: Additional Campaign settings data in JSON format
                  properties:
                    employer_match_on_donation_page:
                      description: Indicates whether there is an employer match on Donation Page
                      type: boolean
                      example: true
                    employer_match_on_thankyou_page:
                      description: Indicates whether there is an employer match on thankyou page
                      type: boolean
                      example: true
                    employer_match_preselect:
                      description: Indicates whether there is an employer match preselect
                      type: boolean
                      example: true
                  type: object
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignChannel'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    CampaignChannel:
      title: Campaign Channel
      required:
      - channel_name
      - status
      properties:
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          readOnly: true
          example: 423
        channel_name:
          description: Name of Integration Channel
          type: string
          enum:
          - DoubletheDonation
          - Facebook
          - Instagram
          - MetaCapi
          - MetaFrapi
          - Zapier
          example: Facebook
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          readOnly: true
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          readOnly: true
          example: 73625
        status:
          description: Whether the campaign channel is enabled.
          type: boolean
          example: true
        metadata:
          description: Additional Campaign settings data in JSON format
          type:
          - object
          - 'null'
          anyOf:
          - title: DoubletheDonation Metadata
            properties:
              employer_match_on_donation_page:
                description: Indicates whether there is an employer match on donation page
                type: boolean
                example: true
              employer_match_on_thankyou_page:
                description: Indicates whether there is an employer match on thankyou page
                type: boolean
                example: true
              employer_match_preselect:
                description: Indicates whether there is an employer match preselect
                type: boolean
                example: true
            type: object
          - title: Meta Fundraiser API Metadata
            properties:
              progress_metrics:
                description: Whether progress metrics are enabled on the Meta fundraiser page.
                type: boolean
                example: true
              external_fundraiser_id:
                description: The unique identifier of a Meta fundraiser.
                type: string
                example: '847746727344577'
            type: object
        processing:
          description: Whether a MetaFrapi job is in progress for the associated campaign
          type: boolean
          readOnly: true
          example: false
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          readOnly: true
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
