openapi: 3.2.0
info:
  title: GoFundMe Pro Engagement Settings API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Engagement Settings
  description: Organization specific settings related to engagements such as email and SMS settings. We can set SMS numbers or email DNS, throttling etc.
paths:
  /organizations/{id}/engagement-settings:
    get:
      tags:
      - Engagement Settings
      summary: fetchOrganizationEngagementSettings
      description: Fetch Engagement Settings for specified Organization
      operationId: fetchOrganizationEngagementSettings
      parameters:
      - name: id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementSettings'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /engagement-settings/{id}:
    put:
      tags:
      - Engagement Settings
      summary: updateOrganizationEngagementSettings
      description: Update Engagement Settings for Organization
      operationId: updateOrganizationEngagementSettings
      parameters:
      - name: id
        in: path
        description: Primary identifier of Engagement Settings
        required: true
        schema:
          example: 5ceeb33d6e201a648239a387
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementSettingsFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementSettings'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Engagement Settings not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    EngagementSettings:
      title: Engagement Settings
      type: object
      allOf:
      - properties:
          id:
            description: Primary identifier of Engagement Settings
            type: string
            example: 5ceeb33d6e201a648239a387
          organization_id:
            description: ID of the Organization for which Engagement settings belongs
            type: integer
            example: 82374
          created_at:
            description: Date/time of initial Engagement Settings creation
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
          updated_at:
            description: Date/time of Engagement Settings last updated
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
        type: object
      - $ref: '#/components/schemas/EngagementSettingsFillable'
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    EngagementSettingsFillable:
      title: Engagement Settings Fillable
      properties:
        email_subdomain:
          description: Email subdomain
          type: string
          example: test12-org-2018102512405088
        sms:
          description: Details of Engagement Settings for SMS
          properties:
            enabled:
              description: Indicates whether SMS is enabled or not in Engagement Settings
              type: boolean
              example: true
            phone_numbers:
              description: Phone numbers for sending SMS
              type: array
              items:
                type: string
                example: 1-555-555-555
            custom_caller_id:
              description: Custom Caller ID name for sending SMS
              type:
              - string
              - 'null'
              example: John Doe
          type: object
        email:
          description: Details of Engagement Settings for email
          properties:
            custom_domain:
              description: Indicates whether custom domain for email is true or false
              type: boolean
              example: false
            domain_prefix:
              description: Domain prefix name for email
              type: string
              example: test-org-2018102512405088
            email_domain:
              description: Domain name for email
              type: string
              example: gofundme-pro-mail.org
            enabled:
              description: Indicates whether email is enabled or not
              type: boolean
              example: true
            throttling:
              description: Details of throttling:The amount of email messages sent to one ISP or remote server at one tim
              properties:
                emails_per_day:
                  description: Number of emails sent per day
                  type: integer
                  example: 1000
                emails_per_month:
                  description: Number of emails sent per month
                  type: integer
                  example: 10000
              type: object
            dns:
              description: Details of DNS settings
              properties:
                is_valid:
                  description: Indicates whether DNS is valid or not
                  type: boolean
                  example: true
                spf:
                  description: A type of DNS record that identifies which mail servers are permitted to send an email on behalf of your domain
                  properties:
                    txt_record:
                      description: Name of SPF records to be included
                      type: string
                      example: v=spf1 include:classy.org ~all
                    valid:
                      description: Indicates whether SPF is valid or not
                      type: boolean
                      example: true
                  type: object
                dkim:
                  description: DKIM Records include a signature in each email header sent
                  properties:
                    txt_record:
                      description: Signature in each email header sent
                      type: string
                      example: k=rsa; p=MIGfMA0GCSqGSIb3DQ...
                    valid:
                      description: Indicates if DKIM is valid or not
                      type: boolean
                      example: true
                  type: object
                tracking:
                  description: Details of Tracking
                  properties:
                    cname:
                      description: Cname allow for tracking of opens and clicks
                      type: string
                      example: email.domain.com
                    value:
                      description: Value for tracking
                      type: string
                      example: mailgun.org
                    valid:
                      description: Indicates whether tracking is valid or not
                      type: boolean
                      example: true
                  type: object
                incoming:
                  description: Details of Incoming
                  properties:
                    mx_records:
                      description: The MX-record contains the host name of the computer(s) that handle the emails for a domain and a prioritization code
                      type: array
                      items:
                        properties:
                          priority:
                            description: Each MX record has a priority, or a number to designate the order in which your domain name's incoming mail servers receive your email messages
                            type: number
                            example: 10
                          value:
                            description: A mail exchanger record (MX record) specifies the mail server responsible for accepting email messages on behalf of a domain name
                            type: string
                            example: mxa.mailgun.org
                        type: object
                    valid:
                      description: Indicates whether incoming is valid or not
                      type: boolean
                      example: true
                  type: object
              type: object
          type: object
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
