openapi: 3.2.0
info:
  title: GoFundMe Pro Double the Donation API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Double the Donation
  description: ''
paths:
  /double-the-donations/{double_the_donation}:
    delete:
      tags:
      - Double the Donation
      summary: deleteDoubleTheDonation
      description: Delete Double the Donation Account
      operationId: deleteDoubleTheDonation
      parameters:
      - name: double_the_donation
        in: path
        description: ID of Double The Donation
        required: true
        schema:
          type: integer
          example: 2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Double The Donation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /organizations/{id}/double-the-donation:
    get:
      tags:
      - Double the Donation
      summary: fetchOrganizationDoubleTheDonation
      description: Retrieves a Double The Donation Account for a specific Organization
      operationId: fetchOrganizationDoubleTheDonation
      parameters:
      - name: id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoubleTheDonationAccount'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Double the Donation
      summary: createOrganizationDoubleTheDonation
      description: Create Organization Double The Donation Account
      operationId: createOrganizationDoubleTheDonation
      parameters:
      - name: id
        in: path
        description: ID of desired Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoubleTheDonationAccountFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoubleTheDonationAccount'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    DoubleTheDonationAccount:
      title: DoubleTheDonation Account
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 93823
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        public_key:
          description: Public key for DoubleTheDonation
          type: string
          example: 2j9VhYMySDkLAEeB
      type: object
    DoubleTheDonationAccountFillable:
      title: DoubleTheDonation Account Fillable
      properties:
        public_key:
          description: Public key for DoubleTheDonation
          type: string
          example: 2j9VhYMySDkLAEeB
        private_key:
          description: Private key for DoubleTheDonation
          type: string
          example: 2j9VhYMySDkLAEeB
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
