openapi: 3.2.0
info:
  title: GoFundMe Pro Supporter API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Supporter
  description: A donor profile that’s owned by the organization. When an organization makes an update to a supporter, it will not affect member profile.
paths:
  /organizations/{organization_id}/supporters/{supporter_id}/annual-summary:
    post:
      tags:
      - Supporter
      summary: Send Annual Summary Email to Supporter (Admin)
      description: Send an annual summary email to a specific supporter. This is an admin-initiated action that does not require a bulk batch send.
      operationId: sendSupporterAnnualSummaryEmail
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 5827
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - report_year
              properties:
                report_year:
                  description: Four digit year for which the summary is being requested
                  type: integer
                  example: 2025
                email:
                  description: Optional email address to send the summary to (defaults to supporter's email)
                  type: string
                  example: donor@example.com
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Annual summary email queued for delivery
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found or does not belong to organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                type: object
      security:
      - OAuth2Member: []
  /supporters/{supporter_id}/annual-summary:
    post:
      tags:
      - Supporter
      summary: Generate Annual Summary Report for Supporter
      description: Generate an annual summary report PDF for the specified supporter and return a presigned S3 URL for download
      operationId: generateSupporterAnnualSummary
      parameters:
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 1427264
      requestBody:
        content:
          application/json:
            schema:
              properties:
                report_year:
                  description: The year for the annual summary report
                  type: integer
                  example: 2024
                start_date:
                  description: Start date for the report (optional, defaults to January 1st of report_year)
                  type: string
                  format: date
                  example: '2024-01-01'
                end_date:
                  description: End date for the report (optional, defaults to December 31st of report_year)
                  type: string
                  format: date
                  example: '2024-12-31'
              type: object
      responses:
        '200':
          description: Annual summary report download information
          content:
            application/json:
              schema:
                properties:
                  download_url:
                    description: S3 presigned URL for file download
                    type: string
                    example: https://s3.amazonaws.com/bucket/file.pdf?presigned-params
                  filename:
                    description: Filename in format GivingSummary_[SupporterName]_YYYY.pdf
                    type: string
                    example: GivingSummary_JohnDoe_2024.pdf
                  expires_at:
                    description: ISO 8601 timestamp when the presigned URL expires
                    type: string
                    example: '2024-01-02T12:00:00+00:00'
                  file_size:
                    description: File size in bytes
                    type: string
                    example: '1048576'
                  content_type:
                    description: MIME type
                    type: string
                    example: application/pdf
                  type:
                    description: File type identifier
                    type: string
                    example: annual_summary
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '500':
          description: PDF generation or S3 upload failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Failed to generate annual summary report
                  message:
                    type: string
                    example: Error details
                type: object
  /campaigns/{campaign}/supporters:
    get:
      tags:
      - Supporter
      summary: listCampaignSupporters
      description: Retrieves a list of all Supporters for a specific Campaign
      operationId: listCampaignSupporters
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Supporters
                      type: array
                      items:
                        $ref: '#/components/schemas/Supporter'
                    first_page_url:
                      example: '{host}/campaigns/{campaign}/supporters?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{campaign}/supporters?page=1'
                    path:
                      example: '{host}/campaigns/{campaign}/supporters'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /organizations/{organization}/supporters:
    get:
      tags:
      - Supporter
      summary: listOrganizationSupporters
      description: Retrieves a list of all Supporters for a specific Organization
      operationId: listOrganizationSupporters
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Supporters
                      type: array
                      items:
                        $ref: '#/components/schemas/Supporter'
                    first_page_url:
                      example: '{host}/organizations/{organization_id}/supporters?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organizations_id}/supporters?page=1'
                    path:
                      example: '{host}/organizations/{organizations_id}/supporters'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
    post:
      tags:
      - Supporter
      summary: createOrganizationSupporter
      description: Create a Supporter for an Organization
      operationId: createOrganizationSupporter
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupporterFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '500':
          description: Trying to duplicate a supporter cross organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      security:
      - OAuth2Member: []
  /organizations/{org_id}/supporters/{supporter_id}/messages/asrs:
    get:
      tags:
      - Supporter
      summary: listAsrMessages
      description: Retrieves an array with recipientsIds, template_name, year and message_id for Annual Summary Report wrt Supporters for a specific Organization
      operationId: listAsrMessages
      parameters:
      - name: org_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 4467663
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    recipientIds:
                      type: string
                      example: 65a6a30a4f4d5300089183dd
                    templateName:
                      type: string
                      example: recurring_annual_receipt_2021
                    year:
                      type: integer
                      example: 2021
                    id:
                      type: string
                      example: 65a6a30a4f4d5300089183dd
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /organizations/{organization_id}/supporters/me:
    get:
      tags:
      - Supporter
      summary: showSupporterForAuthedMember
      description: Retrieves the Supporter record for the authenticated Member within the specified Organization.
      operationId: showSupporterForAuthedMember
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '403':
          description: Forbidden — member token required.
        '404':
          description: Organization or supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /supporters/{supporter}:
    get:
      tags:
      - Supporter
      summary: fetchSupporter
      description: Retrieves Supporter from ID
      operationId: fetchSupporter
      parameters:
      - name: supporter
        in: path
        description: The specified supporter ID
        required: true
        schema:
          type: integer
          example: 5827
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        required: false
        schema:
          type: string
          enum:
          - address1
          - address2
          - birthday
          - cell_phone
          - city
          - country
          - created_at
          - email_address
          - first_name
          - gender
          - id
          - last_emailed_at
          - last_name
          - location
          - member_id
          - metadata
          - nickname
          - opt_in
          - origin
          - phone
          - postal_code
          - source_campaign_id
          - source_fundraising_page_id
          - source_member_id
          - source_organization_id
          - state
          - updated_at
          example: id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Supporter
      summary: updateSupporter
      description: Updates an existing Supporter
      operationId: updateSupporter
      parameters:
      - name: supporter
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 5827
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupporterFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Supporter
      summary: deleteSupporter
      description: Delete a Supporter
      operationId: deleteSupporter
      parameters:
      - name: supporter
        in: path
        description: Primary identifier of Supporter
        required: true
        schema:
          type: integer
          example: 5827
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /supporters/{id}/send-annual-summary:
    post:
      tags:
      - Supporter
      summary: supporterAnnualSummary
      description: Request an annual summary to be sent to a supporter for a specific year
      operationId: supporterAnnualSummary
      parameters:
      - name: id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 5827
      requestBody:
        content:
          application/json:
            schema:
              properties:
                year:
                  description: four digit year for which the summary is being requested
                  type: integer
                  example: 2024
                  deprecated: true
                email:
                  description: email address to use for sending the summary.
                  type:
                  - string
                  - 'null'
                  example: some@email.com
                  deprecated: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    Metadata:
      title: Metadata
      properties:
        foo:
          type: string
          example: bar
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    Supporter:
      title: Supporter
      properties:
        address1:
          description: Supporter main address
          type:
          - string
          - 'null'
          example: 300 N Washington St
        address2:
          description: Secondary Supporter address
          type:
          - string
          - 'null'
          example: 300 N Washington St
        birthday:
          description: Supporter birthday in M/D format (month and day only; year intentionally not collected). Sourced from the P2P Birthday-moment flow and distinct from any full date-of-birth captured elsewhere.
          type:
          - string
          - 'null'
          maxLength: 5
          pattern: ^(0?[1-9]|1[0-2])/(0?[1-9]|[12]\d|3[01])$
          example: 3/15
        cell_phone:
          description: Supporter cell phone number (SMS consent target when collected)
          type:
          - string
          - 'null'
          example: 619-555-1212
        city:
          description: Supporter City
          type:
          - string
          - 'null'
          example: Gettysburg
        country:
          description: Supporter Country
          type:
          - string
          - 'null'
          example: US
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        email_address:
          description: Supporter email address
          type: string
          format: email
          example: test@gofundme.com
        first_name:
          description: First name of the supporter
          type:
          - string
          - 'null'
          example: Hannah
        gender:
          description: Supporter gender
          type:
          - string
          - 'null'
          pattern: ^[MFmf]$
          example: M
        id:
          description: Supporter number identifier
          type: integer
          example: 5827
        last_emailed_at:
          description: To whom the last e-mail was sent
          type:
          - string
          - 'null'
          format: email
          example: test@gofundme.com
        last_name:
          description: Supporter last name
          type:
          - string
          - 'null'
          example: Rosendo
        location:
          description: Free text representing a location
          type:
          - string
          - 'null'
          example: City Townhall
        member_id:
          description: Member number identifier
          type:
          - integer
          - 'null'
          example: 2012
        metadata:
          oneOf:
          - $ref: '#/components/schemas/Metadata'
          description: Arbitrary JSON metadata
        nickname:
          description: Supporter nickname
          type:
          - string
          - 'null'
          example: GoFundMePro
        opt_in:
          description: Indicates whether the supported opted in to email communication or not
          type: boolean
          example: true
        origin:
          description: Supporter origin
          type: string
          example: donation
        phone:
          description: Supporter phone number
          type:
          - string
          - 'null'
          example: 619-555-1212
        postal_code:
          description: Zip Code
          type:
          - string
          - 'null'
          example: '92101'
        source_campaign_id:
          description: Campaign number identifier
          type:
          - integer
          - 'null'
          example: 227362
        source_fundraising_page_id:
          description: Fundraising page identifier
          type:
          - integer
          - 'null'
          example: 2173528
        source_member_id:
          description: Member identifier
          type:
          - integer
          - 'null'
          example: 2012
        source_organization_id:
          description: Organization identifier
          type:
          - integer
          - 'null'
          example: 82364
        state:
          description: State/province name
          type:
          - string
          - 'null'
          example: NE
        updated_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
      type: object
    SupporterFillable:
      title: Supporter Fillable
      properties:
        address1:
          description: Supporter main address
          type:
          - string
          - 'null'
          maxLength: 512
          example: 300 N Washington St
        address2:
          description: Secondary Supporter address
          type:
          - string
          - 'null'
          maxLength: 45
          example: 300 N Washington St
        cell_phone:
          description: Supporter cell phone number (SMS consent target when collected)
          type:
          - string
          - 'null'
          maxLength: 32
          example: 619-555-1212
        city:
          description: Supporter City
          type:
          - string
          - 'null'
          maxLength: 45
          example: Gettysburg
        country:
          description: Supporter Country
          type:
          - string
          - 'null'
          maxLength: 2
          minLength: 2
          example: US
        email_address:
          description: Supporter email address
          type:
          - string
          - 'null'
          format: email
          example: test@gofundme.com
        first_name:
          description: First name of the supporter
          type:
          - string
          - 'null'
          maxLength: 32
          example: Hannah
        gender:
          description: Supporter gender
          type:
          - string
          - 'null'
          maxLength: 1
          minLength: 1
          pattern: ^[MFmf]$
          example: M
        last_name:
          description: Supporter last name
          type:
          - string
          - 'null'
          maxLength: 32
          example: Rosendo
        location:
          description: Free text representing a location
          type:
          - string
          - 'null'
          maxLength: 45
          example: City Townhall
        metadata:
          oneOf:
          - $ref: '#/components/schemas/Metadata'
          description: Arbitrary JSON metadata
        nickname:
          description: Supporter nickname
          type:
          - string
          - 'null'
          maxLength: 32
          example: GoFundMePro
        phone:
          description: Supporter phone number
          type:
          - string
          - 'null'
          maxLength: 16
          example: 619-555-1212
        postal_code:
          description: Zip Code
          type:
          - string
          - 'null'
          maxLength: 50
          example: '92101'
        state:
          description: State/province name
          type:
          - string
          - 'null'
          maxLength: 100
          example: NE
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
