openapi: 3.2.0
info:
  title: GoFundMe Pro Classy Subscription Plan API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Classy Subscription Plan
  description: A ClassySubscriptionPlan is a legacy method of specifying the GoFundMe Pro plan to which an organization is subscribed, which was associated with specific transaction rates and plan features. This has been replaced with plans defined by an integration with an external service.
paths:
  /classy-subscription-plans/{id}/plan-features:
    get:
      tags:
      - Classy Subscription Plan
      summary: getSubscriptionPlanFeatures
      description: Retrieves the Subscription Plan features for a specified Plan
      operationId: getSubscriptionPlanFeatures
      parameters:
      - name: id
        in: path
        description: The specified Subscription Plan ID
        required: true
        schema:
          type: integer
          example: 103
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanFeatures'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Subscription Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    PlanFeatures:
      title: Plan Features
      properties:
        ach_account_and_routing:
          description: Specifies whether the associated Organization can process ACH through manually entered account and routing numbers
          type: boolean
          example: false
        ach_processing:
          description: Specifies whether the associated Organization can process ACH transactions
          type: boolean
          example: false
        admin_access_levels:
          description: Specifies whether the associated Organization can use admin access levels feature
          type: boolean
          example: false
        admin_notifications:
          description: Specifies whether the associated Organization can use admin notifications feature
          type: boolean
          example: false
        admin_roles:
          description: Specifies whether the associated Organization can use admin roles feature
          type: boolean
          example: false
        api_access:
          description: Specifies whether the associated Organization can access the GoFundMe Pro API
          type: boolean
          example: false
        campaign_templating:
          description: Specifies whether the associated Organization can access Campaign Templating
          type: boolean
          example: false
        connected_accounts:
          description: Specifies whether the associated Organization is connected to other Organizations
          type: boolean
          example: false
        cctype_crowdfunding:
          description: Specifies whether the associated Organization can create and maintain crowdfunding Campaigns
          type: boolean
          example: false
        ctype_donation:
          description: Specifies whether the associated Organization can create and maintain Donation Page Campaigns
          type: boolean
          example: false
        ctype_fund_for_entry:
          description: Specifies whether the associated Organization can create and maintain fundraise-for-entry Campaigns
          type: boolean
          example: false
        ctype_gfm_peer_to_peer:
          description: Specifies whether the associated Organization can create and maintain GFM peer-to-peer Campaigns
          type: boolean
          example: false
        ctype_peer_to_peer:
          description: Specifies whether the associated Organization can create and maintain peer-to-peer Campaigns
          type: boolean
          example: false
        ctype_reg_w_fund:
          description: Specifies whether the associated Organization can create and maintain registration-with-fundraising Campaigns
          type: boolean
          example: false
        ctype_registration:
          description: Specifies whether the associated Organization can create and maintain registration Campaigns
          type: boolean
          example: false
        ctype_studio_direct_giving:
          description: Specifies whether the associated Organization can create and maintain Studio direct giving Campaigns
          type: boolean
          example: false
        ctype_studio_embedded:
          description: Specifies whether the associated Organization can create and maintain Studio embedded Campaigns
          type: boolean
          example: false
        ctype_ticketed:
          description: Specifies whether the associated Organization can create and maintain ticketed Campaigns
          type: boolean
          example: false
        ctype_virtual:
          description: Specifies whether the associated Organization can create and maintain virtual Campaigns
          type: boolean
          example: false
        designations:
          description: Specifies whether the associated Organization can create Designations
          type: boolean
          example: false
        domain_masking:
          description: Specifies whether the associated Organization can enable Domain Masking for their GoFundMe Pro pages
          type: boolean
          example: false
        donate_double:
          description: Allow Organization to enable Double the Donation integration
          type: boolean
          example: false
        ecard_dedications:
          description: Specifies whether the associated Organization has ecard Dedications enabled
          type: boolean
          example: false
        email_contacts:
          description: Allow Organization to send emails to Supporters
          type: boolean
          example: false
        int_constant_contact:
          description: Specifies whether the associated Organization can enable Constant Contact integration
          type: boolean
          example: false
        int_double_the_donation:
          description: Specifies whether the associated Organization can enable Double The Donation integration
          type: boolean
          example: false
        int_dynamics:
          description: Specifies whether the associated Organization can enable the Microsoft Dynamics integration
          type: boolean
          example: false
        int_facebook:
          description: Specifies whether the associated Organization can set up Facebook for Fundraising Pages creation on Facebook
          type: boolean
          example: false
        int_meta_capi:
          description: Specifies whether the associated Organization can configure a Meta CAPI integration
          type: boolean
          example: false
        int_google_analytics:
          description: Specifies whether the associated Organization can configure a Google Analytics integration
          type: boolean
          example: false
        int_mailchimp:
          description: Specifies whether the associated Organization can enable Mailchimp integration
          type: boolean
          example: false
        int_raisers_edge:
          description: Specifies whether the associated Organization can use Raiser's Edge for GoFundMe Pro
          type: boolean
          example: false
        int_salesforce:
          description: Specifies whether the associated Organization can enable the Salesforce integration
          type: boolean
          example: false
        int_salesforce_advanced:
          description: Specifies whether the associated Organization can enable the advanced Salesforce integration
          type: boolean
          example: false
        int_zapier:
          description: Specifies whether the associated Organization can enable the Zapier integration
          type: boolean
          example: false
        int_salesforce_fundraising:
          description: Specifies whether the associated Organization can enable the Salesforce nonprofit cloud integration
          type: boolean
          example: false
        intelligent_ask_amounts:
          description: Specifies whether the associated Organization can enable intelligent ask amounts
          type: boolean
          example: false
        international_processing:
          description: Specifies whether the associated Organization can set up and maintain multiple payment processors and enable international charges
          type: boolean
          example: false
        live_agent:
          description: Specifies whether the associated Organization can enable the live agent
          type: boolean
          default: false
          example: false
        live_chat:
          description: Specifies whether the associated Organization can enable the live chat
          type: boolean
          example: false
        max_admins:
          description: Maximum number of admins that can access the organization's dashboard
          type: integer
          minimum: 0
          example: 1
        max_total_admins:
          description: Number of total admins
          type:
          - integer
          - 'null'
          example: 1
        max_campaigns:
          description: Specifies the maximum number of active Campaigns that the Organization can have at a time
          type: integer
          minimum: 0
          example: 1
        max_zero_fee_donation_pages:
          description: Specifies the maximum number of Donation pages that incur no GoFundMe Pro Transaction Fees
          type: integer
          minimum: 0
          example: 1
        nav_campaigns_enabled:
          description: Controls visibility of campaigns navigation item
          type: boolean
          example: true
        nav_fundraising_reports_enabled:
          description: Controls visibility of fundraising reports navigation item
          type: boolean
          example: true
        nav_general_reports_enabled:
          description: Controls visibility of general reports navigation item
          type: boolean
          example: true
        nav_gfm_channel_enabled:
          description: Controls visibility of GFM channel navigation item
          type: boolean
          example: true
        nav_home_enabled:
          description: Controls visibility of home navigation item
          type: boolean
          example: true
        nav_integrations_enabled:
          description: Controls visibility of integrations navigation item
          type: boolean
          example: true
        nav_supporters_enabled:
          description: Controls visibility of supporters navigation item
          type: boolean
          example: true
        nav_transactions_enabled:
          description: Controls visibility of transactions navigation item
          type: boolean
          example: true
        onboarding_cohort_paypal_essentials:
          description: Allows Organization to onboard with PayPal Essentials
          type: boolean
          example: false
        org_dashboard:
          description: Specifies whether the associated Organization can enable the dashboard
          type: boolean
          example: false
        org_level_reporting:
          description: Specifies whether the associated Organization can enable level reporting
          type: boolean
          example: false
        org_sso:
          description: Specifies whether the associated Organization is federated sso
          type: boolean
          example: false
        pp_authorize:
          description: Specifies whether the associated Organization can enable an Authorize.net payment processor
          type: boolean
          example: false
        pp_braintree:
          description: Specifies whether the associated Organization can enable a Braintree payment processor
          type: boolean
          example: false
        pp_chariot:
          description: Specifies whether the associated Organization can enable a Chariot payment processor
          type: boolean
          example: false
        pp_paypal:
          description: Specifies whether the associated Organization can enable a PayPal payment processor
          type: boolean
          example: false
        pp_cryptogiving:
          description: Specifies whether the associated Organization can enable a crypto payment processor, such as Coinbase
          type: boolean
          example: false
        pp_ppgf:
          description: Specifies whether the associated Organization can enable a PPGF payment processor
          type: boolean
          example: false
        pp_stripe:
          description: Specifies whether the associated Organization can enable a Stripe payment processor
          type: boolean
          example: false
        pp_wepay:
          description: Specifies whether the associated Organization can enable a WePay payment processor
          type: boolean
          example: false
        pro_designer:
          description: Specifies whether the associated Organization can access the Pro Designer
          type: boolean
          example: false
        recurring_donations:
          description: Specifies whether the associated Organization can enable recurring donations
          type: boolean
          example: false
        rollup_reporting:
          description: Specifies whether the Organization can be included within roll-up reporting functionality
          type: boolean
          example: false
        seo_keywords:
          description: N/A
          type: boolean
          example: false
        sponsor_matching:
          description: Enabling Organization to allow the creation of Donation Matching Plans
          type: boolean
          example: false
        studio_features_giving_cart:
          description: Enables giving cart feature
          type: boolean
          example: false
        virtual_advanced_features:
          description: Allows for enterprise-level virtual event features (e.g. multiple stages)
          type: boolean
          example: false
        virtual_advanced_reporting:
          description: Allows for advanced reporting features for all auction-type events (e.g. recording transcripts)
          type: boolean
          example: false
        virtual_auctions:
          description: Allows for auctions to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_auction_packages:
          description: Allows for auction packages to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_bulk_attendees:
          description: Allows for bulk attendees to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_bulk_auction_items:
          description: Allows for bulk auction items to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_customization:
          description: Allows for advanced customization features for all auction-type events (e.g. custom emails)
          type: boolean
          example: false
        virtual_group_registration:
          description: Allows for group registration to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_max_admins:
          description: Maximum number of admin assignments for Live Events events (not including organization admins)
          type:
          - integer
          - 'null'
          minimum: 0
          example: 1
        virtual_max_duration_hours:
          description: Maximum number of hours for Live Events virtual events
          type:
          - integer
          - 'null'
          minimum: 0
          example: 24
        virtual_max_event_attendees:
          description: Maximum number of event attendees for GoFundMe Pro’s Live virtual events
          type:
          - integer
          - 'null'
          minimum: 0
          example: 100
        virtual_max_events_per_year:
          description: Maximum number of events per year for GoFundMe Pro’s Live Events organization
          type:
          - integer
          - 'null'
          minimum: 0
          example: 12
        virtual_max_rooms:
          description: Maximum number of breakout rooms allowed for each Live Events event
          type:
          - integer
          - 'null'
          minimum: 0
          example: 10
        virtual_max_room_attendees:
          description: Maximum number of attendees allowed per breakout room in Live Events event
          type:
          - integer
          - 'null'
          minimum: 0
          example: 10
        virtual_max_stages:
          description: Maximum number of stages allowed for each Live Events event
          type:
          - integer
          - 'null'
          minimum: 0
          example: 5
        virtual_mobile_app:
          description: Allows for mobile app to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_seating:
          description: Allows for seating to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_support_onsite:
          description: Allows for support onsite to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_support_phone:
          description: Allows for support phone to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_support_remote:
          description: Allows for support remote to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_text_to_donate:
          description: Allows for text to donate to be enabled for virtual campaigns
          type: boolean
          example: false
        virtual_venue:
          description: Allows for venue to be enabled for virtual campaigns
          type: boolean
          example: false
        zero_fee_donation_page:
          description: Allow Organization to create a zero fee Campaign
          type: boolean
          example: false
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
