openapi: 3.2.0
info:
  title: GoFundMe Pro Feed Item API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Feed Item
  description: 'A feed item is a representation of a message that populates the feed of a fundraising entity (i.e. the feed item’s

    “feedable”). Each feed item references an “agent” who performed an action, and may also reference a “linkable” object that is relevant

    to the action performed.'
paths:
  /campaigns/{campaign}/feed-items:
    get:
      tags:
      - Feed Item
      summary: listCampaignFeedItems
      description: List all Feed Items for specified Campaign (Direct)
      operationId: listCampaignFeedItems
      parameters:
      - name: campaign
        in: path
        description: ID of desired Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - name: communal
        in: query
        description: Only fetch public (non-admin) feed items, otherwise all feed items
        required: false
        schema:
          type: boolean
          example: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/campaigns/227362/feed-items?page=1'
                    last_page_url:
                      example: '{host}/campaigns/227362/feed-items?page=1'
                    path:
                      example: '{host}/campaigns/227362/feed-items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Feed Item
      summary: createCampaignFeedItem
      description: Create a FeedItem (Comment) for specified Campaign
      operationId: createCampaignFeedItem
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  description: Comment for the Campaign
                  type: string
                  example: I just want to say that I think you all are doing a great job. Keep up the good work!
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedItemComment'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /campaigns/{campaign}/feed-items/{scope}:
    get:
      tags:
      - Feed Item
      summary: listCampaignFeedItemsScoped
      description: List all Feed Items for specified Campaign (Scoped)
      operationId: listCampaignFeedItemsScoped
      parameters:
      - name: campaign
        in: path
        description: ID of desired Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - name: scope
        in: path
        description: Feed Items' scope
        required: true
        schema:
          type: string
          enum:
          - direct
          - all
          example: direct
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/campaigns/227362/feed-items/direct?page=1'
                    last_page_url:
                      example: '{host}/campaigns/227362/feed-items/direct?page=1'
                    path:
                      example: '{host}/campaigns/227362/feed-items/direct'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /feed-items/{feed_item}:
    get:
      tags:
      - Feed Item
      summary: fetchFeedItem
      description: Show requested Feed Item
      operationId: fetchFeedItem
      parameters:
      - name: feed_item
        in: path
        description: The specified Feed Item ID
        required: true
        schema:
          type: integer
          example: 3498578
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/FeedItemAssociation'
                - $ref: '#/components/schemas/FeedItemComment'
                - $ref: '#/components/schemas/FeedItemCreation'
                - $ref: '#/components/schemas/FeedItemUpdate'
                - $ref: '#/components/schemas/FeedItemOnboarding'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    put:
      tags:
      - Feed Item
      summary: updateFeedItem
      description: Update a Feed Item
      operationId: updateFeedItem
      parameters:
      - name: feed_item
        in: path
        description: The specified Feed Item ID
        required: true
        schema:
          type: integer
          example: 3498578
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  description: Comment for the Feed Item
                  type: string
                  example: I just want to say that I think you all are doing a great job. Keep up the good work!
                  deprecated: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/FeedItemAssociation'
                - $ref: '#/components/schemas/FeedItemComment'
                - $ref: '#/components/schemas/FeedItemCreation'
                - $ref: '#/components/schemas/FeedItemUpdate'
                - $ref: '#/components/schemas/FeedItemOnboarding'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Feed Item
      summary: deleteFeedItem
      description: Delete Feed Item
      operationId: deleteFeedItem
      parameters:
      - name: feed_item
        in: path
        description: ID of Feed Item
        required: true
        schema:
          type: integer
          example: 3498578
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-pages/{fundraising_page}/feed-items:
    get:
      tags:
      - Feed Item
      summary: listFundraisingPageFeedItems
      description: List all Feed Items for specified Fundraising Page
      operationId: listFundraisingPageFeedItems
      parameters:
      - name: fundraising_page
        in: path
        description: ID of desired Fundraising Page
        required: true
        schema:
          type: integer
          example: 2173528
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/fundraising-pages/2173528/feed-items?page=1'
                    last_page_url:
                      example: '{host}/fundraising-pages/2173528/feed-items?page=1'
                    path:
                      example: '{host}/fundraising-pages/2173528/feed-items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Feed Item
      summary: createFundraisingPageFeedItem
      description: Create a FeedItem (Comment) for specified Fundraising Page
      operationId: createFundraisingPageFeedItem
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  description: Comment for the Fundraising Page
                  type: string
                  example: I just want to say that I think you all are doing a great job. Keep up the good work!
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedItemComment'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}/feed-items:
    get:
      tags:
      - Feed Item
      summary: listFundraisingTeamFeedItems
      description: List all Feed Items for specified Fundraising Team
      operationId: listFundraisingTeamFeedItems
      parameters:
      - name: fundraising_team
        in: path
        description: ID of desired Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/fundraising-teams/209745/feed-items?page=1'
                    last_page_url:
                      example: '{host}/fundraising-teams/209745/feed-items?page=1'
                    path:
                      example: '{host}/fundraising-teams/209745/feed-items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Feed Item
      summary: createFundraisingTeamFeedItem
      description: Create a FeedItem (Comment) for specified Fundraising Team
      operationId: createFundraisingTeamFeedItem
      parameters:
      - name: fundraising_team
        in: path
        description: The specified Fundraising Team ID
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  description: Comment for the Fundraising Team
                  type: string
                  example: I just want to say that I think you all are doing a great job. Keep up the good work!
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedItemComment'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization_id}/feed-items:
    get:
      tags:
      - Feed Item
      summary: listOrganizationFeedItems
      description: List all Feed Items for specified Organization (Direct)
      operationId: listOrganizationFeedItems
      parameters:
      - name: organization_id
        in: path
        description: ID of desired Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/organizations/82364/feed-items?page=1'
                    last_page_url:
                      example: '{host}/organizations/82364/feed-items?page=1'
                    path:
                      example: '{host}/organizations/82364/feed-items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Feed Item
      summary: createOrganizationFeedItem
      description: Create a FeedItem (Comment) for specified Organization
      operationId: createOrganizationFeedItem
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  description: Comment for the Organization
                  type: string
                  example: I just want to say that I think you all are doing a great job. Keep up the good work!
                  deprecated: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedItemComment'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /organizations/{organization_id}/feed-items/{scope}:
    get:
      tags:
      - Feed Item
      summary: listOrganizationFeedItemsScoped
      description: List all Feed Items for specified Organization (Scoped)
      operationId: listOrganizationFeedItemsScoped
      parameters:
      - name: organization_id
        in: path
        description: ID of desired Organization
        required: true
        schema:
          type: integer
          example: 82364
      - name: scope
        in: path
        description: Feed Items' scope
        required: true
        schema:
          type: string
          enum:
          - direct
          - all
          example: direct
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of FeedItems
                      type: array
                      items:
                        anyOf:
                        - $ref: '#/components/schemas/FeedItemAssociation'
                        - $ref: '#/components/schemas/FeedItemComment'
                        - $ref: '#/components/schemas/FeedItemCreation'
                        - $ref: '#/components/schemas/FeedItemUpdate'
                        - $ref: '#/components/schemas/FeedItemOnboarding'
                    first_page_url:
                      example: '{host}/organizations/82364/feed-items/direct?page=1'
                    last_page_url:
                      example: '{host}/organizations/82364/feed-items/direct?page=1'
                    path:
                      example: '{host}/organizations/82364/feed-items/direct'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    FeedItem:
      title: Feed Item
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 987
        agent_id:
          description: Primary identifier of the Agent that performed interaction associated with Feed Item
          type:
          - integer
          - 'null'
          example: 438475
        agent_type:
          description: Type of Agent that performed interaction associated with Feed Item
          type:
          - string
          - 'null'
          enum:
          - member
          - business
          example: member
        agent_name:
          description: Name of Agent that performed interaction associated with Feed Item. When the owning Organization has Contact-First Architecture enabled (npo_apiv2_ff_contact_first_architecture), Member-morph agents return the supporter-derived display name; for creation-type items on fundraising_page / fundraising_team feedables with no Supporter, the page / team title is the fallback (only when it does not match the author member's snapshotted name); otherwise null. Business agents are unaffected. Prefer the new `author_display_name` field for new consumers — `agent_name` is preserved for back-compat with existing apps and will be cleaned up per-app under PRO-2280.
          type:
          - string
          - 'null'
          example: John Doe
        member_name:
          description: Snapshotted name of the Member associated with the Feed Item (legacy alias preceding the polymorphic `agent` relation). When the owning Organization has Contact-First Architecture enabled, this is replaced with the supporter-derived display name; for creation-type items on fundraising_page / fundraising_team feedables with no Supporter, the page / team title is the fallback (only when it does not match the author member's snapshotted name); for Business agents and otherwise null. Prefer the new `author_display_name` field for new consumers — `member_name` is preserved for back-compat with existing apps and will be cleaned up per-app under PRO-2280.
          type:
          - string
          - 'null'
          example: Jane Doe
        feedable_id:
          description: Primary identifier of Fundraising Entity associated with Feed Item’s described interaction
          type: integer
          example: 4857
        feedable_type:
          description: Type of the Item
          type: string
          example: campaign
        feedable_value:
          description: Name or title of the Item. Under Contact-First Architecture (npo_apiv2_ff_contact_first_architecture), this is null when `feedable_type` is `fundraising_page` or `fundraising_team` (any row type) — the snapshotted page / team title would otherwise re-leak member-seeded names from unguarded write paths (`CompleteRegistrations`, `CreateFundraisingPageForLead`, and the registration-recovery commands).
          type:
          - string
          - 'null'
          example: GoFundMe Pro fundraising campaign
        linkable_id:
          description: Primary identifier of Entity whose creation, update, or association is described by Feed Item
          type:
          - integer
          - 'null'
          example: 4832
        linkable_type:
          description: Type of Entity whose creation, update, or association is described by Feed Item
          type:
          - string
          - 'null'
          example: fundraising_page
        linkable_value:
          description: Name or title of the Entity whose creation, update, or association is described by Feed Item. Under Contact-First Architecture (npo_apiv2_ff_contact_first_architecture), this is null when `linkable_type` is `fundraising_page` or `fundraising_team` (any row type — the snapshotted page / team title would otherwise re-leak member-seeded names), and for TYPE_ASSOCIATION items where `linkable_type` is a Member morph (the persisted column would otherwise re-leak the member's full name).
          type:
          - string
          - 'null'
          example: How to keep donors engaged
        linkable_effective_at:
          description: Date/time when Linkable is effective
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        type:
          description: Type of the Item
          type: string
          enum:
          - comment
          - onboarding
          - creation
          - update
          - association
          example: creation
        comment:
          description: Comment
          type:
          - string
          - 'null'
          example: This is a comment.
        comments_count:
          description: Amount of Comments that the Feed Item has
          type:
          - integer
          - 'null'
          example: 78
        likes_count:
          description: Amount of Likes that the Feed has
          type:
          - integer
          - 'null'
          example: 8
        created_at:
          description: Date/time when object was created
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        updated_at:
          description: Date/time when object was updated
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        visibility:
          description: Visibility status of the Item
          type: string
          enum:
          - public
          - admin
          example: public
        latest_comments:
          description: Array of latest Comments made in response to Item (limit 2 items)
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        author_display_name:
          description: Supporter-derived display name for the item author. Populated when the owning Organization has Contact-First Architecture enabled (npo_apiv2_ff_contact_first_architecture); also populated on the fail-closed path when the owning Organization cannot be resolved on a supporter-bearing feedable type (soft-deleted feedable, etc.) — Business-agent items surface the business display name and Member-agent items surface null. Resolves to the supporter's first + last name for member-authored items, the business display name for Business-agent items, or null when no Supporter record matches and no safe fallback is available. New consumers should prefer this field over `member_name` / `agent_name`.
          type:
          - string
          - 'null'
          example: Pat Supporter
      type: object
    FeedItemUpdate:
      title: Feed Item (Update)
      type: object
      allOf:
      - $ref: '#/components/schemas/FeedItem'
      - properties:
          feedable_type:
            description: Type of the Fundraising Entity associated with Feed Item’s described interaction, same as linkable_type
            type: string
            example: fundraising_page
          linkable_type:
            description: Type of the Entity whose creation, update, or association is described by Feed Item same as feedable_type
            type:
            - string
            - 'null'
            example: fundraising_page
          comment:
            description: Comment
            type:
            - string
            - 'null'
            enum:
            - 'null'
            example: 'null'
        type: object
    FeedItemAssociation:
      title: Feed Item (Association)
      type: object
      allOf:
      - $ref: '#/components/schemas/FeedItem'
      - properties:
          feedable_type:
            description: Type of the Fundraising Entity associated with Feed Item’s described interaction
            type: string
            enum:
            - fundraising_team
            example: fundraising_team
          linkable_type:
            description: Type of the Entity whose creation, update, or association is described by Feed Item
            type:
            - string
            - 'null'
            enum:
            - fundraising_page
            example: fundraising_page
          comment:
            description: Comment
            type:
            - string
            - 'null'
            example: Thanks for the great cause, happy to support!
        type: object
    FeedItemComment:
      title: Feed Item (Comment)
      type: object
      allOf:
      - $ref: '#/components/schemas/FeedItem'
      - properties:
          feedable_type:
            description: Type of the Fundraising Entity associated with Feed Item’s described interaction
            type: string
            example: campaign
          linkable_type:
            description: Type of the Entity whose creation, update, or association is described by Feed Item
            type:
            - string
            - 'null'
          comment:
            description: Comment
            type: string
            example: I just want to say that I think you all are doing a great job. Keep up the good work!
        type: object
    FeedItemCreation:
      title: Feed Item (Creation)
      type: object
      allOf:
      - $ref: '#/components/schemas/FeedItem'
      - properties:
          feedable_type:
            description: Type of the Fundraising Entity associated with Feed Item’s described interaction, same as linkable_type
            type: string
            example: fundraising_page
          linkable_type:
            description: Type of the Entity whose creation, update, or association is described by Feed Item same as feedable_type
            type:
            - string
            - 'null'
            example: fundraising_page
          comment:
            description: Comment
            type:
            - string
            - 'null'
            enum:
            - 'null'
            example: 'null'
        type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Comment:
      title: Comment
      properties:
        body:
          description: The content of the Comment
          type: string
          example: Example Comment
        commentable_id:
          description: Primary identifier of associated Commentable Entity
          type: integer
          example: 876
        commentable_type:
          description: Type of associated Commentable Entity
          type: string
          enum:
          - feed_item
          - update
          - story
          example: feed_item
        commenter_name:
          description: The full name of the creator of the Comment. CFA semantics apply only to comments embedded in a parent FeedItem's `latest_comments` (the FeedItem-level `getLatestCommentsAttribute` override drives the privacy pass). For comments returned by the standalone Post / Story / Update comment endpoints, the legacy shape is preserved regardless of the org's Contact-First Architecture flag — those surfaces are tracked for migration under PRO-4055. When CFA applies (FeedItem-embedded path) and the flag is on (npo_apiv2_ff_contact_first_architecture), this returns the supporter-derived display name (or empty string when no Supporter is found) instead of the member's name. Prefer the new `author_display_name` field for new consumers — `commenter_name` is preserved for back-compat with existing apps and will be cleaned up per-app under PRO-2280.
          type: string
          example: GoFundMe Pro Commenter
        author_display_name:
          description: 'Supporter-derived display name for the comment author. Populated only on FeedItem-embedded comments (`latest_comments`) — the standalone Post / Story / Update comment endpoints do not include this property; that gap is tracked for migration under PRO-4055. On the FeedItem-embedded path: populated when the owning Organization has Contact-First Architecture enabled (npo_apiv2_ff_contact_first_architecture); also populated (often null) on the fail-closed path when the owning Organization cannot be resolved for the parent FeedItem on a supporter-bearing feedable type. Null when no Supporter record matches the commenter for that org. New consumers should prefer this field over `commenter_name`.'
          type:
          - string
          - 'null'
          example: Pat Supporter
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 47281
        likes_count:
          description: Amount of likes a Comment has received
          type: integer
          example: 5
        member_id:
          description: The ID of the Member that created of the Comment
          type: integer
          example: 2012
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
      type: object
    FeedItemOnboarding:
      title: Feed Item (Onboarding)
      type: object
      allOf:
      - $ref: '#/components/schemas/FeedItem'
      - properties:
          feedable_type:
            description: Type of the Fundraising Entity associated with Feed Item’s described interaction
            type: string
            enum:
            - organization
            example: organization
          linkable_type:
            description: Type of the Entity whose creation, update, or association is described by Feed Item
            type:
            - string
            - 'null'
            enum:
            - 'null'
            example: 'null'
          comment:
            description: Comment
            type:
            - string
            - 'null'
            example: Welcome to GoFundMe Pro!
        type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
