openapi: 3.2.0
info:
  title: GoFundMe Pro Comment API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Comment
  description: 'Comments can also be made in response to Stories, Updates, or FeedItems made on a fundraising entity.

    Please note that these take a slightly different form from comments for activity records.'
paths:
  /comments/{comment}:
    get:
      tags:
      - Comment
      summary: fetchComment
      description: Retrieves a Comment from the ID
      operationId: fetchComment
      parameters:
      - name: comment
        in: path
        description: The specified Comment ID
        required: true
        schema:
          type: integer
          example: 47281
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    put:
      tags:
      - Comment
      summary: updateComment
      description: Update Comment
      operationId: updateComment
      parameters:
      - name: comment
        in: path
        description: The specified Comment ID
        required: true
        schema:
          type: integer
          example: 47281
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Comment
      summary: deleteComment
      description: Delete Comment
      operationId: deleteComment
      parameters:
      - name: comment
        in: path
        description: Comment ID
        required: true
        schema:
          type: integer
          example: 47281
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /feed-items/{feed_item}/comments:
    get:
      tags:
      - Comment
      summary: listFeedItemComments
      description: Retrieves a paginated list of Comments for a Feed Item
      operationId: listFeedItemComments
      parameters:
      - name: feed_item
        in: path
        description: The specified Feed Item ID
        required: true
        schema:
          type: integer
          example: 876
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Comments
                      type: array
                      items:
                        $ref: '#/components/schemas/Comment'
                    first_page_url:
                      example: '{host}/feed-items/876/comments?page=1'
                    last_page_url:
                      example: '{host}/feed-items/876/comments?page=1'
                    path:
                      example: '{host}/feed-items/876/comments'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Comment
      summary: createFeedItemComment
      description: Create comment for specified Feed Item
      operationId: createFeedItemComment
      parameters:
      - name: feed_item
        in: path
        description: The specified Feed Item ID
        required: true
        schema:
          type: integer
          example: 876
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Feed Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /stories/{story}/comments:
    get:
      tags:
      - Comment
      summary: listStoryComments
      description: Retrieves a paginated list of Comments for a Story
      operationId: listStoryComments
      parameters:
      - name: story
        in: path
        description: The specified Story ID
        required: true
        schema:
          type: integer
          example: 736
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Comments
                      type: array
                      items:
                        $ref: '#/components/schemas/StoryComment'
                      deprecated: true
                    first_page_url:
                      example: '{host}/stories/736/comments?page=1'
                      deprecated: true
                    last_page_url:
                      example: '{host}/stories/736/comments?page=1'
                      deprecated: true
                    path:
                      example: '{host}/stories/736/comments'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Comment
      summary: createStoryComment
      description: Create Comment for specified Story
      operationId: createStoryComment
      parameters:
      - name: story
        in: path
        description: The specified Story ID
        required: true
        schema:
          type: integer
          example: 736
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryComment'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Story not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /updates/{update}/comments:
    get:
      tags:
      - Comment
      summary: listUpdateComments
      description: Retrieves a paginated list of Comments for a Update
      operationId: listUpdateComments
      parameters:
      - name: update
        in: path
        description: The specified Update ID
        required: true
        schema:
          type: integer
          example: 72631
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Comments
                      type: array
                      items:
                        $ref: '#/components/schemas/UpdateComment'
                      deprecated: true
                    first_page_url:
                      example: '{host}/updates/72631/comments?page=1'
                      deprecated: true
                    last_page_url:
                      example: '{host}/updates/72631/comments?page=1'
                      deprecated: true
                    path:
                      example: '{host}/updates/72631/comments'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Comment
      summary: createUpdateComment
      description: Create Comment for specified Update
      operationId: createUpdateComment
      parameters:
      - name: update
        in: path
        description: The specified Update ID
        required: true
        schema:
          type: integer
          example: 72631
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateComment'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Update not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    StoryComment:
      title: Comment (Story)
      type: object
      allOf:
      - $ref: '#/components/schemas/Comment'
      - properties:
          commentable_id:
            type: integer
            example: 72552
          commentable_type:
            type: string
            example: story
        type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    UpdateComment:
      title: Comment (Update)
      type: object
      allOf:
      - $ref: '#/components/schemas/Comment'
      - properties:
          commentable_id:
            type: integer
            example: 736
          commentable_type:
            type: string
            example: update
        type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Comment:
      title: Comment
      properties:
        body:
          description: The content of the Comment
          type: string
          example: Example Comment
        commentable_id:
          description: Primary identifier of associated Commentable Entity
          type: integer
          example: 876
        commentable_type:
          description: Type of associated Commentable Entity
          type: string
          enum:
          - feed_item
          - update
          - story
          example: feed_item
        commenter_name:
          description: The full name of the creator of the Comment. CFA semantics apply only to comments embedded in a parent FeedItem's `latest_comments` (the FeedItem-level `getLatestCommentsAttribute` override drives the privacy pass). For comments returned by the standalone Post / Story / Update comment endpoints, the legacy shape is preserved regardless of the org's Contact-First Architecture flag — those surfaces are tracked for migration under PRO-4055. When CFA applies (FeedItem-embedded path) and the flag is on (npo_apiv2_ff_contact_first_architecture), this returns the supporter-derived display name (or empty string when no Supporter is found) instead of the member's name. Prefer the new `author_display_name` field for new consumers — `commenter_name` is preserved for back-compat with existing apps and will be cleaned up per-app under PRO-2280.
          type: string
          example: GoFundMe Pro Commenter
        author_display_name:
          description: 'Supporter-derived display name for the comment author. Populated only on FeedItem-embedded comments (`latest_comments`) — the standalone Post / Story / Update comment endpoints do not include this property; that gap is tracked for migration under PRO-4055. On the FeedItem-embedded path: populated when the owning Organization has Contact-First Architecture enabled (npo_apiv2_ff_contact_first_architecture); also populated (often null) on the fail-closed path when the owning Organization cannot be resolved for the parent FeedItem on a supporter-bearing feedable type. Null when no Supporter record matches the commenter for that org. New consumers should prefer this field over `commenter_name`.'
          type:
          - string
          - 'null'
          example: Pat Supporter
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 47281
        likes_count:
          description: Amount of likes a Comment has received
          type: integer
          example: 5
        member_id:
          description: The ID of the Member that created of the Comment
          type: integer
          example: 2012
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
      type: object
    CommentFillable:
      title: Comment Fillable
      properties:
        body:
          description: The content of the Comment
          type: string
          example: Example Comment
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
