openapi: 3.2.0
info:
  title: GoFundMe Pro Transaction Item API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Transaction Item
  description: Transaction Items describe the specific donations, tickets, registrations (and more) that could make up a Transaction.
paths:
  /transactions/{transaction}/items:
    get:
      tags:
      - Transaction Item
      summary: listTransactionItems
      description: Fetch Transaction Items.
      operationId: listTransactionItems
      parameters:
      - name: transaction
        in: path
        description: Primary identifier of Transaction
        required: true
        schema:
          type: integer
          example: 8734
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Transaction Item
                      type: array
                      items:
                        $ref: '#/components/schemas/TransactionItem'
                    first_page_url:
                      example: '{host}/transactions/{transaction_id}/items?page=1'
                    last_page_url:
                      example: '{host}/transactions/{transaction_id}/items?page=1'
                    path:
                      example: '{host}/transactions/{transaction_id}/items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/transaction-items:
    get:
      tags:
      - Transaction Item
      summary: listOrganizationTransactionItems
      description: Fetch Transaction Items for specific Organization.
      operationId: listOrganizationTransactionItems
      parameters:
      - name: organization
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      - name: with
        in: query
        description: Request specific relationships to be returned with the Transaction Items
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - transaction
            example: transaction
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Transaction Item
                      type: array
                      items:
                        $ref: '#/components/schemas/TransactionItem'
                    first_page_url:
                      example: '{host}/organizations/{organization}/transaction-items?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organization}/transaction-items?page=1'
                    path:
                      example: '{host}/organizations/{organization}/transaction-items'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    TransactionItem:
      title: Transaction Item
      type: object
      allOf:
      - $ref: '#/components/schemas/TransactionItemFillable'
      - properties:
          campaign_id:
            description: ID of Campaign the Transaction Item's Transaction is associated with
            type: integer
            example: 227362
          donation_gross_amount:
            description: Amount charged for item to shown
            type: number
            format: double
            example: 0.89
          donation_net_amount:
            description: Amount charged for item
            type: number
            format: double
            example: 0.89
          fees_amount:
            description: Fees charged for Transaction Item
            type: number
            format: double
            example: 0.89
          final_price:
            description: Reflect a conversion from raw and/or charged attributes into the Transaction Item's `currency_code`, which is the same for all Passport-enabled entities associated with the Transaction item's Organization.
            type: number
            format: double
            example: 0.89
          fundraising_page_id:
            description: ID of Fundraising Page the Transaction Item's Transaction is associated with
            type:
            - integer
            - 'null'
            example: 2173528
          fundraising_team_id:
            description: ID of Fundraising Team the Transaction Item's Transaction is associated with
            type:
            - integer
            - 'null'
            example: 209745
          id:
            description: Primary identifier of Transaction Item
            type: integer
            example: 17020
          organization_id:
            description: ID of Organization the Transaction Item's Transaction is associated with
            type: integer
            example: 82364
          overhead_amount:
            description: Amount of event/host fees
            type: number
            format: double
            example: 25.5
          price:
            description: Price per unit
            type: number
            format: double
            example: 12
          product_id:
            description: ID of the item's Product
            type:
            - integer
            - 'null'
            example: 73647
          product_name:
            description: Name of Product
            type: string
            example: Tickets
          quantity:
            description: Quantity purchased
            type: integer
            example: 2
          transaction_id:
            description: ID of Transaction the item belongs to
            type: integer
            example: 8734
          commerce_order_item_id:
            description: ID of Commerce Order Item the item belongs to
            type:
            - string
            - 'null'
            example: orit_8734
          designation_id:
            description: ID of the designation/project for the Commerce Order Item that the item belongs to
            type:
            - integer
            - 'null'
            example: 8734
        type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    TransactionItemFillable:
      title: Transaction Item Fillable
      properties:
        product_name:
          description: Name of product
          type: string
          maxLength: 64
          example: Tickets
        quantity:
          description: Quantity purchased
          type: integer
          minimum: 1
          example: 1
        raw_final_price:
          description: Represents the total raw value of a Transaction item - it is either set directly (as with a direct donation) or derived from the Product of `raw_price` (the price of the Transaction item's associated Product) and the specified quantity. All raw amounts are presented in terms of `raw_currency_code`, which is inherited from the Transaction item's Transaction and cannot be set on a per-item basis
          type:
          - number
          - 'null'
          format: double
          minimum: 0
          example: 15
        raw_overhead_amount:
          description: Which indicates the amount of the `raw_final_price` that is attributed to Campaign overhead.
          type:
          - number
          - 'null'
          format: double
          minimum: 0
          example: 15
        type:
          description: Type of Transaction Item ledger
          type: string
          enum:
          - donation
          - registration
          - offline_donation
          - chargeback_reversal
          - custom_product
          - auction
          - good
          example: donation
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
