openapi: 3.2.0
info:
  title: GoFundMe Pro E Card API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: eCard
  description: 'Donors can send an eCard dedication along with their donation. Currently, a single campaign can support a maximum of 4

    eCards. eCards are 600 pixels wide by 400 pixels tall and uploaded by the organization.'
paths:
  /campaigns/{campaign}/ecards:
    get:
      tags:
      - eCard
      summary: listEcards
      description: Retrieves a list of all eCards made for the specified Campaign
      operationId: listEcards
      parameters:
      - name: campaign
        in: path
        description: Primary identifier for specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of eCards
                      type: array
                      items:
                        $ref: '#/components/schemas/Ecard'
                    first_page_url:
                      example: '{host}/campaigns/227362/ecards?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/ecards?page=1'
                    path:
                      description: '{host}/campaigns/227362/ecards'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - eCard
      summary: createEcard
      description: Create an eCard for a Campaign
      operationId: createEcard
      parameters:
      - name: campaign
        in: path
        description: Primary identifier for specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ecard'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ecard'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: eCard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /ecards/{ecard}:
    get:
      tags:
      - eCard
      summary: fetchEcard
      description: Fetch specified eCard
      operationId: fetchEcard
      parameters:
      - name: ecard
        in: path
        description: Primary identifier of eCard
        required: true
        schema:
          type: integer
          example: 4377
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ecard'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: eCard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - eCard
      summary: updateEcard
      description: Update specified eCard
      operationId: updateEcard
      parameters:
      - name: ecard
        in: path
        description: Primary identifier of eCard
        required: true
        schema:
          type: integer
          example: 4377
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ecard'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ecard'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: eCard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - eCard
      summary: deleteEcard
      description: Delete specified eCard
      operationId: deleteEcard
      parameters:
      - name: ecard
        in: path
        description: Primary identifier of eCard
        required: true
        schema:
          type: integer
          example: 4377
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: eCard not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    Ecard:
      title: Ecard
      properties:
        asset_id:
          description: Primary identifier of associated image file Asset
          type:
          - integer
          - 'null'
          example: 1145
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          readOnly: true
          example: 227362
        id:
          description: Primary identifier of record
          type: integer
          readOnly: true
          example: 4377
        image_url:
          description: Public URL for the Ecard image
          type: string
          example: https://gofundme-cdn-url.com/your-ecard-image.png
        is_deleted:
          description: Indicates whether Ecard has been deleted
          type: boolean
          readOnly: true
          example: true
        order:
          description: Display order for listings. Impacts display in Classy.org
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
