openapi: 3.2.0
info:
  title: GoFundMe Pro Domain Slug API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Domain Slug
  description: A Domain Slug is a value used to shorten a URL by referencing a domain and a fundraising entity.
paths:
  /campaigns/{campaign}/domain-slugs:
    get:
      tags:
      - Domain Slug
      summary: listCampaignDomainSlugs
      description: Retrieves a list of all Domain Slugs for specified Campaign
      operationId: listCampaignDomainSlugs
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Domain Slugs
                      type: array
                      items:
                        $ref: '#/components/schemas/DomainSlug'
                    first_page_url:
                      example: '{host}/campaigns/227362/domain-slugs?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/domain-slugs?page=1'
                    path:
                      description: '{host}/campaigns/227362/domain-slugs'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Domain Slug
      summary: createCampaignDomainSlug
      description: Create a Domain Slug for the specified Campaign
      operationId: createCampaignDomainSlug
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DomainSlugFillable'
              - properties:
                  domain_id:
                    description: Primary identifier of associated Domain. If none provided, the default Domain will be used.
                    type: integer
                    example: 791
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlug'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /domain-slugs/{domain_slug}:
    get:
      tags:
      - Domain Slug
      summary: fetchDomainSlug
      description: Fetch specified Domain Slug
      operationId: fetchDomainSlug
      parameters:
      - name: domain_slug
        in: path
        description: Primary identifier of Domain Slug
        required: true
        schema:
          type: integer
          example: 235
      - name: with
        in: query
        description: Request specific relationships to be returned with the DomainSlug
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - domain
            - fundraising_entity
            example: domain
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlug'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Domain Slug not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Domain Slug
      summary: updateDomainSlug
      description: Update specified Domain Slug
      operationId: updateDomainSlug
      parameters:
      - name: domain_slug
        in: path
        description: Primary identifier of Domain Slug
        required: true
        schema:
          type: integer
          example: 235
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSlugFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlug'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Domain slug not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Domain Slug
      summary: deleteDomainSlug
      description: Delete specified Domain Slug
      operationId: deleteDomainSlug
      parameters:
      - name: domain_slug
        in: path
        description: Primary identifier of Domain Slug
        required: true
        schema:
          type: integer
          example: 235
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Domain Slug not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /domain-slugs/availability-check/{slug_value}:
    get:
      tags:
      - Domain Slug
      summary: checkSlugAvailability
      description: Check if a Domain Slug exists with the specified value
      operationId: checkSlugAvailability
      parameters:
      - name: slug_value
        in: path
        description: Value of the Domain Slug
        required: true
        schema:
          type: string
          example: 15thbowlathon
      - name: domain_id
        in: query
        description: Primary identifier of Domain to apply availability check against. If none provided, the default Domain will be used.
        required: false
        schema:
          type: integer
          example: 791
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  result:
                    type: boolean
                    example: true
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /fundraising-pages/{fundraising_page}/domain-slugs:
    post:
      tags:
      - Domain Slug
      summary: createFundraisingPageDomainSlug
      description: Create a Domain Slug for the specified Fundraising Page
      operationId: createFundraisingPageDomainSlug
      parameters:
      - name: fundraising_page
        in: path
        description: Primary identifier of specified Fundraising Page
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSlugFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlugPage'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Page not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}/domain-slugs:
    get:
      tags:
      - Domain Slug
      summary: listFundraisingTeamDomainSlugs
      description: Retrieves a list of all Domain Slugs for specified Fundraising Team
      operationId: listFundraisingTeamDomainSlugs
      parameters:
      - name: fundraising_team
        in: path
        description: Primary identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Domain Slugs
                      type: array
                      items:
                        $ref: '#/components/schemas/DomainSlugTeam'
                    first_page_url:
                      example: '{host}/fundraising-teams/209745/domain-slugs?page=1'
                    last_page_url:
                      description: '{host}/fundraising-teams/209745/domain-slugs?page=1'
                    path:
                      description: '{host}/fundraising-teams/209745/domain-slugs'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Domain Slug
      summary: createFundraisingTeamDomainSlugs
      description: Create a Domain Slug for the specified Fundraising Team
      operationId: createFundraisingTeamDomainSlugs
      parameters:
      - name: fundraising_team
        in: path
        description: Primary identifier of specified Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSlugFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlugTeam'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization}/domain-slugs:
    get:
      tags:
      - Domain Slug
      summary: listOrganizationDomainSlugs
      description: Retrieves a list of all Domain Slugs for specified Organization
      operationId: listOrganizationDomainSlugs
      parameters:
      - name: organization
        in: path
        description: Primary identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Domain Slugs
                      type: array
                      items:
                        $ref: '#/components/schemas/DomainSlugOrganization'
                    first_page_url:
                      example: '{host}/organizations/82364/domain-slugs?page=1'
                    last_page_url:
                      description: '{host}/organizations/82364/domain-slugs?page=1'
                    path:
                      description: '{host}/organizations/82364/domain-slugs'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Domain Slug
      summary: createOrganizationDomainSlugs
      description: Create a Domain Slug for the specified Organization
      operationId: createOrganizationDomainSlugs
      parameters:
      - name: organization
        in: path
        description: Primary identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSlugFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSlugOrganization'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    DomainSlugTeam:
      title: Domain Slug Team
      type: object
      allOf:
      - $ref: '#/components/schemas/DomainSlug'
      - properties:
          fundraising_entity_id:
            type: integer
            example: 209745
          fundraising_entity_type:
            type: string
            example: fundraising_team
          domain_masking_url:
            type: string
            example: subdomain.domain.tld
        type: object
    DomainSlugFillable:
      title: Domain Slug Fillable
      properties:
        links_to_donation_page:
          description: Indicates whether the slug should reference the Donation Page for the DomainSlug's Fundraising Entity
          type: boolean
          example: false
        value:
          description: Value of the Domain Slug
          type: string
          maxLength: 255
          example: 15thbowlathon
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    DomainSlugOrganization:
      title: Domain Slug Organization
      type: object
      allOf:
      - $ref: '#/components/schemas/DomainSlug'
      - properties:
          fundraising_entity_id:
            type: integer
            example: 82364
          fundraising_entity_type:
            type: string
            example: organization
          domain_masking_url:
            type: string
            example: subdomain.domain.tld
        type: object
    DomainSlug:
      title: Domain Slug
      properties:
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        deleted_at:
          description: Date/time that record was deleted
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        domain_id:
          description: Primary identifier of associated Domain
          type: integer
          example: 1
        fundraising_entity_id:
          description: Primary identifier of associated Fundraising Entity
          type: integer
          example: 227362
        fundraising_entity_type:
          description: Type of associated Fundraising Entity
          type: string
          enum:
          - organization
          - campaign
          - fundraising_page
          - fundraising_team
          example: campaign
        id:
          description: Primary identifier of record
          type: integer
          example: 235
        links_to_donation_page:
          description: Indicates whether the slug should reference the Donation Page for the DomainSlug's Fundraising Entity
          type: boolean
          example: false
        domain_masking_url:
          description: The domain masking url of the organization
          type: string
          example: subdomain.domain.tld
        updated_at:
          description: Date/time when record was last updated
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
        value:
          description: Value of the Domain Slug
          type: string
          maxLength: 255
          example: 15thbowlathon
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    DomainSlugPage:
      title: Domain Slug Page
      type: object
      allOf:
      - $ref: '#/components/schemas/DomainSlug'
      - properties:
          fundraising_entity_id:
            type: integer
            example: 2173528
          fundraising_entity_type:
            type: string
            example: fundraising_page
          domain_masking_url:
            type: string
            example: subdomain.domain.tld
        type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
