openapi: 3.2.0
info:
  title: GoFundMe Pro Role API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Role
  description: Organizations and Campaigns have roles that can be assigned to Members.
paths:
  /campaigns/{campaign}/roles:
    get:
      tags:
      - Role
      summary: listCampaignRoles
      description: Lists all the roles that are available to the Campaign.
      operationId: listCampaignRoles
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Campaign Roles
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignRoles'
                    first_page_url:
                      example: '{host}/campaigns/{campaign}/roles?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{campaign}/roles?page=1'
                    path:
                      example: '{host}/campaigns/{campaign}/roles'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /members/{member}/roles:
    get:
      tags:
      - Role
      summary: listMemberRoles
      description: Lists all the roles that are available to the Member.
      operationId: listMemberRoles
      parameters:
      - name: member
        in: path
        description: The specified Member ID
        required: true
        schema:
          type: integer
          example: 2012
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Member Roles
                      type: array
                      items:
                        type: string
                        example: Organization Admin
                    first_page_url:
                      example: '{host}/members/{member_id}/roles?page=1'
                    last_page_url:
                      example: '{host}/members/{member_id}/roles?page=1'
                    path:
                      example: '{host}/members/{member_id}/roles'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization}/roles:
    get:
      tags:
      - Role
      summary: listOrganizationRoles
      description: Lists all the Roles that are available to the Organization.
      operationId: listOrganizationRoles
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Organization Roles
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationRoles'
                    first_page_url:
                      example: '{host}/organizations/{organization}/roles?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organization}/roles?page=1'
                    path:
                      example: '{host}/organizations/{organization}/roles'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    OrganizationRoles:
      title: Organization Roles
      type: object
      allOf:
      - properties:
          scope_type:
            description: Type of Scope
            type: string
            enum:
            - organization
            - campaign
            example: organization
        type: object
      - $ref: '#/components/schemas/Roles'
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    Roles:
      title: Roles
      properties:
        id:
          description: Primary identifier of Role
          type: integer
          example: 508
        custom_id:
          description: Internal name for Role
          type: string
          example: campaign_refund_manager
        description:
          description: Description of the Role
          type: string
          example: View transaction details and issue refunds for specific Campaigns. Refunds can be issued from the Transaction History page in your Organization's account.
        name:
          description: Name of the Role
          type: string
          example: Campaign Administrator
        is_assignable:
          description: Indicates if the Role is assignable or not.
          type: boolean
          default: true
          example: true
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of record last updated
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        classy_live_event_id:
          description: ID of associated Live Events event id
          type: integer
          example: 10
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    CampaignRoles:
      title: Campaign Roles
      type: object
      allOf:
      - properties:
          scope_type:
            description: Type of Scope
            type: string
            example: campaign
        type: object
      - $ref: '#/components/schemas/Roles'
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
