openapi: 3.2.0
info:
  title: GoFundMe Pro Theme API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Theme
  description: It is a Campaign Theme which is used to set Theme properties like pages (landing, donation, thank you, etc) and styles for the Theme.
paths:
  /themes/{theme}:
    put:
      tags:
      - Theme
      summary: updateTheme
      description: Update existing Theme for a Campaign
      operationId: updateTheme
      parameters:
      - name: theme
        in: path
        description: Primary identifier of Theme
        required: true
        schema:
          type: string
          example: 5df32f6a7402874de6093201
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Theme'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Theme not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /themes:
    post:
      tags:
      - Theme
      summary: createTheme
      description: Creates a new Theme for a Campaign
      operationId: createTheme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Theme'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ThemeFillable:
      title: Theme Fillable
      properties:
        campaign_id:
          description: Primary identifier of Campaign
          type: integer
          example: 227362
        styles:
          description: Theme properties like style, pages, type, etc
          type:
          - object
          - 'null'
          example:
            background:
              blur: 0
              color: rgba(64, 72, 78, 1)
              colorOpacity: 100
              fixed: false
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Theme:
      title: Theme
      type: object
      allOf:
      - properties:
          id:
            description: Primary identifier of Theme
            type: string
            example: 5df32f6a7402874de6093201
          created_at:
            description: Date/time of initial Theme creation
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
          updated_at:
            description: Date/time of Theme last updated
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
        type: object
      - $ref: '#/components/schemas/ThemeFillable'
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
