openapi: 3.2.0
info:
  title: GoFundMe Pro Dedication API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Dedication
  description: When a donation is dedicated to a specific individual, it can trigger a series of actions. An email message, crafted by the donor, is sent to the dedicatee. Use the dedication endpoint to create, retrieve, and update donor dedications.
paths:
  /dedications/{dedication}:
    get:
      tags:
      - Dedication
      summary: fetchBillingDedication
      description: Fetch specified Billing Dedication
      operationId: fetchBillingDedication
      parameters:
      - name: with
        in: query
        description: Request specific relationships to be returned with the FundraisingPage
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ecard
            example: ecard
      - name: dedication
        in: path
        description: Primary identifier of Dedication
        required: true
        schema:
          type: integer
          example: 547
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dedication'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Dedication not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Dedication
      summary: updateBillingDedication
      description: Update a Dedication
      operationId: updateBillingDedication
      parameters:
      - name: dedication
        in: path
        description: Primary identifier of Dedication
        required: true
        schema:
          type: integer
          example: 547
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dedication'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Dedication not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization}/dedications:
    get:
      tags:
      - Dedication
      summary: listOrganizationDedications
      description: List Organization Dedications
      operationId: listOrganizationDedications
      parameters:
      - name: organization
        in: path
        description: Primary identifier of associated Organization
        required: true
        schema:
          type: integer
          example: 82364
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Dedications
                      type: array
                      items:
                        $ref: '#/components/schemas/Dedication'
                    first_page_url:
                      example: '{host}/organizations/82364/dedications?page=1'
                    last_page_url:
                      example: '{host}/organizations/82364/dedications?page=1'
                    path:
                      example: '{host}/organizations/82364/dedications'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /transactions/{transaction}/dedications:
    post:
      tags:
      - Dedication
      summary: createTransactionDedication
      description: Create a Dedication
      operationId: createTransactionDedication
      parameters:
      - name: transaction
        in: path
        description: Primary identifier of Transaction
        required: true
        schema:
          type: integer
          example: 8734
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DedicationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dedication'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    Ecard:
      title: Ecard
      properties:
        asset_id:
          description: Primary identifier of associated image file Asset
          type:
          - integer
          - 'null'
          example: 1145
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          readOnly: true
          example: 227362
        id:
          description: Primary identifier of record
          type: integer
          readOnly: true
          example: 4377
        image_url:
          description: Public URL for the Ecard image
          type: string
          example: https://gofundme-cdn-url.com/your-ecard-image.png
        is_deleted:
          description: Indicates whether Ecard has been deleted
          type: boolean
          readOnly: true
          example: true
        order:
          description: Display order for listings. Impacts display in Classy.org
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    Dedication:
      title: Dedication
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 547
        type:
          description: Description of Dedication's purpose
          type: string
          enum:
          - honor
          - memory
          example: honor
        transaction_id:
          description: Primary identifier of associated Transaction
          type: integer
          example: 8734
        honoree_name:
          description: Honoree's full name
          type:
          - string
          - 'null'
          example: Honoree Name
        name:
          description: Dedication contact full name
          type: string
          example: John Doe
        email_address:
          description: Email Address
          type: string
          example: example@gofundme.com
        address:
          description: Dedication contact address
          type: string
          example: 533 F St
        city:
          description: Dedication contact city
          type: string
          example: San Diego
        state:
          description: Dedication contact state
          type: string
          example: CA
        postal_code:
          description: Dedication contact postal code
          type: string
          example: '90210'
        country:
          description: Dedication contact country
          type: string
          example: US
        is_gift_amount_msg_included:
          description: Indicates whether the gift amount is to be displayed in communication
          type: boolean
          example: true
        ecard:
          $ref: '#/components/schemas/Ecard'
        ecard_id:
          description: Primary identifier of associated Ecard
          type:
          - integer
          - 'null'
          example: 4377
        ecard_message:
          description: Message added to Ecard
          type:
          - string
          - 'null'
          example: eCard message
        first_name:
          description: Dedication contact first name
          type: string
          example: John
        last_name:
          description: Dedication contact last name
          type: string
          example: Doe
        honoree_first_name:
          description: Honoree's first name
          type: string
          example: Honoree
        honoree_last_name:
          description: Honoree's last name
          type: string
          example: Name
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    DedicationFillable:
      title: DedicationFillable
      properties:
        type:
          description: Description of Dedication's purpose
          type: string
          enum:
          - honor
          - memory
          example: honor
        honoree_name:
          description: Honoree's full name
          type:
          - string
          - 'null'
          example: Honoree Name
        name:
          description: Dedication contact full name
          type: string
          example: John Doe
        email_address:
          description: Email Address
          type: string
          example: example@gofundme.com
        address:
          description: Dedication contact address
          type: string
          example: 533 F St
        city:
          description: Dedication contact city
          type: string
          example: San Diego
        state:
          description: Dedication contact state
          type: string
          maxLength: 50
          example: CA
        postal_code:
          description: Dedication contact postal code
          type: string
          example: '90210'
        country:
          description: Dedication contact country
          type: string
          maxLength: 2
          example: US
        is_gift_amount_msg_included:
          description: Indicates whether the gift amount is to be displayed in communication
          type: boolean
          example: true
        ecard_message:
          description: Message added to Ecard
          type:
          - string
          - 'null'
          example: eCard message
        first_name:
          description: Dedication contact first name
          type: string
          example: John
        last_name:
          description: Dedication contact last name
          type: string
          example: Doe
        honoree_first_name:
          description: Honoree's first name
          type: string
          example: Honoree
        honoree_last_name:
          description: Honoree's last name
          type: string
          example: Name
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
