openapi: 3.2.0
info:
  title: GoFundMe Pro API App API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: API App
  description: An App represents a client that can interact with GoFundMe Pro API.
paths:
  /apps/{app}:
    get:
      tags:
      - API App
      summary: fetchClientProfile
      description: Show the Profile for a given Client
      operationId: fetchClientProfile
      parameters:
      - name: app
        in: path
        description: The specified Client ID
        required: true
        schema:
          type: string
          example: aSn3uWmolgnEnasT
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiApp'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    ApiApp:
      title: API App
      properties:
        associated_app:
          description: Integration or partner app associated with this app
          type:
          - string
          - 'null'
          enum:
          - amply
          - chariot
          - double_the_donation
          - mittun
          - nuclavis
          - omatic
          - rally_corp
          - salesforce
          - salesforce_fundraising
          - zapier
          example: salesforce
        client_id:
          description: Primary identifier of associated Client
          type: string
          example: aSn3uWmolgnEnasT
        client_secret:
          description: Secret related to associated Client
          type: string
          example: w65Nh4nUu7aOP9Jh
        developer_id:
          description: Primary identifier of associated Developer
          type: integer
          example: 9634
        name:
          description: Name of associated App
          type: string
          example: My App
        redirect_uri:
          description: URI an internet user must be redirected to after granting permissions to this App
          type: string
          example: http://domain.tld
        url:
          description: App Url
          type:
          - string
          - 'null'
          example: https://www.gofundme.com
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
