openapi: 3.2.0
info:
  title: GoFundMe Pro Organization Consumer Mappings API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Organization Consumer Mappings
  description: Organization Consumer Mappings
paths:
  /consumer-charity-mappings:
    post:
      tags:
      - Organization Consumer Mappings
      summary: Create a new organization consumer mapping
      description: Store a new organization consumer mapping
      operationId: createOrganizationConsumerMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - consumer_charity_id
              - ein
              properties:
                consumer_charity_id:
                  description: Consumer charity ID
                  type: integer
                ein:
                  description: EIN (9 digits, with or without dash)
                  type: string
                organization_id:
                  description: Organization ID (optional for unmatched records)
                  type: integer
              type: object
      responses:
        '201':
          description: Mapping created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationConsumerMapping'
        '400':
          description: Validation error
        '409':
          description: Mapping already exists
  /consumer-charity-mappings/{consumer_charity_mapping}:
    get:
      tags:
      - Organization Consumer Mappings
      summary: Get a specific organization consumer mapping
      description: Show a specific organization consumer mapping
      operationId: getOrganizationConsumerMapping
      parameters:
      - name: consumer_charity_mapping
        in: path
        description: Mapping ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Organization consumer mapping details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationConsumerMapping'
        '404':
          description: Mapping not found
    put:
      tags:
      - Organization Consumer Mappings
      summary: Update an organization consumer mapping
      operationId: updateOrganizationConsumerMapping
      parameters:
      - name: consumer_charity_mapping
        in: path
        description: Mapping ID
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                consumer_charity_id:
                  description: Consumer charity ID
                  type: integer
                ein:
                  description: EIN (9 digits, with or without dash)
                  type: string
                organization_id:
                  description: Organization ID
                  type: integer
              type: object
      responses:
        '200':
          description: Mapping updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationConsumerMapping'
        '400':
          description: Validation error
        '404':
          description: Mapping not found
    delete:
      tags:
      - Organization Consumer Mappings
      summary: Delete an organization consumer mapping
      operationId: deleteOrganizationConsumerMapping
      parameters:
      - name: consumer_charity_mapping
        in: path
        description: Mapping ID
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Mapping deleted successfully
        '404':
          description: Mapping not found
  /consumer-charity-mappings/{id}/set-primary:
    post:
      tags:
      - Organization Consumer Mappings
      summary: Set a mapping as the primary for its consumer charity ID
      description: Switch the primary mapping for a consumer charity ID
      operationId: setOrganizationConsumerMappingAsPrimary
      parameters:
      - name: id
        in: path
        description: Mapping ID to set as primary
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Primary mapping switched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationConsumerMapping'
        '404':
          description: Mapping not found
components:
  schemas:
    OrganizationConsumerMapping:
      title: Organization Consumer Mapping
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 1
        organization_id:
          description: Internal organization ID (null if unmatched)
          type:
          - integer
          - 'null'
          example: 123
        consumer_charity_id:
          description: External consumer charity ID
          type: integer
          example: 456789
        ein:
          description: EIN without dashes (9 digits)
          type: string
          example: '123456789'
        is_primary:
          description: Whether this is the primary organization for this consumer charity ID
          type: boolean
          example: true
        is_matched:
          description: Whether this mapping is matched to an organization (true if organization_id is not null)
          type: boolean
          example: true
        created_at:
          description: Date/time of record creation
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
        updated_at:
          description: Date/time of record last update
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
