openapi: 3.2.0
info:
  title: GoFundMe Pro Branding API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Branding
  description: 'Organizations can have branding images and styles that will be applied to various areas of the GoFundMe Pro platform.

    Examples include changing the GoFundMe Pro logo to the organization logo, adding an organization background image to the GoFundMe Pro login page, etc.'
paths:
  /organizations/{organization}/branding:
    put:
      tags:
      - Branding
      summary: updateOrganizationBranding
      description: Create/Update Organization Branding
      operationId: updateOrganizationBranding
      parameters:
      - name: organization
        in: path
        description: The Organization ID
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BrandingFillable'
              - $ref: '#/components/schemas/OrganizationBrandingFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Branding'
                - $ref: '#/components/schemas/OrganizationBranding'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    OrganizationBranding:
      title: Organization Branding
      type: object
      allOf:
      - $ref: '#/components/schemas/BrandingFillable'
      - properties:
          favicon:
            description: URL of favicon image; deprecated/replaced by favicon_asset_url
            type:
            - string
            - 'null'
            example: ''
          favicon_asset_id:
            description: Primary identifier of associated Asset representing favicon image
            type:
            - integer
            - 'null'
            example: 1145
          favicon_asset_url:
            description: URL of favicon image derived from associated Asset
            type:
            - string
            - 'null'
            example: https://www.image-url.com/favicon.png
          organization_id:
            description: Primary identifier of associated Organization
            type: integer
            example: 82364
        type: object
    Branding:
      title: Branding
      properties:
        background_color:
          description: Color of main background
          type:
          - string
          - 'null'
          example: '#FFFFFF'
        background_image:
          description: URL of background image; deprecated/replaced by background_image_asset_url
          type:
          - string
          - 'null'
          example: https://www.image-url.com/background.png
        background_image_asset_id:
          description: Primary identifier of associated Asset representing background image
          type:
          - integer
          - 'null'
          example: 1145
        background_image_asset_url:
          description: URL of background image derived from associated Asset
          type:
          - string
          - 'null'
          example: https://www.image-url.com/background.png
        background_image_style:
          description: CSS for rendering background image
          type:
          - string
          - 'null'
          example: repeat
        custom_script:
          description: Raw javascript to be stored
          type:
          - string
          - 'null'
          example: script
        header_background_image:
          description: URL of header background image; deprecated/replaced by header_background_image_asset_id
          type:
          - string
          - 'null'
          example: https://www.image-url.com/header_background.png
        header_background_image_asset_id:
          description: Primary identifier of associated Asset representing the header background image
          type:
          - integer
          - 'null'
          example: 1145
        header_background_image_asset_url:
          description: URL of header background image derived from associated Asset
          type:
          - string
          - 'null'
          example: https://www.image-url.com/background.png
        header_color:
          description: Color of header
          type:
          - string
          - 'null'
          example: '#ABABAB'
        header_footer_color:
          description: Color of footer portion of header
          type:
          - string
          - 'null'
          example: '#CCCCCC'
        header_image:
          description: URL of header image; deprecated/replaced by header_image_asset_url
          type:
          - string
          - 'null'
          example: https://www.image-url.com/header.png
        header_image_asset_id:
          description: Primary identifier of associated Asset representing header image
          type:
          - integer
          - 'null'
          example: 1145
        header_image_asset_url:
          description: URL of header image derived from associated Asset
          type:
          - string
          - 'null'
          example: https://www.image-url.com/header.png
        header_image_height:
          description: Height of header image in pixels
          type:
          - integer
          - 'null'
          example: 200
        header_image_style:
          description: CSS for rendering header image
          type:
          - string
          - 'null'
          example: repeat
        header_url:
          description: URL of location to which header image links
          type:
          - string
          - 'null'
          example: https://www.my-url.com/donate
        hero_image_asset_id:
          description: Primary identifier of associated Asset representing hero image
          type:
          - integer
          - 'null'
          example: 1145
        hero_image_asset_url:
          description: URL of hero image derived from associated Asset
          type:
          - string
          - 'null'
          example: https://www.image-url.com/hero.png
        hide_classy_logo:
          description: Indicator dictating whether or not GoFundMe Pro logo is displayed
          type:
          - boolean
          - 'null'
          example: false
        primary_color:
          description: Primary color
          type:
          - string
          - 'null'
          example: '#F0F0F0'
        secondary_color:
          description: Secondary color
          type:
          - string
          - 'null'
          example: '#000000'
        font_family:
          description: Font family
          type:
          - string
          - 'null'
          example: var(--classy-font__font-family--verdana)
      type: object
    OrganizationBrandingFillable:
      title: Organization Branding Fillable
      type: object
      allOf:
      - $ref: '#/components/schemas/BrandingFillable'
      - properties:
          favicon:
            description: URL of favicon image; deprecated/replaced by favicon_asset_url
            type:
            - string
            - 'null'
            example: ''
          favicon_asset_id:
            description: Primary identifier of associated Asset representing favicon image
            type:
            - integer
            - 'null'
            example: 1145
          favicon_asset_url:
            description: URL of favicon image derived from associated Asset
            type:
            - string
            - 'null'
            example: https://www.image-url.com/favicon.png
        type: object
    BrandingFillable:
      title: Branding Fillable
      properties:
        background_color:
          description: Color of main background
          type:
          - string
          - 'null'
          example: '#FFFFFF'
        background_image_style:
          description: CSS for rendering background image
          type:
          - string
          - 'null'
          example: repeat
        header_color:
          description: Color of header
          type:
          - string
          - 'null'
          example: '#ABABAB'
        header_footer_color:
          description: Color of footer portion of header
          type:
          - string
          - 'null'
          example: '#CCCCCC'
        header_image_height:
          description: Height of header image in pixels
          type:
          - integer
          - 'null'
          example: 200
        header_image_style:
          description: CSS for rendering header image
          type:
          - string
          - 'null'
          example: repeat
        header_url:
          description: URL of location to which header image links
          type:
          - string
          - 'null'
          example: https://www.my-url.com/donate
        primary_color:
          description: Primary color
          type:
          - string
          - 'null'
          example: '#F0F0F0'
        secondary_color:
          description: Secondary color
          type:
          - string
          - 'null'
          example: '#000000'
        font_family:
          description: Font family
          type:
          - string
          - 'null'
          example: var(--classy-font__font-family--verdana)
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
