openapi: 3.2.0
info:
  title: GoFundMe Pro Staff Notification Setting API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Staff Notification Setting
  description: 'Notification settings are for sending email notifications for different scopes as Organization and Campaign. Based on settings, email notification

    will be sent for Transactions, Fundraising Pages or Teams, Chargeback, Recurring Donations and GoFundMe Pay payout report.'
paths:
  /campaigns/{id}/staff-notification-settings:
    get:
      tags:
      - Staff Notification Setting
      summary: listCampaignStaffNotificationSettings
      description: Get Staff Notification Settings for given Campaign
      operationId: listCampaignStaffNotificationSettings
      parameters:
      - name: id
        in: path
        description: Primary identifier of Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - name: with
        in: query
        description: Request specific relationships to be returned with the Staff Notification Settings
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - scope
            example: scope
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Staff Notification Settings
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignStaffNotificationSetting'
                    first_page_url:
                      example: '{host}/campaigns/{id}/staff-notification-settings?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{id}/staff-notification-settings?page=1'
                    path:
                      example: '{host}/campaigns/{id}/staff-notification-settings'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Staff Notification Setting
      summary: createCampaignStaffNotificationSetting
      description: Create a Staff Notification Setting for Campaign
      operationId: createCampaignStaffNotificationSetting
      parameters:
      - name: id
        in: path
        description: Primary identifier of Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignStaffNotificationSettingFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStaffNotificationSetting'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{id}/staff-notification-settings:
    get:
      tags:
      - Staff Notification Setting
      summary: listOrganizationStaffNotificationSettings
      description: Get Staff Notification Settings for given Organization
      operationId: listOrganizationStaffNotificationSettings
      parameters:
      - name: id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      - name: with
        in: query
        description: Request specific relationships to be returned with the Staff Notification Settings
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - scope
            example: scope
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Staff Notification Settings
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationStaffNotificationSetting'
                    first_page_url:
                      example: '{host}/organizations/{id}/staff-notification-settings?page=1'
                    last_page_url:
                      example: '{host}/organizations/{id}/staff-notification-settings?page=1'
                    path:
                      example: '{host}/organizations/{id}/staff-notification-settings'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Staff Notification Setting
      summary: createOrganizationStaffNotificationSetting
      description: Create a Staff Notification Setting for an Organization
      operationId: createOrganizationStaffNotificationSetting
      parameters:
      - name: id
        in: path
        description: Primary identifier of Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationStaffNotificationSettingFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationStaffNotificationSetting'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    StaffNotificationSetting:
      title: Staff Notification Setting
      type: object
      allOf:
      - $ref: '#/components/schemas/StaffNotificationSettingFillable'
      - properties:
          id:
            description: Primary identifier of Staff Notification Setting
            type: integer
            example: 21003
          created_at:
            description: Date/time of initial Staff Notification Setting creation
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
          updated_at:
            description: Date/time of Staff Notification Setting last updated
            type: string
            format: date-time
            example: '2019-04-23T10:25:03Z'
        type: object
    CampaignStaffNotificationSetting:
      title: Campaign Staff Notification Setting
      type: object
      allOf:
      - $ref: '#/components/schemas/StaffNotificationSetting'
      - $ref: '#/components/schemas/CampaignStaffNotificationSettingFillable'
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    OrganizationStaffNotificationSettingFillable:
      title: Organization Staff Notification Setting Fillable
      type: object
      allOf:
      - properties:
          scope_type:
            description: Scope for email notifications
            type: string
            enum:
            - Organization_Manager
            example: Organization_Manager
          scope_id:
            description: Scope ID will be Organization ID as the scope type is Organization_Manager
            type: integer
            example: 82364
        type: object
      - $ref: '#/components/schemas/StaffNotificationSettingFillable'
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    OrganizationStaffNotificationSetting:
      title: Organization Staff Notification Setting
      type: object
      allOf:
      - $ref: '#/components/schemas/StaffNotificationSetting'
      - $ref: '#/components/schemas/OrganizationStaffNotificationSettingFillable'
    StaffNotificationSettingFillable:
      title: Staff Notification Setting Fillable
      properties:
        member_id:
          description: Member who created Staff Notification Setting
          type: integer
          example: 2012
        chargebacks_category:
          description: Receive an email if a Supporter files a chargeback and if it’s won or lost.
          type: boolean
          default: false
          example: true
        classy_pay_category:
          description: Sent when your Organization's payout report is available
          type: boolean
          default: false
          example: false
        fundraising_page_category:
          description: Receive an email when a Supporter creates a Fundraising Page or Team.
          type: boolean
          default: false
          example: true
        recurring_canceled_category:
          description: Receive an email when a Recurring Plan is canceled.
          type: boolean
          default: false
          example: false
        recurring_ended_category:
          description: Receive an email when a Recurring Plan has ended.
          type: boolean
          default: false
          example: false
        recurring_failed_category:
          description: Receive an email when a Recurring Donation fails.
          type: boolean
          default: false
          example: false
        recurring_modified_category:
          description: Receive an email when a Recurring Plan has been updated.
          type: boolean
          default: false
          example: false
        recurring_new_category:
          description: Receive an email when a new Recurring Plan has been created.
          type: boolean
          default: false
          example: false
        recurring_successful_category:
          description: Receive an email when a Recurring Donation has been made.
          type: boolean
          default: false
          example: false
        transactions_category:
          description: Receive an email for every donation, ticket/registration purchase.
          type: boolean
          default: false
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    CampaignStaffNotificationSettingFillable:
      title: Campaign Staff Notification Setting Fillable
      type: object
      allOf:
      - properties:
          scope_type:
            description: Scope for email notifications
            type: string
            enum:
            - Campaign_Manager
            - Organization_Manager_Campaign_Subscriber
            example: Campaign_Manager
          scope_id:
            description: Scope ID will be Campaign ID af scope type is either Campaign_Manager or Organization_Manager_Campaign_Subscriber
            type: integer
            example: 227362
        type: object
      - $ref: '#/components/schemas/StaffNotificationSettingFillable'
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
