openapi: 3.2.0
info:
  title: GoFundMe Pro Promo Code API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Promo Code
  description: A promo code record represents a shareable string that can be used to apply a discount to the purchase of one or more configured ticket types for a specified campaign.
paths:
  /campaigns/{campaign}/promo-codes:
    get:
      tags:
      - Promo Code
      summary: listCampaignPromoCodes
      description: Retrieves a list of all Promo Codes made for the specified Campaign
      operationId: listCampaignPromoCodes
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Promo Codes
                      type: array
                      items:
                        allOf:
                        - $ref: '#/components/schemas/PromoCode'
                        - properties:
                            campaign_id:
                              type: integer
                              example: 227362
                          type: object
                    first_page_url:
                      example: '{host}/campaigns/227362/promo-codes?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/promo-codes?page=1'
                    path:
                      description: '{host}/campaigns/227362/promo-codes'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Promo Code
      summary: createCampaignPromoCode
      description: Create Promo Code for the specified Campaign
      operationId: createCampaignPromoCode
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PromoCode'
                - properties:
                    campaign_id:
                      type: integer
                      example: 227362
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /promo-codes/{promo_code}:
    get:
      tags:
      - Promo Code
      summary: fetchPromoCode
      description: Fetch specified Promo Code
      operationId: fetchPromoCode
      parameters:
      - name: promo_code
        in: path
        description: Primary identifier of Promo Code
        required: true
        schema:
          type: integer
          example: 8273
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Promo Code not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Promo Code
      summary: updatePromoCode
      description: Update a Promo Code
      operationId: updatePromoCode
      parameters:
      - name: promo_code
        in: path
        description: Primary identifier of Promo Code
        required: true
        schema:
          type: integer
          example: 8273
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCodeFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Promo Code not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /ticket-types/{ticket_type}/promo-codes:
    get:
      tags:
      - Promo Code
      summary: listTicketTypesPromoCodes
      description: Retrieves a list of all Promo Codes made for the specified Ticket Type
      operationId: listTicketTypesPromoCodes
      parameters:
      - name: ticket_type
        in: path
        description: Primary identifier of specified Ticket Type
        required: true
        schema:
          type: integer
          example: 9978
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Promo Codes
                      type: array
                      items:
                        $ref: '#/components/schemas/PromoCode'
                      deprecated: true
                    first_page_url:
                      example: '{host}/ticket-types/9978/promo-codes?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/ticket-types/9978/promo-codes?page=1'
                      deprecated: true
                    path:
                      description: '{host}/ticket-types/9978/promo-codes'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Ticket Type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PromoCodeFillable:
      title: Promo Code Fillable
      properties:
        adjustment_amount:
          description: Value to configure price adjustment when applied against an item. Can reflect either a percentage or flat amount based on associated adjustment_type
          type: number
          format: double
          example: 10
        adjustment_type:
          description: Specification of how adjustment_amount is applied
          type: string
          enum:
          - percentage
          - amount
          example: percentage
        code:
          description: Value of the Promo Code to entered on checkout
          type: string
          maxLength: 25
          example: TENPERCENTOFF
        ends_at:
          description: Date/time when the Promo Code can no longer be applied to purchases
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        is_active:
          description: Indicates whether Promo Code is active or not regardless of availability or date range
          type: boolean
          example: true
        is_general:
          description: Indicates whether Promo Code has a general designation, meaning it applies to all TicketTypes for its Campaign
          type: boolean
          example: false
        quantity:
          description: Total number of items against which the Promo Code can be applied (null implies unlimited applications)
          type:
          - integer
          - 'null'
          example: 100
        starts_at:
          description: Date/time when record can start being applied to purchase
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
      type: object
    PromoCode:
      title: Promo Code
      properties:
        adjustment_amount:
          description: Value to configure price adjustment when applied against an Item. Can reflect either a percentage or flat amount based on associated adjustment_type
          type: number
          format: double
          example: 10
        adjustment_type:
          description: Specification of how adjustment_amount is applied
          type: string
          enum:
          - percentage
          - amount
          example: percentage
        applications_count:
          description: Count of the number of times the promo code has been applied to Items still in a Cart or successfully transacted against
          type: integer
          example: 22
        code:
          description: Value of the Promo Code to entered on checkout
          type: string
          maxLength: 25
          example: TENPERCENTOFF
        ends_at:
          description: Date/time when the Promo Code can no longer be applied to purchases
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        id:
          description: Primary identifier of record
          type: integer
          example: 8273
        is_active:
          description: Indicates whether Promo Code is active or not regardless of availability or date range
          type: boolean
          example: true
        is_general:
          description: Indicates whether Promo Code has a general designation, meaning it applies to all TicketTypes for its Campaign
          type: boolean
          example: false
        quantity:
          description: Total number of Items against which the Promo Code can be applied (null implies unlimited applications)
          type:
          - integer
          - 'null'
          example: 100
        starts_at:
          description: Date/time when record can start being applied to purchase
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T08:23:21Z'
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
