openapi: 3.2.0
info:
  title: GoFundMe Pro Payouts API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Payouts
  description: Payouts will provide transactions of PayPal and Stripe.
paths:
  /organizations/{org_id}/payouts/{payout_type}:
    get:
      tags:
      - Payouts
      summary: fetchPaypalStripePayouts
      description: Fetch all payouts for a specific Organization on a given payout date
      operationId: fetchPaypalStripePayouts
      parameters:
      - name: org_id
        in: path
        description: The specified Organization ID of GoFundMe Pro
        required: true
        schema:
          type: integer
          example: 82364
      - name: payout_type
        in: path
        description: The type of payout which can be either paypal or stripe
        required: true
        schema:
          type: string
          example: paypal
      - name: payout_date
        in: query
        description: The records of the specified date for payouts
        required: true
        schema:
          type: string
          example: '2023-06-12'
      - name: page
        in: query
        description: Number of pages required in output of payouts
        required: false
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PayoutPaginatedResponse'
                - $ref: '#/components/schemas/Payout'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PayoutPaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 2
        data:
          description: Collection of results
          type: object
        from:
          description: Index of first displayed result within total result set
          type: integer
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: /organizations/82364/payouts/paypal?payout_date=2021-08-27&page=3
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        pre_page_url:
          description: URL of previous page of results
          type: string
          example: /organizations/82364/payouts/paypal?payout_date=2021-08-27&page=1
        to:
          description: Index of last displayed result within total result set
          type: integer
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    Payout:
      title: Payout
      properties:
        data:
          properties:
            id:
              description: Primary identifier of record
              type: integer
              example: 30
            payout_id:
              description: Payout identifier of record
              type: integer
              example: 12
            payout_date:
              description: Date/time of payout date
              type: string
              example: '2021-08-27T00:00:00.000Z'
            payout_amount:
              description: Payout amount of transaction
              type:
              - integer
              - 'null'
              example: 10000
            payout_amount_currency:
              description: The currency that the Organization collects transactions in
              type:
              - string
              - 'null'
              example: USD
            payout_created_at:
              description: Date/time of created payout
              type: string
              example: '2019-04-23T10:25:03Z'
            payout_updated_at:
              description: Date/time of updated payout
              type: string
              example: '2019-04-23T10:25:03Z'
            transactions:
              description: Transactions
              type: array
              items:
                properties:
                  classy_transaction_id:
                    description: GoFundMe Pro transaction id
                    type:
                    - integer
                    - 'null'
                    example: 12345
                  transaction_type:
                    description: Transaction type
                    type:
                    - string
                    - 'null'
                    example: PAYMENT
                  source_reference_id:
                    description: Reference id of either paypal or stripe
                    type:
                    - string
                    - 'null'
                    example: 7D967559AH6765983
                  source_transaction_id:
                    description: Transaction id of paypal or stripe
                    type: string
                    example: 0B966690AH6223143
                  transaction_date:
                    description: Transaction date
                    type:
                    - string
                    - 'null'
                    example: '2021-09-20T18:03:42.000Z'
                  transaction_amount:
                    description: Transaction amount
                    type:
                    - integer
                    - 'null'
                    example: 100
                  transaction_currency:
                    description: Transaction currency
                    type:
                    - string
                    - 'null'
                    example: USD
                  transaction_fee:
                    description: Transaction fees
                    type:
                    - integer
                    - 'null'
                    example: 5
                  transaction_created_at:
                    description: Date/time of created transaction
                    type: string
                    example: '2021-10-15T14:31:05.000Z'
                  transaction_updated_at:
                    description: Date/time of updated transaction
                    type: string
                    example: '2021-10-15T14:31:05.000Z'
                type: object
          type: object
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
