openapi: 3.2.0
info:
  title: GoFundMe Pro Question API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Question
  description: Questions are set up by organizations learn more about their supporters and fundraisers. These questions appear as a supporter signs up to fundraise or when making a donation.
paths:
  /campaigns/{campaign}/questions:
    get:
      tags:
      - Question
      summary: listCampaignQuestions
      description: 'Retrieves a list of all questions for a specific Campaign. Questions marked as `is_required: true` will be treated as pre-conversion (shown before donation), and those marked as `is_required: false` will be treated as post-conversion (shown after donation) only where supported.'
      operationId: listCampaignQuestions
      parameters:
      - name: campaign
        in: path
        description: The specified Campaign ID
        required: true
        schema:
          type: integer
          example: 227362
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned
        required: false
        schema:
          type: string
          enum:
          - campaign_id
          - created_at
          - deleted_at
          - enum_options
          - id
          - is_required
          - is_deleted
          - label
          - location
          - tag
          - type
          - updated_at
          - weight
          - product_id
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Questions
                      type: array
                      items:
                        $ref: '#/components/schemas/Question'
                    first_page_url:
                      example: '{host}/campaigns/{campaign}/questions?page=1'
                    last_page_url:
                      example: '{host}/campaigns/{campaign}/questions?page=1'
                    path:
                      example: '{host}/campaigns/{campaign_id}/questions'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    post:
      tags:
      - Question
      summary: createCampaignQuestion
      description: Create a new question for a specific campaign. Questions marked as required will automatically be treated as pre-conversion (where supported).
      operationId: createCampaignQuestion
      parameters:
      - name: campaign
        in: path
        description: The ID of the campaign to which the question will be added
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        description: The question data to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Question'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionWithEnumOptions'
        '403':
          description: Requester is not authorized to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '500':
          description: Error when trying to duplicate a question across campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      security:
      - OAuth2Member: []
  /organizations/{organization}/questions:
    get:
      tags:
      - Question
      summary: listOrganizationQuestions
      description: Retrieves a list of all questions for a specific Organization
      operationId: listOrganizationQuestions
      parameters:
      - name: organization
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 82634
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Questions
                      type: array
                      items:
                        $ref: '#/components/schemas/Question'
                    first_page_url:
                      example: '{host}/organizations/{organization}/questions?page=1'
                    last_page_url:
                      example: '{host}/organizations/{organization}/questions?page=1'
                    path:
                      example: '{host}/organizations/{organization}/questions'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /questions/{question}:
    get:
      tags:
      - Question
      summary: fetchQuestion
      description: Fetch specified Question
      operationId: fetchQuestion
      parameters:
      - name: question
        in: path
        description: Primary identifier of Question
        required: true
        schema:
          type: integer
          example: 45678
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Question
      summary: updateQuestion
      description: Update a Question
      operationId: updateQuestion
      parameters:
      - name: question
        in: path
        description: Primary identifier of Question
        required: true
        schema:
          type: integer
          example: 45678
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Question'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Question
      summary: deleteQuestion
      description: Delete Question
      operationId: deleteQuestion
      parameters:
      - name: question
        in: path
        description: Primary identifier of Question
        required: true
        schema:
          type: integer
          example: 45678
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Question not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    QuestionEnumOption:
      title: QuestionEnumOption
      properties:
        label:
          description: QuestionEnumOption label
          type: string
          example: Text label
        question_id:
          description: QuestionEnumOption Question ID
          type: integer
          readOnly: true
          example: 45678
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    Question:
      title: Question
      required:
      - label
      - location
      - type
      properties:
        campaign_id:
          description: Primary identifier of Campaign
          type: integer
          readOnly: true
          example: 227362
        created_at:
          description: Date/time of when record created
          type: string
          format: date-time
          readOnly: true
          example: '2021-04-23T10:25:03Z'
        deleted_at:
          description: Date/time of when record deleted
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          example: '2021-04-23T10:25:03Z'
        id:
          description: Primary identifier of record
          type: integer
          readOnly: true
          example: 45678
        is_deleted:
          description: Question deleted or not
          type: boolean
          readOnly: true
          example: false
          deprecated: true
        is_required:
          description: Whether the Question is required or not. If `is_required` is `true`, the question will be treated as pre-conversion (shown before donation), otherwise it will be treated as post-conversion (shown after donation) for supported workflows.
          type: boolean
          example: true
        is_pre_conversion:
          description: Whether the Question should be shown before donation (pre-conversion) or after donation (post-conversion). When true, the question is displayed before the donation is processed.
          type: boolean
          example: false
        label:
          description: Question label
          type: string
          example: Do you require accommodations due to a medical condition or disability?
        location:
          description: Question location
          type: string
          enum:
          - donation_page
          - team_creation
          - page_creation
          - campaign_registration
          example: donation_page
        product_id:
          description: Identifier of associated product, such as a ticket
          type:
          - integer
          - 'null'
          example: 73647
        tag:
          description: Question tag, unique for a location on a campaign
          type:
          - string
          - 'null'
          enum:
          - address
          - address2
          - address_type
          - birthdate
          - blog
          - cellphone
          - city
          - company_name
          - country
          - email_address
          - email_type
          - emergency_first_name
          - emergency_last_name
          - emergency_phone
          - event_waiver
          - first_name
          - gender
          - pronoun
          - homephone
          - last_name
          - middle_name
          - postal_code
          - prefix
          - run_walk
          - shirt_size
          - state
          - suffix
          - text_opt_in
          - website
          example: email_address
        type:
          description: Type of the Question
          type: string
          enum:
          - boolean
          - integer
          - currency
          - enum
          - text
          - string
          - date
          - yes_no
          example: boolean
        updated_at:
          description: Date/time of last record update
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          example: '2021-04-23T10:25:03Z'
        weight:
          description: Weight of the Question, used for display order
          type:
          - integer
          - 'null'
          example: 0
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    QuestionWithEnumOptions:
      title: QuestionWithEnumOptions
      type: object
      allOf:
      - $ref: '#/components/schemas/Question'
      - properties:
          enum_options:
            description: Custom answer options for the question. Required if `type` is `enum`.
            type: array
            items:
              $ref: '#/components/schemas/QuestionEnumOption'
        type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
