openapi: 3.2.0
info:
  title: GoFundMe Pro Organization Notification API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Organization Notification
  description: ''
paths:
  /organizations/{organization}/notifications:
    get:
      tags:
      - Organization Notification
      summary: listOrganizationNotifications
      description: Retrieves a list of all Nofications made for the specified Organization
      operationId: listOrganizationNotifications
      parameters:
      - name: organization
        in: path
        description: Primary Identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Notifications
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationNotification'
                      deprecated: true
                    first_page_url:
                      example: '{host}/organizations/82364/notifications?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/organizations/82364/notifications?page=1'
                      deprecated: true
                    path:
                      description: '{host}/organizations/82364/notifications'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Organization Notification
      summary: createOrganizationNotification
      description: Create a Nofication for the specified Organization
      operationId: createOrganizationNotification
      parameters:
      - name: organization
        in: path
        description: Primary Identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationNotificationFillable'
              - properties:
                  email_address:
                    description: Email address who will receive the updates
                    type: string
                    example: test@gofundme.com
                    deprecated: true
                  type:
                    description: Type of notifications to be received
                    type: string
                    enum:
                    - transaction
                    - third_party
                    - recurring
                    - fundraising
                    - chargeback
                    - payout_report
                    example: transaction
                    deprecated: true
                type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationNotification'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /organization-notifications/{organization_notification}:
    get:
      tags:
      - Organization Notification
      summary: fetchOrganizationNotification
      description: Retrieves a specific notification by id
      operationId: fetchOrganizationNotification
      parameters:
      - name: organization_notification
        in: path
        description: Primary identifier for specified Organization Notification
        required: true
        schema:
          type: integer
          example: 238
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationNotification'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    put:
      tags:
      - Organization Notification
      summary: updateOrganizationNotification
      description: Update nofication
      operationId: updateOrganizationNotification
      parameters:
      - name: organization_notification
        in: path
        description: Primary identifier of Organization Notification
        required: true
        schema:
          type: integer
          example: 238
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationNotificationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationNotification'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Organization Notification
      summary: deleteOrganizationNotification
      description: Delete a Organization Notification
      operationId: deleteOrganizationNotification
      parameters:
      - name: organization_notification
        in: path
        description: Primary identifier of Organization Notification
        required: true
        schema:
          type: integer
          example: 238
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    OrganizationNotification:
      title: Organization Notification
      properties:
        id:
          description: Primary identifier of record
          type: integer
          example: 238
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        type:
          description: Type of notifications to be received
          type: string
          enum:
          - transaction
          - third_party
          - recurring
          - fundraising
          - chargeback
          - payout_report
          example: transaction
        email_address:
          description: Email address who will receive the updates
          type: string
          example: test@gofundme.com
        enabled:
          description: Indicates if the Notification is active or not
          type: boolean
          example: true
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    OrganizationNotificationFillable:
      title: Organization Notification Fillable
      properties:
        enabled:
          description: Indicates if the Notification is active or not
          type: boolean
          example: true
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
