openapi: 3.2.0
info:
  title: GoFundMe Pro Campaign Studio API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Campaign Studio
  description: Campaign Studio
paths:
  /studio-campaigns/{campaign_id}/js-customizations/{block_id}:
    get:
      tags:
      - Campaign Studio
      summary: Get JavaScript customization for a campaign block
      description: Requires privateEndpoint auth and organization tag 'custom-embedded-code'. When published=true, returns the latest published version; otherwise returns the latest version regardless of status.
      operationId: 526e41d930109fdb804ed379c5d373c6
      parameters:
      - name: campaign_id
        in: path
        description: Campaign ID
        required: true
        schema:
          type: integer
      - name: block_id
        in: path
        description: Block identifier
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
      - name: published
        in: query
        description: If true, return latest published; else latest regardless of status
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JavaScriptCustomization'
        '403':
          description: Forbidden or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Campaign Studio
      summary: Update or create a new JavaScript customization version
      description: Requires privateEndpoint auth and admin authorization. Organization must have 'custom-embedded-code' tag. If latest is published, creates a new draft version; otherwise updates existing draft in place. Security scan is only triggered if scan=1 parameter is included.
      operationId: 2ed3761e4bc48c4c1cf815df20fecbd7
      parameters:
      - name: campaign_id
        in: path
        description: Campaign ID
        required: true
        schema:
          type: integer
      - name: block_id
        in: path
        description: Block identifier
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
      - name: scan
        in: query
        description: Set to 1 to trigger security scan
        required: false
        schema:
          type: string
          enum:
          - '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JavaScriptCustomizationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JavaScriptCustomization'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Forbidden or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Campaign Studio
      summary: Create first JavaScript customization version for a block
      description: Requires privateEndpoint auth and admin authorization. Organization must have 'custom-embedded-code' tag. Creates version 1 for the block and fails if the block already exists. Security scan is only triggered if scan=1 parameter is included.
      operationId: 9a7ad31a4551cb43a41cd356ddc23e68
      parameters:
      - name: campaign_id
        in: path
        description: Campaign ID
        required: true
        schema:
          type: integer
      - name: block_id
        in: path
        description: Block identifier
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
      - name: scan
        in: query
        description: Set to 1 to trigger security scan
        required: false
        schema:
          type: string
          enum:
          - '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JavaScriptCustomizationFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JavaScriptCustomization'
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Forbidden or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    JavaScriptCustomization:
      title: JavaScript Customization
      description: Versioned custom HTML/CSS/JS snippet attached to a Campaign.
      properties:
        _id:
          description: MongoDB identifier
          type: string
          example: 650f2a8c1f1a2b3c4d5e6f70
        campaign_id:
          description: Associated campaign ID
          type: integer
          example: 12345
        block_id:
          description: Block identifier
          type: string
          example: hyVQjxoz9DV-JX6IemnCI
        html_content:
          description: Custom HTML/CSS/JS content as a string
          type: string
          example: <div>...</div>
        status:
          description: Status of the customization
          type: string
          enum:
          - draft
          - published
          - scanning
          - failed
          example: draft
        version:
          description: Version number per (campaign_id, block_id)
          type: integer
          example: 1
        published_at:
          description: Timestamp when promoted to published
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    JavaScriptCustomizationFillable:
      title: JavaScript Customization Write
      required:
      - html_content
      properties:
        html_content:
          description: Custom HTML/CSS/JS content as a string
          type: string
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
