openapi: 3.2.0
info:
  title: GoFundMe Pro Annual Summary API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Annual Summary
  description: Annual Summary
paths:
  /organizations/{organization_id}/annual-summary-reports/{year}:
    get:
      tags:
      - Annual Summary
      summary: Get Organization ASR Batch for Year
      description: Get the ASR batch for an organization for a specific year. Returns the single batch or 404 if none exists.
      operationId: getOrganizationAsrBatch
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: year
        in: path
        description: The report year
        required: true
        schema:
          type: integer
          example: 2024
      - name: status
        in: query
        description: Filter by batch status
        required: false
        schema:
          type: string
          enum:
          - pending
          - processing
          - generating
          - completed
          - failed
          example: completed
      - name: limit
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          example: 10
      responses:
        '200':
          description: Batch information
          content:
            application/json:
              schema:
                properties:
                  organization_id:
                    type: integer
                    example: 1
                  report_year:
                    type: integer
                    example: 2024
                  status:
                    type: string
                    example: completed
                  total_count:
                    type: integer
                    example: 1000
                  completed_count:
                    type: integer
                    example: 1000
                  failed_count:
                    type: integer
                    example: 0
                  progress_percentage:
                    type: integer
                    example: 100
                  is_complete:
                    type: boolean
                    example: true
                  is_processing:
                    type: boolean
                    example: false
                  started_at:
                    type:
                    - string
                    - 'null'
                    example: '2024-10-06T12:00:00+00:00'
                  completed_at:
                    type:
                    - string
                    - 'null'
                    example: '2024-10-06T12:30:00+00:00'
                  scheduled_at:
                    type:
                    - string
                    - 'null'
                    example: '2024-10-06T14:00:00+00:00'
                  audience:
                    description: Audience segmentation for the batch
                    properties:
                      offline:
                        type: boolean
                        example: true
                      one_time:
                        type: boolean
                        example: true
                      recurring:
                        type: boolean
                        example: true
                    type: object
                  created_at:
                    type: string
                    example: '2024-10-06T11:55:00+00:00'
                  updated_at:
                    type: string
                    example: '2024-10-06T12:30:00+00:00'
                type: object
        '404':
          description: No batch found for this year
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: No batch found for this year
                  message:
                    type: string
                    example: No ASR batch exists for 2024. Use POST to create one.
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
    post:
      tags:
      - Annual Summary
      summary: Generate Annual Summary Reports for Organization (Batch)
      description: Generate ASR PDFs for all supporters in an organization who made transactions in the specified year. This is an asynchronous operation.
      operationId: generateOrganizationAsrBatch
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: year
        in: path
        description: The report year
        required: true
        schema:
          type: integer
          example: 2024
      requestBody:
        content:
          application/json:
            schema:
              properties:
                start_date:
                  description: Start date for the report (optional, defaults to January 1st of report_year)
                  type: string
                  format: date
                  example: '2024-01-01'
                end_date:
                  description: End date for the report (optional, defaults to December 31st of report_year)
                  type: string
                  format: date
                  example: '2024-12-31'
              type: object
      responses:
        '202':
          description: Batch generation started
          content:
            application/json:
              schema:
                properties:
                  organization_id:
                    description: Organization ID
                    type: integer
                    example: 1
                  report_year:
                    description: Report year
                    type: integer
                    example: 2024
                  status:
                    description: Current batch status
                    type: string
                    example: pending
                  message:
                    type: string
                    example: Batch generation started.
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                    example:
                      report_year:
                      - The report year field is required.
                type: object
  /organizations/{organization_id}/annual-summary-reports/{year}/supporters/{supporter_id}/download:
    get:
      tags:
      - Annual Summary
      summary: Download PDF from Batch ASR Generation
      description: Get a presigned download URL for a supporter's PDF from a completed batch
      operationId: downloadBatchAsrPdf
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: year
        in: path
        description: The report year
        required: true
        schema:
          type: integer
          example: 2024
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 7
      responses:
        '200':
          description: Presigned download URL
          content:
            application/json:
              schema:
                properties:
                  download_url:
                    description: S3 presigned URL for file download
                    type: string
                    example: https://s3.amazonaws.com/bucket/file.pdf?presigned-params
                  filename:
                    description: Suggested filename
                    type: string
                    example: GivingSummary_JohnDoe_2024.pdf
                  expires_at:
                    description: ISO 8601 timestamp when the presigned URL expires
                    type: string
                    example: '2024-10-08T12:00:00+00:00'
                  content_type:
                    description: MIME type
                    type: string
                    example: application/pdf
                type: object
        '400':
          description: Batch is not yet completed
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Batch is not yet completed
                  status:
                    type: string
                    example: generating
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Batch or supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization_id}/annual-summary-reports/{year}/schedule:
    put:
      tags:
      - Annual Summary
      summary: Update ASR Batch Schedule and/or Audience
      description: Update the scheduled delivery time and/or audience filters for an ASR batch. Both parameters are optional - you can update schedule only, audience only, or both together. The batch must be in 'scheduled' or 'pending' status. Changes are synced to the legacy MongoDB Message for compatibility.
      operationId: updateOrganizationAsrBatchSchedule
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: year
        in: path
        description: The report year
        required: true
        schema:
          type: integer
          example: 2024
      requestBody:
        content:
          application/json:
            schema:
              properties:
                scheduled_at:
                  description: When to execute the batch (optional, must be in the future)
                  type: string
                  format: date-time
                  example: '2024-12-31T23:59:59Z'
                audience:
                  description: Audience filters to determine which supporters receive reports (optional). At least one type must be enabled if provided.
                  properties:
                    offline:
                      description: Include supporters with offline donations
                      type: boolean
                      example: true
                    one_time:
                      description: Include supporters with one-time donations
                      type: boolean
                      example: true
                    recurring:
                      description: Include supporters with recurring donations
                      type: boolean
                      example: true
                  type: object
              type: object
      responses:
        '200':
          description: Batch updated successfully
          content:
            application/json:
              schema:
                properties:
                  organization_id:
                    type: integer
                    example: 1
                  report_year:
                    type: integer
                    example: 2024
                  status:
                    type: string
                    example: scheduled
                  scheduled_at:
                    type:
                    - string
                    - 'null'
                    example: '2024-12-31T23:59:59+00:00'
                  audience:
                    properties:
                      offline:
                        type: boolean
                        example: true
                      one_time:
                        type: boolean
                        example: true
                      recurring:
                        type: boolean
                        example: true
                    type: object
                  message:
                    type: string
                    example: Batch updated successfully.
                type: object
        '404':
          description: Batch not found
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Batch not found
                type: object
        '422':
          description: Validation error or cannot update batch in current status
          content:
            application/json:
              schema:
                oneOf:
                - properties:
                    error:
                      type: string
                      example: Validation failed
                    errors:
                      type: object
                      example:
                        scheduled_at:
                        - The scheduled at must be a date after now.
                        audience:
                        - At least one audience type must be enabled (offline, one_time, or recurring).
                  type: object
                - properties:
                    error:
                      type: string
                      example: Cannot update batch
                    message:
                      type: string
                      example: Batch is currently processing and cannot be updated
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
  /organizations/{organization_id}/supporters/{supporter_id}/annual-summary:
    post:
      tags:
      - Annual Summary
      summary: Send Annual Summary Email to Supporter (Admin)
      description: Send an annual summary email to a specific supporter. This is an admin-initiated action that does not require a bulk batch send.
      operationId: sendSupporterAnnualSummaryEmail
      parameters:
      - name: organization_id
        in: path
        description: The specified Organization ID
        required: true
        schema:
          type: integer
          example: 1
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 5827
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - report_year
              properties:
                report_year:
                  description: Four digit year for which the summary is being requested
                  type: integer
                  example: 2025
                email:
                  description: Optional email address to send the summary to (defaults to supporter's email)
                  type: string
                  example: donor@example.com
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Annual summary email queued for delivery
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found or does not belong to organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Validation failed
                  errors:
                    type: object
                type: object
      security:
      - OAuth2Member: []
  /supporters/{supporter_id}/annual-summary:
    post:
      tags:
      - Annual Summary
      summary: Generate Annual Summary Report for Supporter
      description: Generate an annual summary report PDF for the specified supporter and return a presigned S3 URL for download
      operationId: generateSupporterAnnualSummary
      parameters:
      - name: supporter_id
        in: path
        description: The specified Supporter ID
        required: true
        schema:
          type: integer
          example: 1427264
      requestBody:
        content:
          application/json:
            schema:
              properties:
                report_year:
                  description: The year for the annual summary report
                  type: integer
                  example: 2024
                start_date:
                  description: Start date for the report (optional, defaults to January 1st of report_year)
                  type: string
                  format: date
                  example: '2024-01-01'
                end_date:
                  description: End date for the report (optional, defaults to December 31st of report_year)
                  type: string
                  format: date
                  example: '2024-12-31'
              type: object
      responses:
        '200':
          description: Annual summary report download information
          content:
            application/json:
              schema:
                properties:
                  download_url:
                    description: S3 presigned URL for file download
                    type: string
                    example: https://s3.amazonaws.com/bucket/file.pdf?presigned-params
                  filename:
                    description: Filename in format GivingSummary_[SupporterName]_YYYY.pdf
                    type: string
                    example: GivingSummary_JohnDoe_2024.pdf
                  expires_at:
                    description: ISO 8601 timestamp when the presigned URL expires
                    type: string
                    example: '2024-01-02T12:00:00+00:00'
                  file_size:
                    description: File size in bytes
                    type: string
                    example: '1048576'
                  content_type:
                    description: MIME type
                    type: string
                    example: application/pdf
                  type:
                    description: File type identifier
                    type: string
                    example: annual_summary
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Supporter not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '500':
          description: PDF generation or S3 upload failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Failed to generate annual summary report
                  message:
                    type: string
                    example: Error details
                type: object
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
