openapi: 3.2.0
info:
  title: GoFundMe Pro Chariot API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Chariot
  description: Chariot
paths:
  /chariot/create-grant:
    post:
      tags:
      - Chariot
      summary: Create a new Chariot grant
      description: Create Chariot Grant
      operationId: 5287cfac33f2ece8e6279d2f73f4f081
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                organizationId:
                  description: Organization ID
                  type: integer
                campaignId:
                  description: Campaign ID
                  type: integer
                workflowSessionId:
                  description: Chariot workflow session ID
                  type: string
                amount:
                  description: Grant amount
                  type: number
                  format: float
                note:
                  description: Grant note/description
                  type: string
                designation:
                  description: Grant designation
                  type: string
                donor:
                  description: Donor information
                  properties:
                    address:
                      properties:
                        line1:
                          type: string
                          example: 123 Main St
                        line2:
                          type: string
                          example: Apt 1
                        city:
                          type: string
                          example: San Francisco
                        state:
                          type: string
                          example: CA
                        country:
                          type: string
                          example: US
                        postalCode:
                          type: string
                          example: '94105'
                      type: object
                    email:
                      type: string
                      format: email
                      example: johndoe@gmail.com
                    firstName:
                      type: string
                      example: John
                    lastName:
                      type: string
                      example: Doe
                  type: object
              type: object
      responses:
        '201':
          description: Grant created successfully
          content:
            application/json:
              schema:
                properties:
                  address:
                    properties:
                      line1:
                        type: string
                        example: 123 Main St
                      line2:
                        type: string
                        example: Apt 1
                      city:
                        type: string
                        example: San Francisco
                      state:
                        type: string
                        example: CA
                      country:
                        type: string
                        example: US
                      postalCode:
                        type: string
                        example: '94105'
                    type: object
                  amount:
                    description: Grant amount in cents
                    type: integer
                    example: 500000
                  coverFees:
                    type: boolean
                    example: false
                  createdAt:
                    type: string
                    format: date-time
                    example: '2025-09-04T20:05:22.964378Z'
                  email:
                    type: string
                    format: email
                    example: johndoe@gmail.com
                  externalGrantId:
                    type: string
                    example: '381467'
                  feeAmount:
                    description: Fee amount in cents
                    type: integer
                    example: 0
                  feeDetail:
                    properties:
                      total:
                        type: integer
                        example: 0
                      contributions:
                        type: array
                        items:
                          type: object
                    type: object
                  firstName:
                    type: string
                    example: Dev
                  fundId:
                    type: string
                    format: uuid
                    example: 7f75042d-7af1-4ce0-9686-484421b8e74f
                  id:
                    type: string
                    format: uuid
                    example: 21f29c64-6f9d-45b0-9dd0-2a8392f91314
                  lastName:
                    type: string
                    example: Eloper
                  metadata:
                    type:
                    - object
                    - 'null'
                  note:
                    type: string
                    example: Test
                  paymentChannel:
                    type: string
                    example: dafpay_network
                  status:
                    type: string
                    enum:
                    - Initiated
                    - Processing
                    - Completed
                    - Failed
                    example: Initiated
                  trackingId:
                    type: string
                    example: UMX6Z51618
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2025-09-04T20:05:22.964378Z'
                  userFriendlyId:
                    type: string
                    example: '123059'
                  workflowSessionId:
                    type: string
                    format: uuid
                    example: 44a0c706-0e4b-4ef8-897f-bb85390856b9
                type: object
        '400':
          description: Malformed payload provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MalformedPayloadResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /organizations/{organization_id}/chariot-integration:
    get:
      tags:
      - Chariot
      summary: Get Chariot integration details
      description: Retrieve the Chariot integration details for a specific organization
      operationId: 596c5b8cfa0ea0d1c97a7070481275d6
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      responses:
        '200':
          description: Chariot integration details retrieved successfully
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    example: 1
                  organization_id:
                    type: integer
                    example: 123
                  chariot_organization_id:
                    type: string
                    example: org_123456
                  chariot_connect_id:
                    type: string
                    example: conn_789012
                  active:
                    type: boolean
                    example: true
                  metadata:
                    properties:
                      chariot_organization:
                        type: object
                      chariot_connect:
                        type: object
                      created_by:
                        type: integer
                        example: 456
                    type: object
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization or integration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Chariot
      summary: Create Chariot integration
      description: Create a new Chariot integration for the specified organization
      operationId: dcd0d2ca7a6d61ec1ff4362d73f6e699
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      requestBody:
        description: Chariot integration configuration
        required: true
        content:
          application/json:
            schema:
              properties:
                ein:
                  description: Organization EIN (optional if organization already has EIN)
                  type: string
                  example: 12-3456789
                connect_name:
                  description: Name for the Chariot connect (optional)
                  type: string
                  example: My Organization Integration
                webhook_url:
                  description: Webhook URL for notifications (optional)
                  type: string
                  example: https://api.example.com/webhooks/chariot
              type: object
      responses:
        '201':
          description: Chariot integration created successfully
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    example: 1
                  organization_id:
                    type: integer
                    example: 123
                  chariot_organization_id:
                    type: string
                    example: org_123456
                  chariot_connect_id:
                    type: string
                    example: conn_789012
                  active:
                    type: boolean
                    example: true
                  metadata:
                    type: object
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                type: object
        '400':
          description: Bad request - validation errors or business logic errors
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration already exists for this organization
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '409':
          description: Conflict - integration already exists
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration already exists for this organization
                type: object
    delete:
      tags:
      - Chariot
      summary: Delete Chariot integration
      description: Remove the Chariot integration for the specified organization
      operationId: 57eca9dca1c2479d1e46b9313f271cfc
      parameters:
      - name: organization_id
        in: path
        description: The ID of the organization
        required: true
        schema:
          type: integer
          example: 123
      responses:
        '200':
          description: Chariot integration deleted successfully
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
                type: object
        '400':
          description: Bad request - integration not found or deletion failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Chariot integration not found for this organization
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    MalformedPayloadResponse:
      title: Malformed Payload Response
      properties:
        errors:
          description: Description of detected errors in request
          type: array
          items:
            type: string
            example: Malformed JSON payload.
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
