openapi: 3.2.0
info:
  title: GoFundMe Pro Fundraising Team API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Fundraising Team
  description: Represents a group of donors consisting of a team lead fundraising together to reach a fundraising goal.
paths:
  /campaigns/{campaign}/fundraising-teams:
    get:
      tags:
      - Fundraising Team
      summary: listCampaignFundraisingTeams
      description: Retrieves a list of all Fundraising Teams for the specified Campaign
      operationId: listCampaignFundraisingTeams
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      - name: with
        in: query
        description: Request specific relationships to be returned with the FundraisingTeam
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - campaign
            - cover_photo
            - logo
            - team_lead
            - team_policy
            example: campaign
      - name: fields
        in: query
        description: Comma-separated list of fields to be returned.
        required: false
        schema:
          type: string
          enum:
          - campaign_id
          - city
          - country
          - cover_photo_id
          - cover_photo_url
          - created_at
          - currency_code
          - description
          - goal
          - id
          - logo_id
          - logo_url
          - name
          - organization_id
          - parent_id
          - postal_code
          - raw_currency_code
          - raw_goal
          - root_id
          - state
          - status
          - team_lead_id
          - team_lead_supporter_id
          - thank_you_text
          - updated_at
          - canonical_url
          - designation_id
          - team_policy_id
          example: id
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Teams
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeam'
                    first_page_url:
                      example: '{host}/campaigns/227362/fundraising-teams?page=1'
                    last_page_url:
                      description: '{host}/campaigns/227362/fundraising-teams?page=1'
                    path:
                      description: '{host}/campaigns/227362/fundraising-teams'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    post:
      tags:
      - Fundraising Team
      summary: createCampaignFundraisingTeam
      description: Create a Fundraising Team for the specified Campaign
      operationId: createCampaignFundraisingTeam
      parameters:
      - name: campaign
        in: path
        description: Primary identifier of specified Campaign
        required: true
        schema:
          type: integer
          example: 227362
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraisingTeamFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeam'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{fundraising_team}:
    get:
      tags:
      - Fundraising Team
      summary: fetchFundraisingTeam
      description: Retrieves a specified Fundraising Team
      operationId: fetchFundraisingTeam
      parameters:
      - name: fundraising_team
        in: path
        description: Primary identifier of specified Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      - name: aggregates
        in: query
        description: Request FundraisingTeam Aggregates to be returned
        required: false
        schema:
          type: boolean
          example: true
      - name: with
        in: query
        description: Request specific relationships to be returned with the FundraisingTeam
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - campaign
            - cover_photo
            - logo
            - team_lead
            - team_policy
            example: campaign
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeam'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
    put:
      tags:
      - Fundraising Team
      summary: updateFundraisingTeam
      description: Update a Fundraising Team
      operationId: updateFundraisingTeam
      parameters:
      - name: fundraising_team
        in: path
        description: Primary identifier of Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundraisingTeamFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundraisingTeam'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Fundraising Team
      summary: deleteFundraisingTeam
      description: Delete a Fundraising Team
      operationId: deleteFundraisingTeam
      parameters:
      - name: fundraising_team
        in: path
        description: Primary identifier of Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      security:
      - OAuth2Member: []
  /fundraising-teams/{id}/subteams:
    get:
      tags:
      - Fundraising Team
      summary: listSubteams
      description: Retrieves a list of all SubTeams for specified Fundraising Teams
      operationId: listSubteams
      parameters:
      - name: id
        in: path
        description: Primary identifier of Fundraising Team
        required: true
        schema:
          type: integer
          example: 209745
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Teams
                      type: array
                      items:
                        allOf:
                        - $ref: '#/components/schemas/FundraisingTeam'
                        - properties:
                            id:
                              type: integer
                              example: 542
                            parent_id:
                              type: integer
                              example: 209745
                          type: object
                    first_page_url:
                      example: '{host}/fundraising-teams/209745/subteams?page=1'
                    last_page_url:
                      description: '{host}/fundraising-teams/209745/subteams?page=1'
                    path:
                      description: '{host}/fundraising-teams/209745/subteams'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /fundraising-teams/{fundraising_team}/overview:
    get:
      tags:
      - Fundraising Team
      summary: fetchFundraisingTeamOverview
      description: Retrieves aggregate records for the Fundraising Page's transactions.
      operationId: fetchFundraisingTeamOverview
      parameters:
      - name: fundraising_team
        in: path
        description: The specified Fundraising Team ID
        required: true
        schema:
          type: integer
          example: 209745
      - name: interval
        in: query
        description: Interval period of Fundraising Page overview
        required: false
        schema:
          type: string
          enum:
          - daily
          - weekly
          example: weekly
      - name: start_date
        in: query
        description: The date from which aggregation results will start. This is translated into a start_time, which is the beginning of the date presented in the timezone of the team's Campaign. If the Fundraising Team's Campaign has no associated timezone, this timezone will default to UTC.
        required: false
        schema:
          type: string
          example: '2020-02-02 12:00:45'
      - name: end_date
        in: query
        description: The date at which aggregation results will end. This is translated into a end_time, which is the end of the date presented in the timezone of the team's Campaign. If the Fundraising Team's Campaign has no associated timezone, this timezone will default to UTC.
        required: false
        schema:
          type: string
          example: '2020-02-02 12:00:45'
      - name: timezone
        in: query
        description: Timezone for start_date and end_date.
        required: false
        schema:
          type: string
          example: America/Los_Angeles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  end_time:
                    description: The end time used to filter results represented in aggregation
                    type:
                    - string
                    - 'null'
                    format: date-time
                    example: 2016-02-11T08:00:00+0000
                  start_time:
                    description: The start time used to filter results represented in aggregation
                    type:
                    - string
                    - 'null'
                    format: date-time
                    example: 2016-02-11T08:00:00+0000
                  timezone:
                    description: The timezone used to establish date ranges and start/end times for aggregation
                    type:
                    - string
                    - 'null'
                    example: America/Los_Angeles
                  metrics:
                    description: The metrics of Fundraising Team overview
                    properties:
                      soft_credits_amount:
                        description: Amount of soft credits
                        type: number
                        format: double
                        example: 50
                      start_date:
                        description: The date from which aggregation results started.
                        type:
                        - string
                        - 'null'
                        format: date-time
                        example: '2020-02-02 12:00:45'
                      donations_amount:
                        description: The gross amount raised from donations
                        type: number
                        format: double
                        example: 1439.2
                      donors_count:
                        description: The number of unique Members who transacted with the Fundraising Team
                        type: integer
                        example: 20
                      fees_amount:
                        description: The total fees incurred by Fundraising Team Transactions
                        type: number
                        format: double
                        example: 5.4
                      gross_amount:
                        description: The gross amount transacted for the Fundraising Team
                        type: number
                        format: double
                        example: 65
                      net_amount:
                        description: The net amount transacted for the fundraising Team (gross_amount - fees_amount)
                        type: number
                        format: double
                        example: 59.6
                      percent_to_goal:
                        description: The percentage of money transacted to the goal amount. (100 * gross_amount/goal)
                        type: number
                        format: double
                        example: 1
                      registrations_amount:
                        description: The gross amount raised from Tickets and Registrations
                        type: number
                        format: double
                        example: 560.2
                      transactions_count:
                        description: The number of discrete Transactions made for the Fundraising Team
                        type: integer
                        example: 20
                      progress_bar_amount:
                        description: The total amount displayed on the progress bar
                        type:
                        - number
                        - 'null'
                        format: double
                        example: 65
                    type: object
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Fundraising Team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
  /members/{member_id}/fundraising-teams:
    get:
      tags:
      - Fundraising Team
      summary: listMemberFundraisingTeams
      description: Retrieves a list of all Fundraising Teams for the specified Member
      operationId: listMemberFundraisingTeams
      parameters:
      - name: member_id
        in: path
        description: Primary identifier of specified Member
        required: true
        schema:
          type: integer
          example: 2012
      - name: with
        in: query
        description: Request specific relationships to be returned with the Fundraising Team
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - campaign
            - cover_photo
            - logo
            - team_lead
            - team_policy
            example: campaign
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Teams
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeam'
                      deprecated: true
                    first_page_url:
                      example: '{host}/members/2012/fundraising-teams?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/members/2012/fundraising-teams?page=1'
                      deprecated: true
                    path:
                      description: '{host}/members/2012/fundraising-teams'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
  /members/{member_id}/leading-fundraising-teams:
    get:
      tags:
      - Fundraising Team
      summary: listMemberLeadingFundraisingTeams
      description: Retrieves a list of all Fundraising Teams for which the specified Member is the team lead
      operationId: listMemberLeadingFundraisingTeams
      parameters:
      - name: member_id
        in: path
        description: Primary identifier of specified Member
        required: true
        schema:
          type: integer
          example: 2012
      - name: with
        in: query
        description: Request specific relationships to be returned with the Fundraising Team
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - campaign
            - cover_photo
            - logo
            - team_lead
            - team_policy
            example: campaign
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Teams
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeam'
                      deprecated: true
                    first_page_url:
                      example: '{host}/members/2012/fundraising-teams?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/members/2012/fundraising-teams?page=1'
                      deprecated: true
                    path:
                      description: '{host}/members/2012/fundraising-teams'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
  /organizations/{organization}/fundraising-teams:
    get:
      tags:
      - Fundraising Team
      summary: listOrganizationFundraisingTeams
      description: Retrieves a list of all Fundraising Teams for the specified Organization
      operationId: listOrganizationFundraisingTeams
      parameters:
      - name: organization
        in: path
        description: Primary identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      - name: with
        in: query
        description: Request specific relationships to be returned with the Fundraising Team
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - campaign
            - cover_photo
            - logo
            - team_lead
            - team_policy
            example: campaign
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Fundraising Teams
                      type: array
                      items:
                        $ref: '#/components/schemas/FundraisingTeam'
                    first_page_url:
                      example: '{host}/organizations/82364/fundraising-teams?page=1'
                    last_page_url:
                      description: '{host}/organizations/82364/fundraising-teams?page=1'
                    path:
                      description: '{host}/organizations/82364/fundraising-teams'
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    FundraisingTeam:
      title: Fundraising Team
      properties:
        campaign_id:
          description: Primary identifier of associated Campaign
          type: integer
          example: 227362
        city:
          description: City
          type:
          - string
          - 'null'
          maxLength: 50
          example: San Diego
        country:
          description: Country. Must be a valid ISO 3166-1 alpha-2 country code
          type:
          - string
          - 'null'
          maxLength: 2
          example: US
        cover_photo_id:
          description: Primary identifier of asset used as the Fundraising Team cover photo
          type:
          - integer
          - 'null'
          example: 1145
        cover_photo_url:
          description: URL for cover photo image. Interpreted from cover_photo asset specified by cover_photo_id
          type:
          - string
          - 'null'
          example: https://gofundme-cdn-url.com/your-cover-photo.png
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        currency_code:
          description: ISO code of the currency against which this Fundraising Team is normalized. Defaults to USD
          type: string
          maxLength: 3
          example: USD
        description:
          description: Team description
          type:
          - string
          - 'null'
          example: My team description
        goal:
          description: Fundraising Goal for this Team normalized against 'currency_code'. Defaults to the campaign's default team goal
          type: number
          format: float
          example: 108.23
        id:
          description: Primary identifier of record
          type: integer
          example: 209745
        logo_id:
          description: Primary identifier of associated Asset
          type:
          - integer
          - 'null'
          example: 1145
        logo_url:
          description: URL for logo image. Either hardcoded URL for legacy Fundraising Teams or interpreted from logo Asset specified by logo_id
          type:
          - string
          - 'null'
          maxLength: 255
          example: https://gofundme-cdn-url.com/your-cover-photo.png
        name:
          description: Team name
          type: string
          maxLength: 127
          example: My Team
        organization_id:
          description: Primary identifier of associated Organization
          type:
          - integer
          - 'null'
          example: 82364
        parent_id:
          description: Parent Team ID. Used for creating a team hierarchy. Fundraising Team Policy must support SubTeam creation if a Parent Team ID is supplied
          type:
          - integer
          - 'null'
          example: 209750
        postal_code:
          description: Postal Code
          type:
          - string
          - 'null'
          maxLength: 50
          example: '90210'
        raw_currency_code:
          description: ISO code of the default currency in which this Fundraising Team should be presented. Defaults to 'currency_code' if not specified
          type: string
          example: EUR
        raw_goal:
          description: Raw fundraising goal for this Team
          type: string
          example: '100'
        root_id:
          description: Team ID at the highest level of the hierarchy. Fundraising Team Policy must support SubTeam creation if a Root ID is supplied
          type:
          - integer
          - 'null'
          example: 3345
        state:
          description: State/province code. Must be a valid USPS state code
          type:
          - string
          - 'null'
          maxLength: 100
          example: CA
        status:
          description: Team status
          type:
          - string
          - 'null'
          enum:
          - active
          - deleted
          - pending_approval
          - pending_cart_questions
          - pending_cart_completion
          example: active
        team_lead_id:
          description: Primary identifier of associated Team Lead
          type:
          - integer
          - 'null'
          example: 2012
        team_lead_supporter_id:
          description: Primary identifier of associated Team Lead Supporter
          type:
          - integer
          - 'null'
          example: 7845
        thank_you_text:
          description: Default thank you text on the thank you page
          type:
          - string
          - 'null'
          example: Thank you!
        updated_at:
          description: Date/time of last record update
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T10:25:03Z'
        canonical_url:
          description: The canonical url of the Fundraising Team
          type:
          - string
          - 'null'
          example: /team/10
        designation_id:
          description: Primary identifier of associated Designation
          type:
          - integer
          - 'null'
          example: 34672
        team_policy_id:
          description: Primary identifier of associated Team Policy
          type:
          - integer
          - 'null'
          example: 2354
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    FundraisingTeamFillable:
      title: Fundraising Team Fillable
      properties:
        city:
          description: City
          type:
          - string
          - 'null'
          maxLength: 50
          example: San Diego
        country:
          description: Country. Must be a valid ISO 3166-1 alpha-2 country code
          type:
          - string
          - 'null'
          maxLength: 2
          example: US
        description:
          description: Team description
          type:
          - string
          - 'null'
          example: My team description
        name:
          description: Team name
          type: string
          maxLength: 127
          example: My Team
        postal_code:
          description: Postal Code
          type:
          - string
          - 'null'
          maxLength: 50
          example: '90210'
        raw_currency_code:
          description: ISO code of the default currency in which this Fundraising Team should be presented. Defaults to 'currency_code' if not specified
          type:
          - string
          - 'null'
          maxLength: 3
          example: EUR
        raw_goal:
          description: Raw fundraising goal for this team. If unspecified, defaults to the team goal value set on the campaign
          type:
          - string
          - 'null'
          example: '100'
        state:
          description: State/province name. Must be a valid USPS state code
          type:
          - string
          - 'null'
          maxLength: 100
          example: CA
        supporter_first_name:
          description: Optional. Recorded as the first name on the supporter created for the team lead when the campaign's organization has Contact-First Architecture enabled; ignored otherwise. Leading and trailing whitespace is trimmed before storage, and emoji characters are rejected with a 400 response. Honored only on team creation (POST /campaigns/{id}/fundraising-teams); silently ignored on update (PUT /fundraising-teams/{id}).
          type:
          - string
          - 'null'
          maxLength: 32
          example: Alex
        supporter_last_name:
          description: Optional. Recorded as the last name on the supporter created for the team lead when the campaign's organization has Contact-First Architecture enabled; ignored otherwise. Leading and trailing whitespace is trimmed before storage, and emoji characters are rejected with a 400 response. Honored only on team creation (POST /campaigns/{id}/fundraising-teams); silently ignored on update (PUT /fundraising-teams/{id}).
          type:
          - string
          - 'null'
          maxLength: 32
          example: Doe
        thank_you_text:
          description: Default thank you text on the thank you page
          type:
          - string
          - 'null'
          example: Thank you!
        designation_id:
          description: Primary identifier of associated Designation. Defaults to the campaign's designation
          type:
          - integer
          - 'null'
          example: 34672
        is_p2p:
          description: True when the team is owned by GFM Consumer and is read-only in GFM Pro
          type: boolean
          example: false
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
