openapi: 3.2.0
info:
  title: GoFundMe Pro Channel Fundraising Entity API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Channel Fundraising Entity
  description: Channel Fundraising Entity will be used to store additional channel details for the fundraising entity. Where fundraising_entity_id is the ID of the associated fundraising entity and fundraising_entity_type is the type of the associated fundraising entity, like a campaign or fundraising page.
paths:
  /channel-fundraising-entities/{channel_fundraising_entity}:
    get:
      tags:
      - Channel Fundraising Entity
      summary: showChannelFundraisingEntity
      description: Retrieves a Channel Fundraising Entity from ID
      operationId: showChannelFundraisingEntity
      parameters:
      - name: channel_fundraising_entity
        in: path
        description: The specified Channel Fundraising Entity ID
        required: true
        schema:
          type: integer
          example: 23742
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelFundraisingEntity'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Channel Fundraising Entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
  /fundraising-pages/{fundraising_page}/channels:
    post:
      tags:
      - Channel Fundraising Entity
      summary: createChannelFundraisingEntity
      description: Create Channel such as Facebook for Fundraising Page
      operationId: createChannelFundraisingEntity
      parameters:
      - name: fundraising_page
        in: path
        description: The specified Fundraising Page ID
        required: true
        schema:
          type: integer
          example: 2173528
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelFundraisingEntityFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelFundraisingEntity'
        '400':
          description: The requested Channel Integration is not allowed for this Campaign
          content:
            application/json:
              schema:
                properties:
                  errors:
                    description: Description of detected errors in request
                    type: array
                    items:
                      type: string
                      example: The requested channel integration is not allowed for this campaign
                type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
      security:
      - OAuth2Member: []
components:
  schemas:
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    ChannelFundraisingEntityFillable:
      title: Channel Fundraising Entity Fillable
      properties:
        channel_name:
          description: The name of Integration Channel
          type: string
          maxLength: 30
          enum:
          - Facebook
          - Instagram
          - DoubletheDonation
          - GoFundMe
          example: Facebook
        external_fundraising_page_id:
          description: Channel provided Fundraising Page ID
          type: string
          maxLength: 35
          example: '186503750172710'
      type: object
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    ChannelFundraisingEntity:
      title: Channel Fundraising Entity
      properties:
        channel_name:
          description: The name of Integration Channel
          type: string
          maxLength: 30
          enum:
          - Facebook
          - Instagram
          - DoubletheDonation
          - GoFundMe
          - MetaCapi
          - MetaFrapi
          example: Facebook
        created_at:
          description: Date/time of initial record creation
          type: string
          format: date-time
          example: '2021-04-23T08:23:21Z'
        deleted_at:
          description: Date/time of deletion
          type:
          - string
          - 'null'
          format: date-time
          example: '2021-04-23T10:25:03Z'
        external_fundraising_page_id:
          description: Channel provided Fundraising Page ID
          type: string
          maxLength: 128
          example: '186503750172710'
        external_fundraising_page_type:
          description: Channel provided Fundraising Page type
          type: string
          maxLength: 32
          enum:
          - Fundraiser
          - Direct
          example: Fundraiser
        fundraising_entity_id:
          description: GoFundMe Pro Fundraising Entity ID
          type: integer
          example: 72634
        fundraising_entity_type:
          description: GoFundMe Pro Fundraising Entity type
          type: string
          enum:
          - campaign
          - fundraising page
          example: campaign
        id:
          description: Primary identifier of record
          type: integer
          example: 23742
        status:
          description: Whether the channel is enabled for the fundraising entity.
          type: boolean
          example: true
        metadata:
          description: Additional channel-specific settings in JSON format
          type:
          - object
          - 'null'
          anyOf:
          - title: Meta Fundraiser API Metadata
            properties:
              progress_metrics:
                description: Whether progress metrics are enabled on the Meta fundraiser page.
                type: boolean
                example: true
              external_fundraiser_id:
                description: The unique identifier of a Meta fundraiser.
                type: string
                example: '847746727344577'
            type: object
        processing:
          description: Whether a MetaFrapi job is in progress for the associated fundraising entity
          type: boolean
          readOnly: true
          example: false
        updated_at:
          description: Date/time of last record update
          type: string
          format: date-time
          example: '2021-04-23T10:25:03Z'
      type: object
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
