openapi: 3.2.0
info:
  title: GoFundMe Pro Organization Credential Set API
  description: 'GoFundMe Pro API


    Welcome to the GoFundMe Pro API (2.0.0), a powerful toolset that empowers innovative and creative minds to engineer the world for good.'
  version: 2.0.0
servers:
- url: https://pro.gofundme.com/api/2.0
security:
- OAuth2Application: []
- OAuth2Member: []
tags:
- name: Organization Credential Set
  description: A Credential Set is fundamentally a record that dictates what a user can do or access within a Campaign or Organization context in the API.
paths:
  /organizations/{organization}/credential-sets:
    get:
      tags:
      - Organization Credential Set
      summary: listOrganizationCredentialSets
      description: Retrieves a list of all Credential Sets for the specified Organization
      operationId: listOrganizationCredentialSets
      parameters:
      - name: organization
        in: path
        description: Primary identifier of specified Organization
        required: true
        schema:
          type: integer
          example: 82364
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - properties:
                    data:
                      description: Collection of Organization Credential Sets
                      type: array
                      items:
                        $ref: '#/components/schemas/OrganizationCredentialSet'
                      deprecated: true
                    first_page_url:
                      example: '{host}/organizations/82364/credential-sets?page=1'
                      deprecated: true
                    last_page_url:
                      description: '{host}/organizations/82364/credential-sets?page=1'
                      deprecated: true
                    path:
                      description: '{host}/organizations/82364/credential-sets'
                      deprecated: true
                  type: object
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    post:
      tags:
      - Organization Credential Set
      summary: createOrganizationCredentialSet
      description: Create a Credential Set for specified Organization
      operationId: createOrganizationCredentialSet
      parameters:
      - name: organization
        in: path
        description: Primary identifier for Organization
        required: true
        schema:
          type: integer
          example: 82364
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCredentialSetFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCredentialSet'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
  /organization-credential-sets/{organization_credential_set}:
    get:
      tags:
      - Organization Credential Set
      summary: fetchOrganizationCredentialSet
      description: Retrieves a Organization Credential Set from ID
      operationId: fetchOrganizationCredentialSet
      parameters:
      - name: organization_credential_set
        in: path
        description: The specified Organization Credential Set ID
        required: true
        schema:
          type: integer
          example: 82364
      - name: with
        in: query
        description: Request specific relationships to be returned with the OrganizationCredentialSet
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - member
            - organization
            example: member
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCredentialSet'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Credential Set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
    put:
      tags:
      - Organization Credential Set
      summary: updateOrganizationCredentialSet
      description: Update a specified Organization Credential Set
      operationId: updateOrganizationCredentialSet
      parameters:
      - name: organization_credential_set
        in: path
        description: Organization Credential Set ID
        required: true
        schema:
          type: integer
          example: 82374
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCredentialSetFillable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCredentialSet'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Credential Set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
      deprecated: true
      security:
      - OAuth2Member: []
    delete:
      tags:
      - Organization Credential Set
      summary: deleteOrganizationCredentialSet
      description: Delete a specified Organization Credential Set
      operationId: deleteOrganizationCredentialSet
      parameters:
      - name: organization_credential_set
        in: path
        description: Organization Credential Set ID
        required: true
        schema:
          type: integer
          example: 82364
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          description: Requester is not authorized to perform action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
        '404':
          description: Organization Credential Set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundResponse'
        '500':
          description: Failed deleting the OrganizationCredentialSet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      deprecated: true
      security:
      - OAuth2Member: []
components:
  schemas:
    PaginatedResponse:
      title: Paginated Response
      properties:
        current_page:
          description: Index of current page
          type: integer
          example: 1
        data:
          description: Collection of results
          type: array
          items:
            type: object
        first_page_url:
          description: URL of first page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        from:
          description: Index of first displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        last_page:
          description: Index of last page in result set
          type: integer
          example: 1
        last_page_url:
          description: URL of last page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        next_page_url:
          description: URL of next page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=2
        path:
          description: URL of current page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource
        per_page:
          description: Maximum number of records returned per page of results
          type: integer
          example: 20
        prev_page_url:
          description: URL of previous page of results
          type:
          - string
          - 'null'
          example: https://pro.gofundme.com/api/2.0/resource?page=1
        links:
          description: Collection of objects representing pages {label, URL, active} that can be used to request the associated page of records.
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        to:
          description: Index of last displayed result within total result set
          type:
          - integer
          - 'null'
          example: 1
        total:
          description: Total count of records in result set
          type: integer
          example: 1
      type: object
    ResourceNotFoundResponse:
      title: Resource Not Found Response
      properties:
        error:
          description: Description of detected errors in request
          type: string
      type: object
    OrganizationCredentialSetFillable:
      title: Organization Credential Set Fillable
      properties:
        activity_wall:
          description: Indicates whether or not the Member has activity_wall access
          type: boolean
          example: true
        campaign_manager:
          description: Indicates whether or not the Member has campaign_manager access
          type: boolean
          example: true
        global_admin:
          description: Indicates whether or not the Member has global_admin access
          type: boolean
          example: true
      type: object
    PaginationLink:
      description: Object referencing a page for the resource queried that can be used to fetch that page.
      properties:
        label:
          description: Identifier of the page.
          type: string
          example: '1'
        url:
          description: URL that can be used to fetch associated page of records.
          type:
          - string
          - 'null'
          example: '{host}/{resource}?page=1'
        active:
          description: Identifies whether the previously requested page matches the page this link object references.
          type: boolean
          example: true
      type: object
    EmptyResponse:
      title: Empty Response
      type: object
      additionalProperties: false
    ForbiddenResponse:
      title: Forbidden Response
      properties:
        error:
          description: Description of detected error in request
          type: string
          example: This action is unauthorized.
      type: object
    OrganizationCredentialSet:
      title: Organization Credential Set
      properties:
        activity_wall:
          description: Indicates whether or not the Member has activity_wall access
          type: boolean
          example: true
        campaign_manager:
          description: Indicates whether or not the Member has campaign_manager access
          type: boolean
          example: true
        global_admin:
          description: Indicates whether or not the Member has global_admin access
          type: boolean
          example: true
        id:
          description: Primary identifier of record
          type: integer
          example: 82374
        member_id:
          description: Primary identifier of associated Member
          type: integer
          example: 2012
        organization_id:
          description: Primary identifier of associated Organization
          type: integer
          example: 82364
        reporting_access:
          description: Indicates whether or not the Member has reporting_access
          type: boolean
          example: true
      type: object
  parameters:
    per_page:
      name: per_page
      in: query
      description: Number of entries to return in each page of results
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: Indicator of which page of results to return
      required: false
      schema:
        type: integer
        example: 1
  securitySchemes:
    OAuth2Application:
      type: oauth2
      description: OAuth bearer token for client application
      flows:
        clientCredentials:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
    OAuth2Member:
      type: oauth2
      description: OAuth bearer token for client application with additional member context
      flows:
        password:
          tokenUrl: /oauth2/auth
          refreshUrl: /oauth2/auth
          scopes:
            read: Read access
            write: Write access
